<div class="container">
  <h3>Analytical Dashboard base on your company posted jobs</h3>

  <div class="row">
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Applicants per Job</div>
        <app-applicants-per-job-bar-chart [jobData]="jobApplicants"></app-applicants-per-job-bar-chart>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Applicant by Location</div>
        <app-applicant-location-pie-chart [jobData]="jobApplicants"></app-applicant-location-pie-chart>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Applicants by Status</div>
        <app-applicants-status-doughnut-chart [jobData]="jobApplicants"></app-applicants-status-doughnut-chart>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Resume Download Rates</div>
        <app-resume-download-rates-chart [jobData]="jobApplicants"></app-resume-download-rates-chart>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Job Viewers Over Time</div>
        <div class="sample-wrapper">
          <img [src]="themeService.isDarkMode() ? './assets/imgs/companies/dashboards/job-viewers-ot-sample-d.png' : './assets/imgs/companies/dashboards/job-viewers-ot-sample.png'" alt="sample">
          <div class="sample-overlay">
            <p>This feature is available in the pro version</p>
            <button class="unlock" routerLink="/pricing"><i class="material-icons">lock</i> Unlock</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Applicants applied Dates</div>
        <div class="sample-wrapper">
          <img [src]="themeService.isDarkMode() ? './assets/imgs/companies/dashboards/app-submission-dates-sample-d.png' : './assets/imgs/companies/dashboards/app-submission-dates-sample.png'" alt="sample">
          <div class="sample-overlay">
            <p>This feature is available in the pro version</p>
            <button class="unlock" routerLink="/pricing"><i class="material-icons">lock</i> Unlock</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Job Views by Viewer Type</div>
        <div class="sample-wrapper">
          <img [src]="themeService.isDarkMode() ? './assets/imgs/companies/dashboards/job-views-by-type-sample-d.png' : './assets/imgs/companies/dashboards/job-views-by-type-sample.png'" alt="sample">
          <div class="sample-overlay">
            <p>This feature is available in the pro version</p>
            <button class="unlock" routerLink="/pricing"><i class="material-icons">lock</i> Unlock</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Job Viewers Status</div>
        <div class="sample-wrapper">
          <img [src]="themeService.isDarkMode() ? './assets/imgs/companies/dashboards/job-views-by-status-sample-d.png' : './assets/imgs/companies/dashboards/job-views-by-status-sample.png'" alt="sample">
          <div class="sample-overlay">
            <p>This feature is available in the pro version</p>
            <button class="unlock" routerLink="/pricing"><i class="material-icons">lock</i> Unlock</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Applicants Email Domains</div>
        <div class="sample-wrapper">
          <img [src]="themeService.isDarkMode() ? './assets/imgs/companies/dashboards/applicant-email-domains-sample-d.png' : './assets/imgs/companies/dashboards/applicant-email-domains-sample.png'" alt="sample">
          <div class="sample-overlay">
            <p>This feature is available in the pro version</p>
            <button class="unlock" routerLink="/pricing"><i class="material-icons">lock</i> Unlock</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && serverError">
  <app-failed-to-load-data></app-failed-to-load-data>
</div>
<div *ngIf="notFound && !jobApplicants">
  <app-result-not-found></app-result-not-found>
</div>
<div *ngIf="corsError">
  <app-network-error></app-network-error>
</div>
<div *ngIf="forbidden && !jobApplicants || unexpectedError">
  <app-forbidden></app-forbidden>
</div>
