<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Take your business forward in steps.</h1>
    <h1>Join hands with us.</h1>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col-12 col-md-2 col-lg-3 d-none d-md-flex">
      <div class="top-hr">
        <div class="hr"></div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
      <div class="sub-topic-section">
        <h3>Welcome to Talent Boozt</h3>
        <p>At Talent Boozt, we understand the unique challenges businesses face when it comes to hiring the right
          talent. That’s why we offer innovative HR solutions, alongside our job portal, to help you grow your workforce
          efficiently. Whether you’re looking for a few top candidates or end-to-end recruitment and HR management
          tools, we have the perfect package for your company.</p>
      </div>
    </div>
    <div class="col-12 col-md-2 col-lg-3 d-none d-md-flex">
      <div class="top-hr">
        <div class="hr"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-3 col-md-12 col-lg-3">
      <div class="image-wrapper-2 d-none d-sm-flex d-md-none d-lg-flex">
        <img src="./assets/imgs/companies/man-with-tablet.svg" alt="image">
      </div>
    </div>

    <div class="col-12 col-sm-9 col-md-12 col-lg-9">
      <div class="sub-topic-section">
        <h3>Why Partner with Us?</h3>
        <p>Introduce the value proposition for companies interested in your services.</p>
      </div>

      <ul class="tick-list d-none d-md-block">
        <li><strong>Extensive Candidate Network</strong>: Access a diverse pool of talent across various industries and
          regions.
        </li>
        <li><strong>Relevant Job Openings</strong>: Find and apply to relevant job openings.</li>
        <li><strong>Recruiting Process Management</strong>: Track and manage your talent sourcing process with our
          intuitive tools.
        </li>
        <li><strong>End-to-End HR Solutions</strong>: Our comprehensive HR solutions for talent management and HR
          management.
        </li>
        <li><strong>Personalized Support</strong>: Dedicated support for your company's growth and success.</li>
        <li><strong>HR Solutions Tailored to Your Needs</strong>: Whether you need to streamline hiring or manage
          employee performance, our platform has a solution for you.
        </li>
        <li><strong>Track Performance</strong>: Track your talent performance with our comprehensive analytics.</li>
        <li><strong>Global Reach</strong>: Expand your talent pool across multiple industries with our global talent
          network.
        </li>
        <li><strong>Customized Solutions</strong>: Get tailored HR solutions tailored to your company's specific needs.
        </li>
        <li><strong>Seamless Experience</strong>: User-friendly tools that integrate with your HR processes, saving you
          time and effort.
        </li>
        <li><strong>Flexible Packages</strong>: Choose from our three packages, each designed to fit different business
          needs.
        </li>
      </ul>

      <div class="accordion d-block d-md-none" id="accordionWhy">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseOne" aria-expanded="false" aria-controls="WcollapseOne">
              Extensive Candidate Network
            </button>
          </h2>
          <div id="WcollapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Access a diverse pool of talent across various industries and regions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseTwo" aria-expanded="false" aria-controls="WcollapseTwo">
              Extensive Candidate Network
            </button>
          </h2>
          <div id="WcollapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Access a diverse pool of talent across various industries and regions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseThree" aria-expanded="false" aria-controls="WcollapseThree">
              Recruiting Process Management
            </button>
          </h2>
          <div id="WcollapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Track and manage your talent sourcing process with our intuitive tools.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseFour" aria-expanded="false" aria-controls="WcollapseFour">
              End-to-End HR Solutions
            </button>
          </h2>
          <div id="WcollapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Our comprehensive HR solutions for talent management and HR management.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseFive" aria-expanded="false" aria-controls="WcollapseFive">
              Personalized Support
            </button>
          </h2>
          <div id="WcollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Dedicated support for your company's growth and success.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseSix" aria-expanded="false" aria-controls="WcollapseSix">
              HR Solutions Tailored to Your Needs
            </button>
          </h2>
          <div id="WcollapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Whether you need to streamline hiring or manage employee performance, our platform has a solution for you.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseSeven" aria-expanded="false" aria-controls="WcollapseSeven">
              Track Performance
            </button>
          </h2>
          <div id="WcollapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Track your talent performance with our comprehensive HR solutions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseEight" aria-expanded="false" aria-controls="WcollapseEight">
              Global Reach
            </button>
          </h2>
          <div id="WcollapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Expand your talent pool across multiple industries with our global talent network.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseNine" aria-expanded="false" aria-controls="WcollapseNine">
              Customized Solutions
            </button>
          </h2>
          <div id="WcollapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Get tailored HR solutions tailored to your company's specific needs.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseTen" aria-expanded="false" aria-controls="WcollapseTen">
              Seamless Experience
            </button>
          </h2>
          <div id="WcollapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              User-friendly tools that integrate with your HR processes, saving you time and effort.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseEleven" aria-expanded="false" aria-controls="WcollapseEleven">
              Flexible Packages
            </button>
          </h2>
          <div id="WcollapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Choose from our three packages, each designed to fit different business needs.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Companies who trust the Talent Boozt</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptatum!</p>
  </div>

  <div class="popular-companies">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 pt-4" *ngFor="let c of paginatedCompanies; let i = index;">
        <div class="card-2">
          <div class="card-top">
            <div class="logo-icon-wrapper">
              <div class="logo-icon">
                <img
                  [src]="c.logo ? c.logo : './assets/imgs/shared/default_org_logo.svg'"
                  alt="{{c.name}}">
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="d-flex flex-column align-items-start">
              <div class="company-name" routerLink="/business-profile/{{c.id}}">{{c.name}}</div>
              <div
                class="company-description">{{c.shortDescription ? c.shortDescription : c.companyStory | truncate : 50}}</div>
            </div>
          </div>
          <hr>
          <div class="card-bottom">
            <div class="card-bottom-right">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>{{c.location ? c.location : 'N/A'}}</span>
            </div>
            <div class="card-bottom-left">
              <div class="open-jobs">{{ getJobCount(c.id) }} Jobs</div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-results-found" *ngIf="companyDataStore?.length === 0">
        <h3>Sorry! No results found :(</h3>
        <img src="./assets/imgs/shared/not-found.svg" alt="404">
      </div>

      <div class="search-result-not-found" *ngIf="isSearchResultNotFound">
        <h3>No search results found</h3>
        <img src="./assets/imgs/shared/result_not_found.svg" alt="404">
        <p>Try different keywords or location</p>
      </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
          <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="sub-topic-section">
    <h3>Get the complete hiring solution</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptatum!</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="pricing-wrapper">
        <div class="pricing-card">
          <div class="title">Free</div>
          <div class="desc">The basics for individuals and organizations</div>
          <div class="d-flex align-items center justify-content-center w-100">
            <span class="d-flex align-items-center">
            <sup class="sup">$</sup>
            <span class="price">0</span>
            <sub class="currency">USD</sub>
            <span class="duration">&nbsp;/month</span>
            </span>
          </div>
          <button class="btn-1">Join for free</button>

          <div class="accordion" id="accordionFree">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#FcollapseOne" aria-expanded="false" aria-controls="FcollapseOne">
                  Post 2 jobs per month
                </button>
              </h2>
              <div id="FcollapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFree">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
                  nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#FcollapseTwo" aria-expanded="false" aria-controls="FcollapseTwo">
                  Simplified dashboard
                </button>
              </h2>
              <div id="FcollapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFree">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque distinctio incidunt iusto
                  laboriosam modi nisi quis rem repellat voluptatem?
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#FcollapseThree" aria-expanded="false" aria-controls="FcollapseThree">
                  Customize your profile
                </button>
              </h2>
              <div id="FcollapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFree">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
                  doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="pricing-wrapper recommended">
        <div class="ribbon">
          <span>RECOMMENDED</span>
          <div class="pricing-card">
            <div class="title">Pro</div>
            <div class="desc">The basics for individuals and organizations</div>
            <div class="d-flex align-items center justify-content-center w-100">
            <span class="d-flex align-items-center">
            <sup class="sup">$</sup>
            <span class="price">10</span>
            <sub class="currency">USD</sub>
            <span class="duration">&nbsp;/month</span>
            </span>
            </div>
            <button class="btn-2">Continue with pro</button>

            <div class="accordion" id="accordionPro">
              <div class="separate-accordion">
                <i class="material-icons">keyboard_backspace</i>
                <span>Everything included in Free, plus...</span>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseOne" aria-expanded="false" aria-controls="PcollapseOne">
                    Post 10 jobs per month
                  </button>
                </h2>
                <div id="PcollapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
                    nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseTwo" aria-expanded="false" aria-controls="PcollapseTwo">
                    Verified
                  </button>
                </h2>
                <div id="PcollapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque distinctio incidunt iusto
                    laboriosam modi nisi quis rem repellat voluptatem?
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseThree" aria-expanded="false" aria-controls="PcollapseThree">
                    Track Ads
                  </button>
                </h2>
                <div id="PcollapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
                    doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseFour" aria-expanded="false" aria-controls="PcollapseFour">
                    Monitor applicants
                  </button>
                </h2>
                <div id="PcollapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque distinctio incidunt iusto
                    laboriosam modi nisi quis rem repellat voluptatem?
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseFive" aria-expanded="false" aria-controls="PcollapseFive">
                    Customize Ads
                  </button>
                </h2>
                <div id="PcollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
                    nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseSix" aria-expanded="false" aria-controls="PcollapseSix">
                    Help and support
                  </button>
                </h2>
                <div id="PcollapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque distinctio incidunt iusto
                    laboriosam modi nisi quis rem repellat voluptatem?
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#PcollapseSeven" aria-expanded="false" aria-controls="PcollapseSeven">
                    Customize Ads expire
                  </button>
                </h2>
                <div id="PcollapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionPro">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
                    doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="pricing-wrapper">
        <div class="pricing-card">
          <div class="title">Premium</div>
          <div class="desc">The basics for individuals and organizations</div>
          <div class="d-flex align-items center justify-content-center w-100">
            <span class="d-flex align-items-center">
            <sup class="sup">$</sup>
            <span class="price">20</span>
            <sub class="currency">USD</sub>
            <span class="duration">&nbsp;/month</span>
            </span>
          </div>
          <div class="row">
            <div class="col-6">
              <button class="btn-2">Start a free trial</button>
            </div>
            <div class="col-6">
              <button class="btn-1">Contact sales</button>
            </div>
          </div>

          <div class="accordion" id="accordionPre">
            <div class="separate-accordion">
              <i class="material-icons">keyboard_backspace</i>
              <span>Everything included in Pro, plus...</span>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#PrcollapseOne" aria-expanded="false" aria-controls="PrcollapseOne">
                  Post Unlimited jobs per month
                </button>
              </h2>
              <div id="PrcollapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionPre">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
                  nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#PrcollapseTwo" aria-expanded="false" aria-controls="PrcollapseTwo">
                  Hiring process
                </button>
              </h2>
              <div id="PrcollapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionPre">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
                  nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#PrcollapseThree" aria-expanded="false" aria-controls="PrcollapseThree">
                  Setting up demo questions
                </button>
              </h2>
              <div id="PrcollapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionPre">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
                  nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#PrcollapseFour" aria-expanded="false" aria-controls="PrcollapseFour">
                  Top rating
                </button>
              </h2>
              <div id="PrcollapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionPre">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
                  doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#PrcollapseFive" aria-expanded="false" aria-controls="PrcollapseFive">
                  Premium support
                </button>
              </h2>
              <div id="PrcollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionPre">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
                  doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#PrcollapseSix" aria-expanded="false" aria-controls="PrcollapseSix">
                  Separate tool
                </button>
              </h2>
              <div id="PrcollapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionPre">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
                  doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>HR Products for Your Business</h3>
    <p>Beyond job postings, showcase the additional HR products companies can purchase.</p>
  </div>

  <div class="row flex-row-reverse mb-2">
    <div class="col-12 col-md-6">
      <div class="product-image-wrapper">
        <img src="https://img.avery.com/f_auto,q_auto,c_scale,w_700/web/campaign/dpo-landing-hero-banner" alt="image">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="product-wrapper">
        <div class="product-title">Lorem ipsum dolor.</div>
        <div class="product-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, quod?</div>
        <div class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur
          corporis ea, enim eos id iure quod recusandae reiciendis sed sint ut voluptates! Eligendi est excepturi illum
          labore laborum laudantium magnam non obcaecati! Distinctio earum est harum nobis sunt voluptatibus?
        </div>
        <div class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur
          corporis ea, enim eos id iure quod recusandae reiciendis sed sint ut voluptates! Eligendi est excepturi illum
          labore laborum laudantium magnam non obcaecati! Distinctio earum est harum nobis sunt voluptatibus?
        </div>
        <div class="product-button">learn more</div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12 col-md-6">
      <div class="product-image-wrapper">
        <img src="https://img.avery.com/f_auto,q_auto,c_scale,w_700/web/campaign/dpo-landing-hero-banner" alt="image">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="product-wrapper">
        <div class="product-title">Lorem ipsum dolor.</div>
        <div class="product-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, quod?</div>
        <div class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur
          corporis ea, enim eos id iure quod recusandae reiciendis sed sint ut voluptates! Eligendi est excepturi illum
          labore laborum laudantium magnam non obcaecati! Distinctio earum est harum nobis sunt voluptatibus?
        </div>
        <div class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur
          corporis ea, enim eos id iure quod recusandae reiciendis sed sint ut voluptates! Eligendi est excepturi illum
          labore laborum laudantium magnam non obcaecati! Distinctio earum est harum nobis sunt voluptatibus?
        </div>
        <div class="product-button">learn more</div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <div class="top-hr">
      <div class="hr"></div>
    </div>
    <div class="view-section-btn">
      <p class="m-0">View all products</p>
    </div>
    <div class="top-hr">
      <div class="hr"></div>
    </div>
  </div>

<!--  add testimonials here  -->

  <div class="sub-topic-section pb-0">
    <h3>Call to Action</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-4 contact-card">
      <div class="icon">
        <i class="material-icons">phone</i>
      </div>
      <div class="title">
        Phone
      </div>
      <p>The phrasal sequence of the is now so that many campaign and benefit</p>
      <div class="content">+152 534-468-854</div>
    </div>
    <div class="col-12 col-md-4 contact-card">
      <div class="icon">
        <i class="material-icons">email</i>
      </div>
      <div class="title">
        Email
      </div>
      <p>The phrasal sequence of the is now so that many campaign and benefit</p>
      <div class="content">XwVpP@example.com</div>
    </div>
    <div class="col-12 col-md-4 contact-card">
      <div class="icon">
        <i class="material-icons">location_on</i>
      </div>
      <div class="title">
        Location
      </div>
      <p>The phrasal sequence of the is now so that many campaign and benefit</p>
      <div class="content">San Francisco, CA</div>
    </div>
  </div>

</div>
