<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Save Time</h1>
    <p>Talent Boozt > <span>Save Time</span></p>
  </div>
</div>

<div class="container" style="max-width: 1000px;">
  <h4 class="text-center mb-5">Save Time: Efficient Job Search Made Easy</h4>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="image-wrapper">
        <img src="./assets/imgs/shared/content-icons/banners/save-time.webp" alt="banner">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <p>In today’s fast-paced world, every minute counts. Our “Save Time” feature is designed to help you land the right job without the long, tedious search. By automating and refining your job hunt, we aim to bring the most relevant opportunities directly to you.</p>
      <p>How We Help You Save Time:</p>
      <ul>
        <li><strong>Smart Filtering: </strong>Quickly find jobs that match your skills and interests.</li>
        <li><strong>Instant Notifications: </strong>Get updates on new roles that fit your profile.</li>
        <li><strong>One-Click Applications: </strong>Apply to multiple jobs with minimal effort.</li>
      </ul>
    </div>
  </div>

  <h4 class="text-center my-5">Why Saving Time Matters</h4>
  <p>In a competitive job market, swift action is essential. Our time-saving tools enable you to apply faster, connect quicker, and focus on preparing for interviews rather than searching endlessly.</p>

  <h4 class="my-5">Optimized for Your Schedule</h4>
  <p>Whether you're on the go or balancing a busy schedule, our platform is designed to fit seamlessly into your lifestyle, so you can make the most of every moment.</p>
  <p>Let us take care of the search, so you can focus on your career growth!</p>
</div>

<div class="container" style="max-width: 1000px">
  <h4 class="w-100 text-center my-5">Key Benefits</h4>
  <div class="card-4-section">
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/tailored-recommendation.png" alt="icon">
          </div>
          <div class="card-4-title">Tailored Recommendations</div>
          <div class="card-4-cont" [title]="card1">{{card1 | truncate : 90}}</div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/personalized-alerts.png" alt="icon">
          </div>
          <div class="card-4-title">Personalized Alerts</div>
          <div class="card-4-cont" [title]="card2">{{card2 | truncate : 90}}</div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/centralized-application.png" alt="icon">
          </div>
          <div class="card-4-title">Centralized Applications</div>
          <div class="card-4-cont" [title]="card3">{{card3 | truncate : 90}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
