.h2-1{
  color: var(--color-text-300);
}

.h2-2{
  color: var(--color-text-100);
  font-weight: 700;
}

.h2-3{
  font-size: 22px;
  color: var(--color-text-300);

  span{
    color: #FF6347FF;
  }
}

.notification-area{
  padding: max(20px, 3vw) 0;

  .not-title-1, .not-title-2{
    font-weight: 450;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .not-title-1{
    color: var(--color-primary-100);
  }

  .not-title-2{
    margin-top: 20px;
    color: var(--color-text-100);
  }
}

.card-1{
  margin: 10px 0;
  padding: 20px;

  .progress-spinner{
    width: 70px!important;
    height: 70px!important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-2{
    color: var(--color-text-100);
    font-weight: 450;
    transition: all 0.3s ease;

    &:hover{
      color: var(--color-primary-100);
      cursor: pointer;
    }
  }
}

.c-j-progress{
  padding: 0 30px;

  .check-ball{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: var(--color-surface-mixed-100);
    margin: 0 5px;
    border: 2px solid var(--color-primary-200);
    position: relative;
    padding: 5px;
    cursor: pointer;

    i{
      display: none;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }

    .tag{
      position: absolute;
      bottom: -40px;
      transform: translateX(-50%);
      white-space: nowrap;
      color: var(--color-text-200);
      font-weight: 450;

      @media screen and (max-width: 660px) {
        display: none;
      }
    }

    button{
      position: absolute;
      bottom: -70px;
      transform: translateX(-50%);
      white-space: nowrap;
      font-size: 12px;

      @media screen and (max-width: 660px) {
        bottom: -40px;
      }

      &:disabled{
        color: var(--color-text-200);
        cursor: not-allowed;
      }
    }

    &.active{
      i{
        display: block;
      }
      background-color: var(--color-primary-200);
    }

    &.ready{
      i{
        display: block;
        color: var(--color-text-200);
      }
    }

    &.active.ready{
      background-color: var(--color-primary-200);
      border: 2px solid var(--color-primary-200);
      i{
        color: #fff;
      }
    }
  }

  .check-line{
    width: 100%;
    height: 2px;
    background-color: var(--color-primary-200);
  }

  @media screen and (max-width: 660px) {
    padding: 0;
  }
}

.short-cuts{
  margin-top: max(20px, 3vw);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  .shortcut-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

    .shortcut{
      background-color: var(--color-primary-600-opacity-6);
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 1px 6px 0 var(--color-box-shadow-100);
      transition: all 0.3s ease;

      i{
        font-size: 40px;
        color: var(--color-primary-100);
      }

      &:hover{
        background-color: var(--color-primary-600-opacity-9);
      }
    }

    p{
      margin: 0;

      @media screen and (max-width: 400px) {
        display: none;
      }
    }
  }
}
