.popular-2-right, .popular-2-left{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;
  position: relative;
}

.popular-2-left{
  .lg-img{
    width: 90%;
    left: 0;
    top: 0;
    border-radius: 12px;
    position: relative;

    img{
      width: 100%;
      border-radius: 12px;
    }

    .play-btn{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-mixed-100);
      position: absolute;
      right: -40px;
      top: 40px;
      -webkit-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
      -moz-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
      box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
      transition: all .3s ease-in-out;
      cursor: pointer;

      i{
        font-size: 20px;
        color: var(--color-primary-100);
      }
    }

    .sm-img{
      width: 60%;
      position: absolute;
      right: -48px;
      bottom: -48px;
      border-radius: 8px;
      border: 8px solid var(--color-surface-mixed-100);
      overflow: hidden;
      z-index: 2;

      img{
        width: 100%;
        border-radius: 0;
      }
    }
  }
}

.popular-2-right{
  ul{
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li{
      margin: 8px 0;
      position: relative;
      text-align: left;
      display: flex;
      align-items: center;
    }
    li:before{
      content: 'check_circle_outline';
      font-family: 'Material Icons';
      font-size: 18px;
      color: var(--color-primary-200);
      margin-right: 6px;
    }
  }
}

.section-3{
  width: 100%;
  background-color: var(--color-primary-200);
  border-radius: 5px;
  overflow: hidden;
  margin: max(20px, 5vw) 0;

  .img-wrapper{
    width: 100%;
    height: 100%;
    position: relative;

    img{
      width: 100%;
      object-fit: cover;
    }
  }

  .section-3-right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: max(20px, 3vw);


    h2{
      color: #fefefe;
    }

    p{
      color: #ddd;
    }

    ul{
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        margin: 8px 0;
        position: relative;
        text-align: left;
        display: flex;
        align-items: center;
        color: #ddd;
      }
      li:before{
        content: 'check_circle_outline';
        font-family: 'Material Icons';
        font-size: 18px;
        color: #fff;
        margin-right: 6px;
      }
    }
  }
}
