<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>About Us</h1>
    <p>Talent Boozt > <span>About Us</span></p>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="popular-2-left">
          <div class="lg-img">
            <img src="https://jobstack-shreethemes.vercel.app/static/media/ab01.016884c7bf778010e79c.jpg" alt="banner">

            <div class="play-btn">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>

            <div class="sm-img">
              <img src="https://jobstack-shreethemes.vercel.app/static/media/ab02.f851a3dde08585493f97.jpg"
                   alt="banner">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="popular-2-right">
          <h3>Millions of jobs.</h3>
          <h3>Find the one that's right for you.</h3>
          <div class="my-3">
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
              30000+ companies worldwide.</p>
          </div>
          <ul>
            <li>Digital Marketing Solutions for Tomorrow</li>
            <li>Our Talented & Experienced Marketing Agency</li>
            <li>Create your own skin to match your brand</li>
          </ul>
          <button class="btn-1" routerLink="/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact us</button>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Here's why you'll love it</h3>
    <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+
      companies worldwide.</p>
  </div>

  <div class="card-4-section">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">phone</i>
          </div>
          <div class="card-4-title">24/7 Support</div>
          <div class="card-4-cont">Many desktop publishing now use and a search for job</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">webhook</i>
          </div>
          <div class="card-4-title">Tech & Startup Jobs</div>
          <div class="card-4-cont">Many desktop publishing now use and a search for job</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">person_add_alt</i>
          </div>
          <div class="card-4-title">Quick & Easy</div>
          <div class="card-4-cont">Many desktop publishing now use and a search for job</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">hourglass_empty</i>
          </div>
          <div class="card-4-title">Save Time</div>
          <div class="card-4-cont">Many desktop publishing now use and a search for job</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-3">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="img-wrapper">
            <img src="https://jobstack-shreethemes.vercel.app/static/media/ab05.a7fa93ab5b124c959a1e.jpg" alt="banner">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="section-3-right">
            <h2>Get the job of your dreams quickly.</h2>
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
              30000+ companies worldwide.</p>
            <ul>
              <li>Digital Marketing Solutions for Tomorrow</li>
              <li>Our Talented & Experienced Marketing Agency</li>
              <li>Create your own skin to match your brand</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row achievements" #achievementsSection>
      <div class="col-12 col-sm-6 col-md-4 achievement">
        <div class="achievement-score">{{jobsAchValue}}+</div>
        <div class="achievement-title">JOB FULFILLMENT</div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 achievement">
        <div class="achievement-score">{{branchesAchValue}}+</div>
        <div class="achievement-title">BRANCHES</div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 achievement">
        <div class="achievement-score">{{countriesAchValue}}+</div>
        <div class="achievement-title">COUNTRIES</div>
      </div>
    </div>

    <div class="sub-topic-section">
      <h3>Questions & Answers</h3>
      <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
        30000+
        companies worldwide.</p>
    </div>

    <div class="questions">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">How our Jobstack work ?</p>
              <p>Due to its widespread use as filler text for layouts, non-readability is of great importance: human
                perception is tuned to recognize certain patterns and repetitions in texts.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">What is the main process open account ?</p>
              <p>words is random, the reader will not be distracted from making a neutral judgement on the visual
                impact.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">How to make unlimited data entry ?</p>
              <p>Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout
                impression of the final publication is not compromised.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">Is Jobstack safer to use with my account ?</p>
              <p>The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th
                century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper'
                Latin.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-3">
      <div class="d-md-flex align-items-center justify-content-between card-content">
        <div style="max-width: 600px">
          <div class="title-2 mb-3">Explore a job now!</div>
          <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
            30000+ companies worldwide.</p>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn-1" routerLink="/job">Apply Now</button>
          <button class="btn-2" routerLink="/learn-more-jobs">Learn More</button>
        </div>
      </div>

      <div class="mail-icon">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
             stroke-linejoin="round"
             class="lg:text-[150px] text-7xl text-black/5 dark:text-white/5 ltr:-rotate-45 rtl:rotate-45" height="1em"
             width="1em" xmlns="http://www.w3.org/2000/svg">
          <rect width="20" height="16" x="2" y="4" rx="2"></rect>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
        </svg>
      </div>
      <div class="pencil-icon">
        <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 16 16"
             class="lg:text-[150px] text-7xl text-black/5 dark:text-white/5 rtl:-rotate-90" height="1em" width="1em"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
