<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>About Us</h1>
    <p>Talent Boozt > <span>About Us</span></p>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-1"></div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="popular-2-left">
          <div class="image-wrapper">
            <div class="top-image"></div>
            <div class="bottom-image"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="popular-2-right">
          <h3>Who we are...</h3>
          <div class="my-3">
            <p>At Talent Boozt, we’re dedicated to connecting the brightest talent with top companies worldwide. Our
              mission is to empower job seekers by offering a platform that simplifies the job search process, while
              also enabling employers to find the right candidates efficiently. With a focus on innovation and
              personalized career guidance, we aim to boost your career journey, helping you unlock new opportunities
              and achieve your professional goals. Join us at Talent Boozt and discover a world of possibilities!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-1"></div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Here's why you'll love it</h3>
    <p>Discover top job opportunities, get personalized salary estimates, and read reviews from employees. Let us help
      you land your ideal role.</p>
  </div>

  <div class="card-4-section">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">phone</i>
          </div>
          <div class="card-4-title">24/7 Support</div>
          <div class="card-4-cont" [title]="card1">{{card1 | truncate : 50}}</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">webhook</i>
          </div>
          <div class="card-4-title">Tech & Startup Jobs</div>
          <div class="card-4-cont" [title]="card2">{{card2 | truncate : 50}}</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">person_add_alt</i>
          </div>
          <div class="card-4-title">Quick & Easy</div>
          <div class="card-4-cont" [title]="card3">{{card3 | truncate : 50}}</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">hourglass_empty</i>
          </div>
          <div class="card-4-title">Save Time</div>
          <div class="card-4-cont" [title]="card4">{{card4 | truncate : 50}}</div>
          <div class="card-4-text-btn">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-3">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="img-wrapper">
            <img src="https://jobstack-shreethemes.vercel.app/static/media/ab05.a7fa93ab5b124c959a1e.jpg" alt="banner">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="section-3-right">
            <h2>Get the job of your dreams quickly.</h2>
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
              30000+ companies worldwide.</p>
            <ul>
              <li>Digital Marketing Solutions for Tomorrow</li>
              <li>Our Talented & Experienced Marketing Agency</li>
              <li>Create your own skin to match your brand</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row achievements" #achievementsSection>
      <div class="col-12 col-sm-6 col-md-4 achievement">
        <div class="achievement-score" translate="no">{{jobsAchValue}}+</div>
        <div class="achievement-title">AVAILABLE JOBS NOW</div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 achievement">
        <div class="achievement-score" translate="no">{{branchesAchValue}}+</div>
        <div class="achievement-title">COMPANIES</div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 achievement">
        <div class="achievement-score" translate="no">{{countriesAchValue}}+</div>
        <div class="achievement-title">COUNTRIES</div>
      </div>
    </div>

    <div class="sub-topic-section">
      <h3>Questions & Answers</h3>
      <p>Get quick solutions to common queries about job applications, hiring processes, and more. Explore answers from
        experts and users to help you navigate your job search effectively.</p>
    </div>

    <div class="questions">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">How our Jobstack work ?</p>
              <p>Due to its widespread use as filler text for layouts, non-readability is of great importance: human
                perception is tuned to recognize certain patterns and repetitions in texts.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">What is the main process open account ?</p>
              <p>words is random, the reader will not be distracted from making a neutral judgement on the visual
                impact.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">How to make unlimited data entry ?</p>
              <p>Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout
                impression of the final publication is not compromised.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">Is Jobstack safer to use with my account ?</p>
              <p>The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th
                century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper'
                Latin.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-3">
      <div class="d-md-flex align-items-center justify-content-between card-content">
        <div style="max-width: 600px">
          <div class="title-2 mb-3">Explore a job now!</div>
          <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
            30000+ companies worldwide.</p>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn-1" routerLink="/job">Apply Now</button>
          <button class="btn-2" routerLink="/learn-more-jobs">Learn More</button>
        </div>
      </div>

      <div class="mail-icon">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
             stroke-linejoin="round"
             class="lg:text-[150px] text-7xl text-black/5 dark:text-white/5 ltr:-rotate-45 rtl:rotate-45" height="1em"
             width="1em" xmlns="http://www.w3.org/2000/svg">
          <rect width="20" height="16" x="2" y="4" rx="2"></rect>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
        </svg>
      </div>
      <div class="pencil-icon">
        <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 16 16"
             class="lg:text-[150px] text-7xl text-black/5 dark:text-white/5 rtl:-rotate-90" height="1em" width="1em"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between mb-2">
      <div class="img-wrapper">
        <img src="assets/imgs/contact/get-touch.svg" alt="contact"/>
      </div>
      <div class="contact-form-wrapper">
        <div class="form-card-1">
          <h4>Get in touch !</h4>
          <form action="">
            <div class="row form-wrapper">
              <div class="col-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name" placeholder="John Doe">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" class="form-control" id="email" placeholder="XwVpP@example.com">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input type="text" class="form-control" id="subject" placeholder="Your Question">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="comment">Comment</label>
                  <textarea class="form-control" id="comment" rows="5" placeholder="Your Message"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <button type="submit" class="btn-1">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-4 contact-card">
        <div class="icon">
          <i class="material-icons">phone</i>
        </div>
        <div class="title">
          Phone
        </div>
        <p>The phrasal sequence of the is now so that many campaign and benefit</p>
        <div class="content">+152 534-468-854</div>
      </div>
      <div class="col-12 col-md-4 contact-card">
        <div class="icon">
          <i class="material-icons">email</i>
        </div>
        <div class="title">
          Email
        </div>
        <p>The phrasal sequence of the is now so that many campaign and benefit</p>
        <div class="content">XwVpP@example.com</div>
      </div>
      <div class="col-12 col-md-4 contact-card">
        <div class="icon">
          <i class="material-icons">location_on</i>
        </div>
        <div class="title">
          Location
        </div>
        <p>The phrasal sequence of the is now so that many campaign and benefit</p>
        <div class="content">San Francisco, CA</div>
      </div>
    </div>
  </div>
</div>

<google-map
  height="300px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>

  <div class="map-btns">
    <button class="btn-1" (click)="zoomIn()">+</button>
    <button class="btn-1" (click)="zoomOut()">-</button>
  </div>
</google-map>
