<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>About Us</h1>
    <p>Talent Boozt > <span>About Us</span></p>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-1"></div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="popular-2-left">
          <div class="image-wrapper">
            <div class="top-image"></div>
            <div class="bottom-image"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="popular-2-right">
          <h3>Who we are...</h3>
          <div class="my-3">
            <p>We’re a dedicated team of HR Professional and Tech enthusiasts passionate about connecting people with
              opportunity and fulfilling human potential.</p>
            <p>We envision a world where every individual reaches their full potential through meaningful work and
              continuous learning, and where every organization thrives by connecting with the right talent.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-1"></div>
    </div>

    <div class="our-roots-wrapper">
      <div class="sub-topic-section">
        <h3>Our Roots</h3>
        <p>Our core values define who we are and guide us on how we do things</p>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="root-wrapper" style="background-image: url(./assets/imgs/about/INTEGRITY.webp)">
            <div class="title">INTEGRITY</div>
            <div class="overlay-layer">
              <p>We believe in transparency and fairness, ensuring a trusted environment where candidates and employers
                can connect with confidence</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="root-wrapper" style="background-image: url(./assets/imgs/about/INNOVATION.webp)">
            <div class="title">INNOVATION</div>
            <div class="overlay-layer">
              <p>Embracing the latest in technology, we constantly innovate to streamline the hiring process and bring
                fresh solutions to the job market</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="root-wrapper" style="background-image: url(./assets/imgs/about/COMMITMENT-TO-DIVERSITY.webp)">
            <div class="title">COMMITMENT TO DIVERSITY</div>
            <div class="overlay-layer">
              <p>We celebrate diversity, connecting Talent from all backgrounds with inclusive employers who value
                unique perspectives</p>
            </div>
          </div>
        </div>
        <div class="d-none col-lg-2 d-lg-block" ></div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="root-wrapper" style="background-image: url(./assets/imgs/about/USER-CENTRICITY.webp)">
            <div class="title">USER CENTRICITY</div>
            <div class="overlay-layer">
              <p>Our platform is designed with our users in mind, making it intuitive, efficient, and supportive at
                every step of the job search and hiring journey</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="root-wrapper" style="background-image: url(./assets/imgs/about/EQUAL-OPPORTUNITY.webp)">
            <div class="title">EQUAL OPPORTUNITY</div>
            <div class="overlay-layer">
              <p>We are committed to fostering a job market where every individual has an equal chance to succeed. By
                connecting diverse talent with inclusive employers, we work to remove barriers, promote fair hiring
                practices, and create pathways for all candidates, regardless of background or experience</p>
            </div>
          </div>
        </div>
        <div class="d-none col-lg-2 d-lg-block" ></div>
      </div>
    </div>
  </div>

  <div class="container" style="position: relative;">
    <div class="d-flex flex-column align-items-start justify-content-start mb-4 mb-md-0">
      <h3>What we do our mission</h3>
      <p style="max-width: 800px">Our mission is to create an inclusive and seamless platform that empowers Talent to
        discover opportunities that match their skills and passions while enabling employers to find and nurture top
        talent efficiently and transparently. Through innovative technology and a commitment to equal opportunity, we
        bridge the gap between job seekers and employers to drive success for all.</p>
    </div>

    <img src="./assets/imgs/about/goal.gif" alt="" width="150" height="150"
         style="position: absolute; top: -20px; right: 7%; backdrop-filter: blur(50px); opacity: .1">

    <div class="d-flex flex-column align-items-end justify-content-start mb-4">
      <h3>How it works</h3>
      <p style="max-width: 800px; text-align: right">Getting started is simple! Candidates create a profile, explore
        tailored job matches, and apply with ease. Employers post job openings, access a diverse talent pool, and use
        our smart tools to filter and select the best fits. Our platform ensures a seamless connection, making it easier
        than ever to find your next role or team member.</p>
    </div>

    <img src="./assets/imgs/about/celebrate.gif" alt="" width="150" height="150"
         style="position: absolute; bottom: 20px; left: 5%; opacity: .4">
  </div>

  <div class="sub-topic-section">
    <h3>Here's why you'll love it</h3>
    <p>Discover top job opportunities, get personalized salary estimates, and read reviews from employees. Let us help
      you land your ideal role.</p>
  </div>

  <div class="card-4-section">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">phone</i>
          </div>
          <div class="card-4-title" routerLink="/support">24/7 Support</div>
          <div class="card-4-cont" [title]="card1">{{card1 | truncate : 50}}</div>
          <div class="card-4-text-btn" routerLink="/support">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">webhook</i>
          </div>
          <div class="card-4-title" routerLink="/tech-and-startup-jobs">Tech & Startup Jobs</div>
          <div class="card-4-cont" [title]="card2">{{card2 | truncate : 50}}</div>
          <div class="card-4-text-btn" routerLink="/tech-and-startup-jobs">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">person_add_alt</i>
          </div>
          <div class="card-4-title" routerLink="/quick-and-easy">Quick & Easy</div>
          <div class="card-4-cont" [title]="card3">{{card3 | truncate : 50}}</div>
          <div class="card-4-text-btn" routerLink="/quick-and-easy">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <i class="material-icons">hourglass_empty</i>
          </div>
          <div class="card-4-title" routerLink="/save-time">Save Time</div>
          <div class="card-4-cont" [title]="card4">{{card4 | truncate : 50}}</div>
          <div class="card-4-text-btn" routerLink="/save-time">Read More<i class="material-icons">arrow_right_alt</i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="false" class="row achievements" #achievementsSection>
      <div class="col-12 col-sm-6 col-md-4 achievement">
        <div class="achievement-score" translate="no">{{jobsAchValue}}+</div>
        <div class="achievement-title">AVAILABLE JOBS NOW</div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 achievement">
        <div class="achievement-score" translate="no">{{branchesAchValue}}+</div>
        <div class="achievement-title">COMPANIES</div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 achievement">
        <div class="achievement-score" translate="no">{{countriesAchValue}}+</div>
        <div class="achievement-title">COUNTRIES</div>
      </div>
    </div>

    <div class="sub-topic-section">
      <h3>Questions & Answers</h3>
      <p>Get quick solutions to common queries about job applications, hiring processes, and more. Explore answers from
        experts and users to help you navigate your job search effectively.</p>
    </div>

    <div class="questions">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">How our Jobstack work ?</p>
              <p>Due to its widespread use as filler text for layouts, non-readability is of great importance: human
                perception is tuned to recognize certain patterns and repetitions in texts.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">What is the main process open account ?</p>
              <p>words is random, the reader will not be distracted from making a neutral judgement on the visual
                impact.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">How to make unlimited data entry ?</p>
              <p>Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout
                impression of the final publication is not compromised.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-start">
            <div class="q-icon">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
            <div>
              <p class="q-title">Is Jobstack safer to use with my account ?</p>
              <p>The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th
                century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper'
                Latin.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-job-ad-card1></app-job-ad-card1>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between mb-2">
      <div class="img-wrapper">
        <img src="assets/imgs/contact/get-touch.svg" alt="contact"/>
      </div>
      <div class="contact-form-wrapper">
        <div class="form-card-1">
          <h4>Get in touch !</h4>
          <form [formGroup]="contactUsForm">
            <div class="row form-wrapper">
              <div class="col-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name" placeholder="John Doe" formControlName="name">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" class="form-control" id="email" placeholder="XwVpP@example.com"
                         formControlName="email">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input type="text" class="form-control" id="subject" placeholder="Your Question"
                         formControlName="subject">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="comment">Comment</label>
                  <textarea class="form-control" id="comment" rows="5" placeholder="Your Message"
                            formControlName="message"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <button type="submit" class="btn-1" (click)="contactUs()"
                          [disabled]="loading">{{loading ? 'Sending...' : 'Send Message'}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-4 contact-card">
        <div class="icon">
          <i class="material-icons">phone</i>
        </div>
        <div class="title">
          Phone
        </div>
        <p>Give us a call for any questions or support you need</p>
        <div class="content">{{utilities.contactNumber}}</div>
      </div>
      <div class="col-12 col-md-4 contact-card">
        <div class="icon">
          <i class="material-icons">email</i>
        </div>
        <div class="title">
          Email
        </div>
        <p>Feel free to send us an email, and we’ll get back to you soon</p>
        <div class="content">{{utilities.contactEmail}}</div>
      </div>
      <div class="col-12 col-md-4 contact-card">
        <div class="icon">
          <i class="material-icons">location_on</i>
        </div>
        <div class="title">
          Location
        </div>
        <p>Come visit us at our office in {{utilities.contactLocation}}.</p>
        <div class="content">{{utilities.contactLocation}}</div>
      </div>
    </div>
  </div>
</div>

<google-map
  height="300px"
  width="100%"
  id="map"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>

  <div class="map-btns">
    <button class="btn-1" (click)="zoomIn()">+</button>
    <button class="btn-1" (click)="zoomOut()">-</button>
  </div>
</google-map>
