@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.theme-light {
  --color-primary-100: #3498db;
  --color-primary-200: #5faee3;
  --color-primary-300: #7db9e8;
  --color-primary-400: #9cc3ed;
  --color-primary-500: #b7d4f2;
  --color-primary-600: #d1e6f7;
  --color-primary-600-opacity-3: rgba(209, 230, 247, 0.3);
  --color-primary-600-opacity-6: rgba(209, 230, 247, 0.6);
  --color-primary-600-opacity-9: rgba(209, 230, 247, 0.9);


  --color-surface-100: #ffffff;
  --color-surface-200: #f7f7f7;
  --color-surface-300: #f0f0f0;
  --color-surface-400: #e7e7e7;
  --color-surface-500: #dcdcdc;
  --color-surface-600: #cfcfcf;

  --color-surface-mixed-100: #f0f0f0;
  --color-surface-mixed-200: #f7f7f7;
  --color-surface-mixed-300: #e7e7e7;
  --color-surface-mixed-400: #dcdcdc;
  --color-surface-mixed-500: #cfcfcf;
  --color-surface-mixed-600: #bfbfbf;

  --color-secondary-100: #2c3e50;
  --color-secondary-200: #34495e;
  --color-secondary-300: #3a546e;
  --color-secondary-400: #415a77;
  --color-secondary-500: #4b6a86;
  --color-secondary-600: #54718e;

  --color-text-100: #000000;
  --color-text-200: #2c3e50;
  --color-text-300: #4b6a86;
  --color-text-400: #54718e;
  --color-text-500: #4b6a86;
  --color-text-600: #54718e;

  --color-danger-100: #e74c3c;
  --color-danger-200: #c0392b;
  --color-danger-300: #e67e22;

  --color-code-100: #7a5af5;

  /* Additional Colors */
  --color-highlight-100: #FFD700; /* Gold */
  --color-accent-100: #FF69B4; /* Hot Pink */
  --color-neutral-accent-100: #8B0000; /* Dark Red */
  --color-box-shadow-100: rgba(0, 0, 0, 0.3);
}

.theme-dark {
  --color-primary-100: #8e44ad; /* Deep Purple */
  --color-primary-200: #9b59b6; /* Soft Purple */
  --color-primary-300: #af7ac5; /* Light Purple */
  --color-primary-400: #d2b4de; /* Lavender */
  --color-primary-500: #ebdef0; /* Very Light Lavender */
  --color-primary-600: #f5eef8; /* Pale Lavender */
  --color-primary-600-opacity-3: rgba(245, 238, 248, 0.3);
  --color-primary-600-opacity-6: rgba(245, 238, 248, 0.6);
  --color-primary-600-opacity-9: rgba(245, 238, 248, 0.9);

  --color-surface-100: #181818; /* Near Black */
  --color-surface-200: #202020; /* Darker Gray */
  --color-surface-300: #303030; /* Dark Gray */
  --color-surface-400: #404040; /* Medium Gray */
  --color-surface-500: #505050; /* Light Gray */
  --color-surface-600: #606060; /* Lighter Gray */

  --color-surface-mixed-100: #1f1f2e; /* Deep Blue-Gray */
  --color-surface-mixed-200: #2a2a3b; /* Blue-Gray */
  --color-surface-mixed-300: #353547; /* Grayish Blue */
  --color-surface-mixed-400: #4b4b59; /* Light Blue-Gray */
  --color-surface-mixed-500: #5f5f6d; /* Very Light Blue-Gray */
  --color-surface-mixed-600: #747481; /* Light Gray-Blue */

  --color-secondary-100: #2ecc71; /* Green for highlights */
  --color-secondary-200: #27ae60; /* Dark Green */
  --color-secondary-300: #229954; /* Darker Green */
  --color-secondary-400: #1e8449; /* Olive Green */
  --color-secondary-500: #196f3d; /* Dark Olive */
  --color-secondary-600: #145a32; /* Very Dark Olive */

  --color-text-100: #e0e0e0; /* Light Gray */
  --color-text-200: #cccccc; /* Slightly Darker Gray */
  --color-text-300: #b3b3b3; /* Medium Gray */
  --color-text-400: #999999; /* Darker Gray */
  --color-text-500: #808080; /* Dark Gray */
  --color-text-600: #666666; /* Very Dark Gray */

  --color-danger-100: #e74c3c; /* Red */
  --color-danger-200: #c0392b; /* Dark Red */
  --color-danger-300: #a93226; /* Darker Red */

  --color-code-100: #f39c12; /* Bright Orange for Code Highlight */

  /* Additional Colors */
  --color-highlight-100: #ff6347; /* Tomato for highlights */
  --color-accent-100: #f0e68c; /* Khaki */
  --color-neutral-accent-100: #4682b4; /* Steel Blue */
  --color-box-shadow-100: rgba(0, 0, 0, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif!important;

  ::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: var(--color-primary-200);
  }

  ::selection {
    color: #fff;
    background: var(--color-primary-200);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: var(--color-text-100);
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  color: var(--color-code-100);
}

p, ol, ul, li {
  color: var(--color-text-400);
}

.main-body {
  width: 100% !important;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--color-surface-mixed-100);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 0;
  transition: all .3s ease;

  @media screen and (max-width: 992px) {
    display: none;
  }
}
::-webkit-scrollbar-track {
  background: var(--color-surface-mixed-300);
}
::-webkit-scrollbar-thumb {
  background: var(--color-surface-mixed-400);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-300);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-300);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sub-topic-section{
  width: 100%;
  padding: 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p{
    max-width: 600px;
  }
}

.btn-1, .btn-2, .btn-3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 550;
  background-color: var(--color-primary-200);
  border-radius: 5px;
  padding: 6px 20px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border: none;
  outline: none;

  i{
    margin-right: 10px;
    color: #fff;
  }

  &:hover{
    background-color: var(--color-primary-100);
  }
}

.btn-2{
  background-color: var(--color-primary-600-opacity-6);
  border: 1px solid var(--color-surface-mixed-300);
  color: var(--color-primary-200);

  &:hover{
    color: #fff;
  }
}

.btn-3{
  background-color: var(--color-danger-200);
  color: #fff;

  &:hover{
    background-color: var(--color-danger-100);
  }
}

.see-more{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;

  .see-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-300);
    font-weight: 550;
    background-color: transparent;
    border-radius: 5px;
    padding: 6px 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    gap: 5px;
  }
  .see-more-btn:hover{
    color: var(--color-primary-200);
  }

  .see-more-btn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-primary-200);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .see-more-btn:hover:after {
    width: 100%;
    left: 0;
  }
}

.top-banner{
  min-height: max(380px, 60vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .curved-div{
    position: absolute;
    width: calc(100% + 600px);
    top: -70px;
    left: -300px;
    border-radius: 0 0 50% 50%;
    height: 100%;
    min-height: max(380px, 60vh);
    overflow: hidden;
    background-image: url("https://jobstack-shreethemes.vercel.app/static/media/bg.9f5fc6c84f7a4eb68e0c.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-primary-200);
    opacity: .5;
    z-index: 2;
  }

  .banner-cont{
    position: static;
    z-index: 3;

    h1{
      color: #fff;
      margin-bottom: 30px;
    }

    p{
      font-weight: 450;
      color: #d6d6d6;

      span{
        color: #fff;
      }
    }
  }
}

.popular-jobs{
  .card-1{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: var(--color-surface-200);
    border: 1px solid var(--color-surface-mixed-300);
    -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
    -moz-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
    box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
    transition: all .3s ease-in-out;

    hr{
      background-color: var(--color-surface-mixed-300);
      height: 1px;
      margin: 0;
      opacity: 1;
      border: none;
    }

    .card-top, .card-content, .card-bottom{
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .card-bottom{
      padding: 8px 30px;
      background-color: var(--color-primary-600-opacity-3);
    }

    .card-top{
      .card-top-left, .card-top-right{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
      }

      .card-top-left{
        .logo-icon-wrapper{
          width: 60px;
          height: 60px;
          border-radius: 8px;
          border: 1px solid var(--color-surface-mixed-300);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .3s ease-in-out;
          padding: 5px;
          -webkit-box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);
          -moz-box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);
          box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);

          .logo-icon{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              width: 100%;
            }
          }
        }

        .company-name{
          font-size: 17px;
          font-weight: 500;
          color: var(--color-text-100);
        }

        .opens-ago{
          font-size: 14px;
          color: var(--color-text-400);
        }
      }

      .card-top-right{
        .visit-link-circle{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-primary-200);
          background-color: var(--color-primary-600-opacity-9);
          transition: all .3s ease-in-out;
          cursor: pointer;

          i{
            font-size: 16px;
          }
        }
      }
    }

    .card-content{
      .card-content-left{
        .job-title{
          font-size: 18px;
          font-weight: 500;
          color: var(--color-text-100);
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover{
            color: var(--color-primary-200);
          }
        }

        .open-positions{
          font-size: 14px;
          color: var(--color-text-400);
        }
      }
    }

    .card-bottom{
      .card-bottom-left, .card-bottom-right{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        color: var(--color-text-300);

        i{
          font-size: 18px;
          margin-right: 5px;
        }
      }

      .card-bottom-left{
        i{
          color: #3b82f6;
        }
      }
    }

    &:hover{
      -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
      -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
      box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
      border-radius: 0;

      .card-top{
        .card-top-right{
          .visit-link-circle{
            background-color: var(--color-primary-200);
            color: #fff;
          }
        }
      }
    }
  }
}

.popular-companies{
  .card-2{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    background-color: var(--color-surface-200);
    border: 1px solid var(--color-surface-mixed-300);
    -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
    -moz-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
    box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
    transition: all .3s ease-in-out;

    hr{
      background-color: var(--color-surface-mixed-300);
      height: 1px;
      margin: 0;
      opacity: 1;
      border: none;
    }

    .card-top, .card-content, .card-bottom{
      padding: 20px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .card-content{
      @media screen and (max-width: 992px) {
        display: block;
      }
    }

    .card-bottom, .card-top{
      padding: 16px 30px;
    }

    .card-top{
      position: relative;
      .logo-icon-wrapper{
        position: absolute;
        left: 30px;
        top: -30px;
        width: 60px;
        height: 60px;
        border-radius: 8px;
        border: 1px solid var(--color-surface-mixed-300);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        padding: 5px;
        -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
        -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
        box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
        background-color: var(--color-surface-100);

        .logo-icon{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;
          }
        }
      }
    }

    .card-content{
      .company-name{
        font-size: 17px;
        font-weight: 500;
        color: var(--color-text-100);
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
          color: var(--color-primary-200);
        }
      }

      .company-description{
        font-size: 14px;
        color: var(--color-text-400);
      }
    }

    .card-bottom{
      .card-bottom-left, .card-bottom-right{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        color: var(--color-text-400);

        i{
          font-size: 18px;
          margin-right: 5px;
        }
      }

      .card-bottom-left{
        .open-jobs{
          color: var(--color-primary-200);
        }
      }
    }
  }
}

.card-1{
  width: 100%;
  border-radius: 12px;
  border: 3px solid var(--color-surface-mixed-300);
  padding: 20px 30px;
  margin: max(20px, 3vw) 0;

  .title-1{
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-100);
  }
}

.card-3{
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-surface-mixed-300);
  -webkit-box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
  -moz-box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
  box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
  margin: 7vw 0;
  min-height: 140px;
  background-color: var(--color-surface-200);
  overflow: hidden;
  position: relative;

  .card-content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px 30px;

    .title-2{
      font-size: 20px;
      font-weight: 400;
      color: var(--color-text-100);
      margin-bottom: 20px;
    }

    p{
      font-size: 14px;
      color: var(--color-text-400);
    }

    .btn-1{
      margin-right: 8px;
    }
    .btn-1, .btn-2{
      white-space: nowrap;
    }
  }

  .mail-icon{
    transform: rotate(-45deg);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    svg{
      width: 100%;
      height: 100%;
      stroke: var(--color-surface-mixed-600);
      opacity: .2;
    }
  }

  .pencil-icon{
    transform: rotate(0);
    position: absolute;
    top: 5px;
    right: -5px;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    svg{
      width: 100%;
      height: 100%;
      fill: var(--color-surface-mixed-600);
      opacity: .2;
    }
  }
} // bottom card

.card-4-section{
  .card-4{
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    min-height: 140px;
    background-color: var(--color-surface-200);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    text-align: center;
    gap: 10px;

    .icon-wrapper{
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: var(--color-primary-600-opacity-9);
      border: 1px solid var(--color-surface-mixed-300);
      transition: all .3s ease-in-out;

      i{
        color: var(--color-primary-200);
      }
    }

    .card-4-title{
      font-size: 20px;
      color: var(--color-text-100);
      font-weight: 450;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover{
        color: var(--color-primary-200);
      }
    }

    .card-4-cont{
      font-size: 14px;
      color: var(--color-text-400);
    }

    .card-4-text-btn{
      color: var(--color-text-100);
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all .3s ease-in-out;

      i{
        margin-left: 8px;
      }

      &:hover{
        color: var(--color-primary-200);
      }
    }

    &:hover{
      background-color: var(--color-primary-600-opacity-3);

      .icon-wrapper{
        background-color: var(--color-primary-200);

        i{
          color: #fff;
        }
      }
    }
  }
}

.form-card-1{
  width: 100%;
  max-width: 600px;
  margin: max(30px, 5vw) auto;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--color-surface-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  -webkit-box-shadow: 0 4px 6px -8px var(--color-box-shadow-100);
  -moz-box-shadow: 0 4px 6px -8px var(--color-box-shadow-100);
  box-shadow: 0 4px 6px -8px var(--color-box-shadow-100);

  .form-wrapper{
    row-gap: 20px;

    label{
      color: var(--color-text-300);
    }

    input, select, textarea{
      border: 1px solid var(--color-surface-mixed-300);
      padding: 8px 15px;
      border-radius: 5px;
      width: 100%;
      background-color: var(--color-surface-200);
      color: var(--color-text-100);
      font-size: 14px;

      &::placeholder{
        color: var(--color-text-300);
      }

      &:focus{
        outline: none;
      }
    }

    select{
      option{
        color: var(--color-text-100);
        background-color: var(--color-surface-200);
        border: none;
        outline: none;
        padding: 0 5px;
        cursor: pointer;
      }
    }

    input[type=file]::file-selector-button {
      background-color: var(--color-primary-200);
      color: #fff;
      transition: all .3s ease-in-out;

      &:hover{
        background-color: var(--color-primary-100);
      }
    }

    .input-group{
      .input-group-text{
        background-color: var(--color-surface-200);
        border: 1px solid var(--color-surface-mixed-300);
      }

      #twitter{
        svg{
          fill: #4ac7ff;
        }
      }
      #facebook{
        svg{
          fill: #3b5999;
        }
      }
      #instagram{
        svg{
          stroke: #ff3b5a;

          .in-dot{
            fill: #6e30e4;
          }
          .in-circle{
            stroke: #ff9118;
          }
        }
      }
      #linkedin{
        svg{
          fill: #007bee;
        }
      }
      #github{
        svg{
          stroke: var(--color-text-100);
        }
      }

      input{
        border-left: none;
      }
    }
  }

  h5{
    width: 100%;
    text-align: left;
  }

  .notification-text{
    margin: 0;
  }
  .form-check-input{
    border: 1px solid var(--color-surface-mixed-300);
    //width: auto!important;
  }
  .form-check-input:checked{
    background-color: var(--color-primary-200);
    border-color: var(--color-primary-200);
  }
  .form-check-label{
    color: var(--color-text-100);
  }
  .form-check{
    gap: 5px;
  }

  .form-radio-input{
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-surface-mixed-300);
  }
  .form-radio-input:checked{
    background-color: var(--color-primary-200);
    border-color: var(--color-primary-200);
  }
  .form-radio-label{
    color: var(--color-text-100);
  }
  .form-radio{
    gap: 5px;
  }

  hr{
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--color-surface-mixed-400);
    margin: 0;
  }
}

.details-card-1{
  width: 100%;
  max-width: 600px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--color-surface-mixed-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid var(--color-primary-600-opacity-6);

  h5{
    color: var(--color-text-100);
    text-align: start;
    width: 100%;
  }

  .caption{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--color-text-300);
    text-align: start;
  }

  .value{
    color: var(--color-text-100);
    text-align: end;
  }

  .item-set{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    .social-item{
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background-color: var(--color-primary-600-opacity-3);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .3s ease-in-out;
      color: var(--color-text-300);
      border: 2px solid var(--color-primary-600-opacity-9);

      a{
        color: var(--color-text-300);
      }

      &:hover{
        background-color: var(--color-primary-200);
        color: #fff;

        a{
          color: #fff;
        }
      }
    }
  }

  .sub-card{
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-surface-200);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.employee-card{
  width: 100%;
  max-width: 600px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--color-surface-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--color-primary-600-opacity-6);
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

  .top-rated{
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-highlight-100);
    color: #fff;
    font-size: 10px;
    transform: rotate(315deg);
    position: absolute;
    top: 10px;
    left: -30px;
    z-index: 1;

    i{
      font-size: 14px;
    }
  }

  .favorite{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;

    i{
      color: var(--color-surface-400);
      transition: all .3s ease-in-out;

      &:hover{
        color: var(--color-danger-200);
      }
    }
  }

  .profile-wrapper{
    width: max(50px, 100px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .name{
    color: var(--color-text-100);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    transition: all .3s ease-in-out;

    &:hover{
      cursor: pointer;
      color: var(--color-primary-200);
    }
  }
  .title{
    color: var(--color-text-300);
    font-size: 14px;
    text-align: center;
  }
  .keywords{
    .key{
      background-color: var(--color-primary-200);
      color: #fff;
      padding: 2px 8px;
      border-radius: 25px;
      font-size: 12px;
    }
  }

  .caption{
    color: var(--color-text-300);
    font-size: 16px;
    text-align: center;
  }

  .value{
    color: var(--color-text-100);
    font-size: 16px;
    text-align: center;
  }
}

.spec-card-1{
  border: 4px solid transparent;
  border-radius: 20px;
  background:
    linear-gradient(135deg, var(--color-surface-mixed-100) 50%, var(--color-primary-500)),
    linear-gradient(to right, var(--color-primary-200), var(--color-primary-500));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: max(20px, 3vw) max(30px, 5vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: max(30px, 3vw) 0;

  .title{
    font-size: 30px;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--color-primary-500), var(--color-primary-300), var(--color-primary-100));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: left;
    width: 100%;
    max-width: 500px;

    @media screen and (max-width: 600px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .sub-title{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-300);
    text-align: left;
    width: 100%;
  }
}

// bootstrap dropdown
.dropdown-menu{
  .dropdown-item{
    color: var(--color-text-100);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    i{
      color: var(--color-text-300);
      font-size: 16px;
    }

    &:hover{
      background-color: var(--color-primary-600-opacity-3);
      color: var(--color-text-100);
    }
  }

  .dropdown-divider{
    border-color: var(--color-surface-mixed-300);
  }
}
.dropdown-menu.show{
  background-color: var(--color-surface-mixed-100);
  border: 1px solid var(--color-surface-mixed-300);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
  -moz-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
  box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
}


// lock screens
.shared-background{
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("https://jobstack-shreethemes.vercel.app/static/media/bg3.b53090a36ed85cc017cd.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), #0f172ab3);
    backdrop-filter: opacity(.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .content-holder{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;

    .form-card-1{
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .profile-wrapper{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
        }
      }

      .logo{
        width: 120px;

        img{
          width: 100%;
        }
      }

      h5{
        width: 100%;
        text-align: center;
      }

      .title{
        width: 100%;
        text-align: left;
      }

      .link{
        color: var(--color-text-300);
        cursor: pointer;
        text-decoration: none;

        &:hover{
          color: var(--color-text-200);
        }
      }

      .navigation-text{
        a{
          color: var(--color-text-100);
          cursor: pointer;
          text-decoration: none;
          font-weight: 500;

          &:hover{
            color: var(--color-text-200);
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

// mat-drawer
.mat-drawer-container {
  background: var(--color-surface-mixed-100) !important;
}
.mat-drawer-inner-container {
  background: var(--color-surface-200) !important;
}

// expansion panels
.mat-expansion-panel{
  background-color: var(--color-surface-mixed-200);
  background: var(--color-surface-mixed-200);
}
.mat-expansion-panel-header:not([aria-disabled=true]), .mat-expansion-panel-header{
  background-color: var(--color-surface-mixed-200);
  padding: 12px 18px!important;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
  color: var(--color-text-200);
}
.mat-expansion-panel-body{
  background-color: var(--color-surface-mixed-300);
  padding: 0 18px 4px 18px!important;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after{
  color: var(--color-text-200);
}

// progress spinner
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--color-primary-500) !important;
}

// accordion
$accordion-icon-color: rgb(52, 152, 219);
$accordion-icon-active-color: rgb(92, 81, 240);
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M02 3L5 7L02 11'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-active-color}' stroke-linecap='round' stroke-linejoin='round'><path d='M02 3L5 7L02 11'/></svg>");
$accordion-button-icon-plus: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M6,2 V12 M-2,7 H12'/></svg>");
$accordion-button-icon-minus: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M-4,7 H12'/></svg>");
$accordion-icon-transform: rotate(-90deg);
$accordion-icon-transform2: rotate(180deg);

@function escape-svg($string) {
  @return str-replace($string, '"', '\"');
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

.accordion{
  margin: 12px 0;
  --bs-accordion-border-color: var(--color-surface-mixed-100);
  --bs-accordion-active-color: var(--color-text-100);
  --bs-accordion-active-bg: var(--color-surface-mixed-100);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
  --bs-accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
  --bs-accordion-btn-icon-transform: #{$accordion-icon-transform};
  --bs-accordion-btn-padding-y: 8px;
  --bs-accordion-btn-padding-x: 12px;
  --bs-accordion-body-padding-y: 5px;
  --bs-accordion-body-padding-x: 20px;
}
.accordion-button{
  color: var(--color-text-300);
  background-color: var(--color-surface-mixed-100);
  border: none!important;
  outline: none!important;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
.accordion-button:after {
  order: -1; //swap order
  margin-left: 0;
  margin-right:0.3em; // just extra space between text and icon
}
.accordion-body{
  color: var(--color-text-400);
  background-color: var(--color-surface-mixed-100);
  border: none!important;
  outline: none!important;
  border-radius: 0;
  font-size: 14px;
}

.accordion.fq{
  --bs-accordion-border-color: #0d1117;
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: #0d1117;
  --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon-plus)};
  --bs-accordion-btn-active-icon: #{escape-svg($accordion-button-icon-minus)};
  --bs-accordion-btn-icon-transform: #{$accordion-icon-transform2};
  --bs-accordion-body-padding-y: 8px;
  --bs-accordion-body-padding-x: 40px;
  --bs-accordion-btn-padding-y: 12px;

  .accordion-button{
    color: #fff;
    background-color: #0d1117;
    font-size: 20px;
    font-weight: 450;
    font-family: sans-serif, "Poppins" !important;
  }

  .accordion-body{
    color: #8d949c;
    background-color: #0d1117;
    font-size: 16px;
    font-weight: 400;
  }
}
