<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Post Your Job</h1>
    <p>Talent Boozt > <span>Job Post Form</span></p>
  </div>
</div>

<div class="container">
  <div *ngIf="loading"><app-page-loading></app-page-loading></div>
  <div>
    <h5>At least You have to provide the following details in your business profile to unlock this form.</h5>
    <div class="d-flex align-items-center justify-content-center w-100 my-5 px-5">
      <div class="check-ball" [ngClass]="cname?'active':''" title="Company Name">
        <i class="material-icons">check</i>
        <div class="tag">Company Name</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball" [ngClass]="cemail?'active':''" title="Company Email">
        <i class="material-icons">check</i>
        <div class="tag">Company Email</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball" [ngClass]="cphone?'active':''" title="Company Phone">
        <i class="material-icons">check</i>
        <div class="tag">Company Phone</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball" [ngClass]="chq?'active':''" title="Head Quarter">
        <i class="material-icons">check</i>
        <div class="tag">Head Quarter</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball ready" [ngClass]="formLocked?'':'active'" title="Ready to go">
        <i class="material-icons">{{formLocked?'lock_outline':'lock_open'}}</i>
        <div class="tag">Ready to go</div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center w-100">

    <div class="form-card-1">
      <form action="">
        <h5>Job details:</h5>
        <div class="row form-wrapper">
          <div class="col-12">
            <div class="form-group">
              <label for="title">Job Title</label>
              <input type="text" class="form-control" id="title" placeholder="web developer">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="description">Job Description</label>
              <textarea class="form-control" id="description" rows="5" placeholder="Job Description"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="category">Categories</label>
                <select id="category" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" (change)="onCategoryChange()">
                  <option value="IT">IT</option>
                  <option value="HR">HR</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Other">Other</option>
                </select>
                <div class="collapse" [ngClass]="{'show': isOtherCategorySelected}" id="otherCollapseCat">
                  <div class="d-flex justify-content-end my-2">
                    <input type="text" class="form-control" placeholder="Enter new category">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="jobType">Job Type</label>
                <select id="jobType" [(ngModel)]="selectedJobType" [ngModelOptions]="{standalone: true}" (change)="onJobTypeChange()">
                  <option>Web Developer</option>
                  <option>Full Stack Developer</option>
                  <option>Front End Developer</option>
                  <option>Back End Developer</option>
                  <option>Other</option>
                </select>
                <div class="collapse" [ngClass]="{'show': isOtherJobTypeSelected}" id="otherCollapseJob">
                  <div class="d-flex justify-content-end my-2">
                    <input type="text" class="form-control" placeholder="Enter new job type">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="salary">Salary</label>
                <select class="form-control" id="salary">
                  <option>Hourly</option>
                  <option>Monthly</option>
                </select>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="form-group">
                <label></label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Min">
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="form-group">
                <label></label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Max">
                </div>
              </div>
            </div>
          </div>

          <h5>Skill and Experience:</h5>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="skills">Skills</label>
                <textarea class="form-control" id="skills" rows="5" placeholder="Skills"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="qualifications">Qualifications</label>
                <textarea class="form-control" id="qualifications" rows="5" placeholder="Qualifications"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="experience">Experience</label>
                <textarea class="form-control" id="experience" rows="5" placeholder="Experience"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="industry">Industry</label>
                <input class="form-control" id="industry" placeholder="Banking">
              </div>
            </div>
          </div>

          <h5>Address:</h5>

          <div class="col-12">
            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" id="address" placeholder="Address">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="country">Country</label>
                <input class="form-control" id="country" placeholder="Country">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="state">City/State</label>
                <input class="form-control" id="state" placeholder="State">
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <button type="submit" [disabled]="formLocked" class="btn-1">Post Now</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!loading && serverError">
    <app-failed-to-load-data></app-failed-to-load-data>
  </div>
  <div *ngIf="notFound && !employee?.employee">
    <app-result-not-found></app-result-not-found>
  </div>
  <div *ngIf="corsError">
    <app-network-error></app-network-error>
  </div>
  <div *ngIf="forbidden && !employee?.employee || unexpectedError">
    <app-forbidden></app-forbidden>
  </div>
</div>
