<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Back-End Developer</h1>
    <p>Job Stack > Job Apply Form > <span>Backend Developer</span></p>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center justify-content-center w-100">

    <div class="form-card-1">
      <form action="">
        <h5>Job details:</h5>
        <div class="row form-wrapper">
          <div class="col-12">
            <div class="form-group">
              <label for="title">Job Title</label>
              <input type="text" class="form-control" id="title" placeholder="web developer">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="description">Job Description</label>
              <textarea class="form-control" id="description" rows="5" placeholder="Job Description"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="category">Categories</label>
                <select class="form-control" id="category">
                  <option>Category 1</option>
                  <option>Category 2</option>
                  <option>Category 3</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="jobType">Job Type</label>
                <select class="form-control" id="jobType">
                  <option>Job Type 1</option>
                  <option>Job Type 2</option>
                  <option>Job Type 3</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="salary">Salary</label>
                <select class="form-control" id="salary">
                  <option>Hourly</option>
                  <option>Monthly</option>
                </select>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="form-group">
                <label></label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Min">
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="form-group">
                <label></label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Max">
                </div>
              </div>
            </div>
          </div>

          <h5>Skill and Experience:</h5>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="skills">Skills</label>
                <textarea class="form-control" id="skills" rows="5" placeholder="Skills"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="cover">Qualifications</label>
                <textarea class="form-control" id="qualifications" rows="5" placeholder="Qualifications"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="experience">Experience</label>
                <textarea class="form-control" id="experience" rows="5" placeholder="Experience"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="industry">Industry</label>
                <input class="form-control" id="industry" placeholder="Banking">
              </div>
            </div>
          </div>

          <h5>Address:</h5>

          <div class="col-12">
            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" id="address" placeholder="Address">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="country">Country</label>
                <input class="form-control" id="country" placeholder="Country">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="state">State</label>
                <input class="form-control" id="state" placeholder="State">
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <button type="submit" class="btn-1">Post Now</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
