@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.scrollDist {
  position: absolute;
  top: 70vh;
  left: 0;
  width:100%;
  height:100%;
  z-index: 2;

  @media screen and (max-width: 992px) {
    top: 90vh;
  }

  .main-content-wrapper{
    width: 100%;
    height: fit-content;
    background-color: var(--color-surface-mixed-100);
    margin-top: 30vh;

    @media screen and (max-width: 992px) {
      margin-top: 10vh;
    }

    .hero-right{
      padding: 2.5vw;
      position: relative;

      .content-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content{
          width: 100%;
          position: relative;

          .lg-img{
            width: 100%;
            overflow: hidden;

            img{
              width: 100%;
              height: auto;
            }
          }

          .subscribe-element, .candidate-element{
            position: absolute;
            top: 0;
            right: -30px;
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 20px;
            background-color: var(--color-primary-100);
            border-radius: 8px;
            -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
            -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
            box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
            gap: 10px;
            cursor: pointer;

            p{
              margin-bottom: 0;
              margin-left: 5px;
              color: #FFFFFF;
              font-size: 18px;
              font-weight: 500;
            }

            .mat-icon{
              font-size: 22px;
              color: var(--color-highlight-100);
            }
          }

          .candidate-element{
            flex-direction: column;
            bottom: 0;
            left: unset;
            right: 50%;
            top: unset;
            transform: translate(50%, 50%);

            .candidates-wrapper{
              width: 100%;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              margin-top: 10px;

              .candidate{
                width: 40px;
                height: 40px;
                overflow: hidden;
                background-color: var(--color-surface-mixed-300);
                border-radius: 50%;
                border: 4px solid var(--color-surface-mixed-100);
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
                -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
                box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
                transition: all .3s ease-in-out;

                &:nth-child(1){
                  left: 0;
                  z-index: 1;
                }
                &:nth-child(2){
                  left: 30px;
                  z-index: 2;
                }
                &:nth-child(3){
                  left: 60px;
                  z-index: 3;
                }
                &:nth-child(4){
                  left: 90px;
                  z-index: 4;
                }
                &:nth-child(5){
                  left: 120px;
                  z-index: 5;
                }
                &:nth-child(6){
                  left: 150px;
                  z-index: 6;
                  border: none;
                  background-color: var(--color-secondary-200);
                  color: #fff;

                  .mat-icon{
                    color: #fff;
                  }
                }

                img{
                  width: 100%;
                  height: auto;
                }

                &:hover{
                  transform: scale(1.1);
                  z-index: 10;
                }
              }
            }

            @media screen and (max-width: 1199px) {
              width: 60%;
            }

            @media screen and (max-width: 992px) {
              width: 80%;

              p{
                font-size: 14px;
              }
            }

            @media screen and (max-width: 768px) {
              width: 60%;
              p{
                font-size: 16px;
              }
            }

            @media screen and (max-width: 432px) {
              width: 80%;
              p{
                font-size: 14px;
              }
            }
          }
        }
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 50px;
      }
    }

    .hero-left{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 50px 0;

      h1{
        font-weight: 500;
        margin: 6px 0;
        letter-spacing: 5px;

        span{
          color: var(--color-primary-200);
        }
      }

      .search-box{
        width: 100%;
        min-height: 60px;
        background-color: var(--color-surface-mixed-100);
        border-radius: 5px;
        border: 2px solid var(--color-surface-mixed-300);
        padding: 10px;

        .vr-line{
          width: 2px;
          height: 40px;
          background-color: var(--color-code-100);
        }

        .search-items{
          width: 100%;
          height: 60px;
          background-color: var(--color-surface-mixed-300);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;

          i{
            font-size: 20px;
            color: var(--color-primary-200);
          }

          input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: var(--color-surface-mixed-300);
            color: var(--color-text-100);
            padding: 0 10px;

            &::placeholder{
              color: var(--color-text-500);
            }

          }

          @media screen and (max-width: 768px) {
            margin-bottom: 12px;
          }
        }

        .search-button{
          height: 60px;
          padding: 0 20px;
          background-color: var(--color-primary-100);
          color: #fff;
          font-weight: 500;
          outline: none;
          border: none;
          transition: all .3s ease-in-out;

          @media screen and (max-width: 768px) {
            border-radius: 5px;
            width: 100%;
          }
        }
      }

      .bold-p{
        font-weight: 450;
      }
    }

    .popular-categories{
      .popular-item-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        border-radius: 100px;
        border: 2px solid var(--color-surface-mixed-300);
        transition: all .3s ease-in-out;

        .icon-wrapper{
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--color-surface-mixed-100);
          margin-bottom: 10px;
          -webkit-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          -moz-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);

          i{
            font-size: 24px;
            color: var(--color-primary-100);
          }
        }

        .job-title{
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 10px;
          color: var(--color-text-100);
          transition: all .3s ease-in-out;

          &:hover{
            color: var(--color-primary-200);
            cursor: pointer;
          }
        }

        .job-count{
          font-weight: 400;
          color: var(--color-secondary-400);
        }

        &:hover{
          background-color: var(--color-primary-600-opacity-3);

          .icon-wrapper{
            background-color: var(--color-primary-200);

            i{
              color: #fff;
            }
          }
        }
      }
    }

    .popular-2-right, .popular-2-left{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 50px 0;
      position: relative;
    }

    .popular-2-left{
      .lg-img{
        width: 50%;
        left: 0;
        top: 0;
        border-radius: 12px;
        position: relative;

        img{
          width: 100%;
          height: auto;
          border-radius: 12px;
        }

        .play-btn{
          width: max(60px, 5vw);
          height: max(60px, 5vw);
          border-radius: 50%;
          border: 2px solid var(--color-primary-100);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-surface-mixed-100);
          position: absolute;
          right: max(-30px, -40px);
          bottom: 35%;
          -webkit-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          -moz-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          transition: all .3s ease-in-out;
          cursor: pointer;
          z-index: 3;

          i{
            font-size: 20px;
            color: var(--color-primary-100);
          }
        }

        .sm-img{
          width: 120%;
          position: absolute;
          right: -80%;
          bottom: -48px;
          overflow: hidden;
          z-index: 2;

          img{
            width: 100%;
            height: auto;
            border-radius: 0;
          }
        }
      }
    }

    .popular-2-right{
      ul{
        margin: 0 0 10px 0;
        padding: 0;
        list-style: none;

        li{
          margin: 8px 0;
          position: relative;
          text-align: left;
          display: flex;
          align-items: center;
        }
        li:before{
          content: 'check_circle_outline';
          font-family: 'Material Icons';
          font-size: 18px;
          color: var(--color-primary-200);
          margin-right: 6px;
        }
      }
    }

    .popular-jobs{
      .card-1{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background-color: var(--color-surface-200);
        border: 1px solid var(--color-surface-mixed-300);
        -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
        -moz-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
        box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
        transition: all .3s ease-in-out;

        hr{
          background-color: var(--color-surface-mixed-300);
          height: 1px;
          margin: 0;
          opacity: 1;
          border: none;
        }

        .card-top, .card-content, .card-bottom{
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .card-content{
          @media screen and (max-width: 992px) {
            display: block;
          }
        }

        .card-bottom{
          padding: 8px 30px;
          background-color: var(--color-primary-600-opacity-3);
        }

        .card-top{
          .card-top-left, .card-top-right{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
          }

          .card-top-left{
            .logo-icon-wrapper{
              width: 60px;
              height: 60px;
              border-radius: 8px;
              border: 1px solid var(--color-surface-mixed-300);
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all .3s ease-in-out;
              padding: 8px;
              -webkit-box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);
              -moz-box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);
              box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);

              .logo-icon{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                  width: 100%;
                }
              }
            }

            .company-name{
              font-size: 17px;
              font-weight: 500;
              color: var(--color-text-100);
            }

            .opens-ago{
              font-size: 14px;
              color: var(--color-text-400);
            }
          }

          .card-top-right{
            .visit-link-circle{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--color-primary-200);
              background-color: var(--color-primary-600-opacity-9);
              transition: all .3s ease-in-out;
              cursor: pointer;

              i{
                font-size: 20px;
              }

              .liked{
                color: red;
              }
            }
          }
        }

        .card-content{
          .card-content-left{
            .job-title{
              font-size: 18px;
              font-weight: 500;
              color: var(--color-text-100);
              cursor: pointer;
              transition: all .3s ease-in-out;

              &:hover{
                color: var(--color-primary-200);
              }
            }

            .open-positions{
              font-size: 14px;
              color: var(--color-secondary-100);
            }
          }

          .card-content-right{
            .salary-range{
              display: flex;
              align-items: center;
              font-size: 16px;
              color: var(--color-text-400);

              i{
                font-size: 16px;
                margin-right: 5px;
                color: forestgreen;
              }
            }
          }
        }

        .card-bottom{
          .card-bottom-left, .card-bottom-right{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 16px;
            color: var(--color-text-300);

            i{
              font-size: 18px;
              margin-right: 5px;
            }
          }

          .card-bottom-left{
            i{
              color: #3b82f6;
            }
          }
        }

        &:hover{
          -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
          -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
          box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
          border-radius: 0;

          .card-top{
            .card-top-right{
              .visit-link-circle{
                background-color: var(--color-primary-200);
                color: #fff;
              }
            }
          }
        }
      }
    }

    .overlay-banner-lg{
      width: 100%;
      margin-top: max(20px, 5vw);
      margin-bottom: max(20px, 5vw);
      max-height: 40vh;
      min-height: 350px;
      background-image: url("https://jobstack-shreethemes.vercel.app/static/media/bg2.bfccecc679de287507db.jpg");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      position: relative;

      .overlay{
        width: 100%;
        height: 100%;
        background-color: #0f172ab3;
        backdrop-filter: opacity(.35);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .banner-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        width: 100%;
        height: 100%;

        .overlay-banner-title{
          font-size: 26px;
          font-weight: 500;
          color: #fff;
          text-align: center;
          font-family: 'Merriweather', serif;
        }

        .overlay-banner-text{
          font-size: 14px;
          color: #e6e6e6;
          text-align: center;
          margin: 18px 0;
        }

        .overlay-banner-button{
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #fff;
          margin-bottom: 10px;
          cursor: pointer;
          transition: all .3s ease-in-out;

          i{
            font-size: 16px;
            color: var(--color-primary-100);
          }

          &:hover{
            -webkit-box-shadow: 0 4px 14px 2px rgba(255, 255, 255, 0.3);
            -moz-box-shadow: 0 4px 14px 2px rgba(255, 255, 255, 0.3);
            box-shadow: 0 4px 14px 2px rgba(255, 255, 255, 0.3);
          }
        }
      }
    }

    .achievements{
      padding: 12px;

      .achievement{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5px;

        .achievement-score{
          font-size: 36px;
          font-weight: 500;
          color: var(--color-text-100);
        }

        .achievement-title{
          font-size: 16px;
          color: var(--color-text-400);
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 12px;
        }
      }
    }

    .spec-card-1{
      .sub-title{
        span{
          color: var(--color-highlight-100);
          font-weight: 550;
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  position: fixed;
  background:#fff;
  width:100%;
  max-width: 100vw;
  align-self: flex-start;
  top:0;
  left:50%;
  transform: translateX(-50%);

  .main-cont{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/imgs/home/main-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-500);
      opacity: .35;
    }

    .main-l, .main-r{
      width: 100%;
      height: 100%;
      min-height: 50vh;
      max-width: 600px;
      max-height: 500px;
      position: relative;
      //overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .l-banner, .r-banner{
        transform-origin: 0 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 70px;
      }
    }

    .main-l{
      .l-banner{
        left: 20px;
        transform: translate(-300px, -5.633px) translate(354.388px, 236.259px) rotate(-180deg) translate(-354.388px, -236.259px);
        background-image: url(../../../assets/imgs/home/1-ud.webp);
        clip-path: path("M78.1998,31.956461559425467L7.4476,173.99638060431658C-5.41217825224567,198.29135611164003 -2.004510463794692,228.93730032004805 14.6354,249.6031508553232L172.2474,448.60017015597265C182.63940000000002,461.8061526931485 197.3614,469.26602069124783 212.6896,469.26602069124783L377.83580000000006,469.26602069124783C408.23240000000004,469.26602069124783 432.9134000000001,440.5354479958653 432.9134000000001,405.1514795183942L432.9134000000001,150.10464120499847C432.9134000000001,136.89865866782264 429.4494,123.99510321165083 422.8678,113.20853732250724L370.90780000000007,27.21843729036237C360.60240000000005,10.181711727135546 343.802,0 325.8758,0L125.8298,0C106.1716,0 87.9856,12.197892267162402 78.1998,31.956461559425467Z");
      }
    }

    .main-r{
      .r-banner{
        right: 20px;
        transform: translate(190px, -100.082px) translate(218.125px, 327.187px) rotate(0deg) translate(-218.125px, -327.187px);
        background-image: url(../../../assets/imgs/home/2.webp);
        clip-path: path("M 78.7416 30.9312 L 7.4992 168.414 C -5.44968 191.929 -2.0184 221.592 14.7368 241.595 L 173.441 434.207 C 183.905 446.989 198.729 454.21 214.163 454.21 L 380.454 454.21 C 411.061 454.21 435.913 426.401 435.913 392.152 L 435.913 145.289 C 435.913 132.506 432.425 120.017 425.798 109.576 L 373.478 26.3451 C 363.101 9.85504 346.184 0 328.134 0 L 126.702 0 C 106.907 0 88.5952 11.8065 78.7416 30.9312 Z");
      }
    }

    @media screen and (max-width: 912px) {
      display: block;

      .main-l, .main-r{
        width: 100%;
        height: 50vh;
      }
    }

    .scroll-here{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p{
        font-size: 16px;
        color: white;
        font-family: 'Merriweather', serif;
      }

      svg #wheel {
        animation: scroll ease 1.5s infinite;
      }
    }
  }

}
