<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="hero-left">
        <div class="d-flex" style="margin-bottom: -20px">
          <h1>Find the </h1>
          <div class="best-job-element">
            <h1>Best Job</h1>
          </div>
        </div>
        <h1>offer for you</h1>

        <div>
          <p>Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent
            applicants over the years.</p>
        </div>

        <div class="search-box">
          <div class="d-md-flex align-items-center justify-content-center">
            <div class="d-sm-flex align-items-center justify-content-center w-100">
              <div class="search-items">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <input type="text" placeholder="Search Jobs" [(ngModel)]="jobSearch">
              </div>
              <div class="d-none d-sm-flex vr-line"></div>
              <div class="search-items">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" placeholder="Location" [(ngModel)]="locationSearch">
              </div>
            </div>
            <button class="search-button" (click)="makeSearchQuery()">Search</button>
          </div>
        </div>

        <div class="my-2">
          <p><span class="bold-p">Popular Searches : </span>Designer, Developer, Web, IOS, PHP Senior Engineer</p>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="hero-right">
        <div class="circle-lg"></div>
        <div class="content-wrapper">
          <div class="content">
            <div class="lg-img">
              <img src="https://jobstack-shreethemes.vercel.app/static/media/ab01.016884c7bf778010e79c.jpg"
                   alt="lg-img">
            </div>
            <div class="sm-img">
              <img src="https://jobstack-shreethemes.vercel.app/static/media/ab04.c122948ac7bf15368325.jpg"
                   alt="sm-img">
            </div>
            <div class="subscribe-element">
              <mat-icon>notifications_active</mat-icon>
              <p>Job Alert Subscribe</p>
            </div>
            <div class="candidate-element">
              <p>5k+ candidates get job</p>
              <div class="candidates-wrapper">
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/01.6ac85de7298319b1f8d5.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/02.7df14e12e444ad660802.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/03.ba5f8794c055cc1488b5.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/04.35463172278c4051b5f4.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/05.a7ab2c82813cb95da9d6.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <mat-icon>add</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Popular Categories</h3>
    <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+
      companies worldwide.</p>
  </div>

  <div class="container popular-categories">
    <div class="row" *ngFor="let j of filterJobs()">
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </div>
          <div class="job-title">Business Development</div>
          <div class="job-count">{{j.businessDevelopmentJobs?j.businessDevelopmentJobs:0}} Jobs</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <div class="job-title">Data Entry Operator</div>
          <div class="job-count">{{j.dataEntryOperatorJobs?j.dataEntryOperatorJobs:0}} Jobs</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </div>
          <div class="job-title">Graphic Designer</div>
          <div class="job-count">{{j.graphicDesignerJobs?j.graphicDesignerJobs:0}} Jobs</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="job-title">Web Developer</div>
          <div class="job-count">{{j.webDeveloperJobs?j.webDeveloperJobs:0}} Jobs</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Popular Jobs</h3>
    <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+
      companies worldwide.</p>
  </div>

  <div class="container popular-jobs">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mb-4" *ngFor="let p of jobAdDataStrore | truncateComments: 4; let i = index">
          <div class="card-1">
            <div class="card-top">
              <div class="card-top-left d-flex align-items-center">
                <div class="logo-icon-wrapper">
                  <div class="logo-icon">
                    <img
                      src="{{p.companyLogo}}"
                      alt="{{p.companyName}}">
                  </div>
                </div>
                <div class="d-flex flex-column align-items-start justify-content-between">
                  <div class="company-name">{{p.companyName}}</div>
                  <div class="opens-ago">{{p.datePosted | timeAgo}}</div>
                </div>
              </div>
              <div class="card-top-right">
                <div class="visit-link-circle">
                  <i class="material-icons" [ngClass]="heart?'liked':''">favorite_border</i>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-content">
              <div class="card-content-left">
                <div class="d-flex flex-column align-items-start">
                  <div class="job-title" routerLink="/job-details/{{p.id}}">{{p.title}}</div>
                  <div class="open-positions">Total Openings: {{p.totalOpenings}}</div>
                </div>
              </div>
              <div class="card-content-right">
                <div class="salary-range"><i class="fa fa-usd" aria-hidden="true"></i> ${{p.minSalary}} - ${{p.maxSalary}}</div>
              </div>
            </div>
            <hr>
            <div class="card-bottom">
              <div *ngIf="p.companyLevel != '1'"></div>
              <div class="card-bottom-left" *ngIf="p.companyLevel == '1'">
                <i class="material-icons">verified</i>
                <span>Verified</span>
              </div>
              <div class="card-bottom-right">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{p.location}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="see-more">
        <div class="see-more-btn" routerLink="/job">See More Jobs <i class="material-icons">arrow_right_alt</i></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="popular-2-left">
          <div class="lg-img">
            <img src="https://jobstack-shreethemes.vercel.app/static/media/ab01.016884c7bf778010e79c.jpg" alt="banner">

            <div class="play-btn">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>

            <div class="sm-img">
              <img src="https://jobstack-shreethemes.vercel.app/static/media/ab02.f851a3dde08585493f97.jpg"
                   alt="banner">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="popular-2-right">
          <h3>Millions of jobs.</h3>
          <h3>Find the one that's right for you.</h3>
          <div class="my-3">
            <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
              30000+ companies worldwide.</p>
          </div>
          <ul>
            <li>Digital Marketing Solutions for Tomorrow</li>
            <li>Our Talented & Experienced Marketing Agency</li>
            <li>Create your own skin to match your brand</li>
          </ul>
          <button class="btn-1" routerLink="/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact us</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay-banner-lg">
  <div class="overlay"></div>
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center banner-content">
      <div class="overlay-banner-title">Get the job that's right for you</div>
      <div class="overlay-banner-text">Search all the open positions on the web. Get your own personalized salary
        estimate. Read reviews on over 30000+ companies worldwide.
      </div>
      <div class="overlay-banner-button"><i class="fa fa-play" aria-hidden="true"></i></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row achievements" #achievementsSection>
    <div class="col-12 col-sm-6 col-md-4 achievement">
      <div class="achievement-score">{{jobsAchValue}}+</div>
      <div class="achievement-title">JOB FULFILLMENT</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 achievement">
      <div class="achievement-score">{{branchesAchValue}}+</div>
      <div class="achievement-title">BRANCHES</div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 achievement">
      <div class="achievement-score">{{countriesAchValue}}+</div>
      <div class="achievement-title">COUNTRIES</div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Find Best Companies</h3>
    <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+
      companies worldwide.</p>
  </div>

  <div class="popular-companies">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 pt-4" *ngFor="let c of companyDataStore | truncateComments: 4; let i = index">
        <div class="card-2">
          <div class="card-top">
            <div class="logo-icon-wrapper">
              <div class="logo-icon">
                <img
                  [src]="c.logo"
                  alt="{{c.name}}">
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="d-flex flex-column align-items-start">
              <div class="company-name" routerLink="/business-profile/{{c.id}}">{{c.name}}</div>
              <div class="company-description">{{c.shortDescription}}</div>
            </div>
          </div>
          <hr>
          <div class="card-bottom">
            <div class="card-bottom-right">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>{{c.location}}</span>
            </div>
            <div class="card-bottom-left">
              <div class="open-jobs">{{c.postedJobs.length > 0 ? c.postedJobs.length : 0}} Jobs</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="see-more">
      <div class="see-more-btn" routerLink="/companies">See More Companies <i class="material-icons">arrow_right_alt</i></div>
    </div>
  </div>

  <div class="spec-card-1">
    <div class="d-md-flex align-items-center justify-content-between w-100">
      <div>
        <div class="title">
          Are you looking for employees?
        </div>
        <div class="sub-title">
          Start to post your jobs <span>FREE</span> today!
        </div>
      </div>

      <button class="btn-1" (click)="moveToRegister()">Get Started</button>
    </div>
  </div>
</div>
