@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

.wave-wrapper{
  position: absolute;
  width: 100vw;
  left: 0;
  top: 20px;
  z-index: -1;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  #svg{
    .path-0 {
      animation: pathAnim-0 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  @keyframes pathAnim-0 {
    0% {
      d: path("M 0,400 L 0,150 C 58.22603916180006,147.57609069048436 116.45207832360012,145.15218138096876 188,157 C 259.5479216763999,168.84781861903124 344.41772586739955,194.96736516660943 424,201 C 503.58227413260045,207.03263483339057 577.8770182068018,192.97835795259363 648,202 C 718.1229817931982,211.02164204740637 784.0742013053931,243.11920302301615 853,221 C 921.9257986946069,198.88079697698385 993.8261765716252,122.5448299553418 1065,104 C 1136.1738234283748,85.4551700446582 1206.621092408107,124.70147715561663 1269,142 C 1331.378907591893,159.29852284438337 1385.6894537959465,154.64926142219167 1440,150 L 1440,400 L 0,400 Z");
    }
    25% {
      d: path("M 0,400 L 0,150 C 76.62109240810719,162.57574716592237 153.24218481621438,175.15149433184473 216,167 C 278.7578151837856,158.84850566815527 327.6523531432497,129.96976983854347 392,123 C 456.3476468567503,116.03023016145654 536.1484026107867,130.96942631398144 616,130 C 695.8515973892133,129.03057368601856 775.7540364136036,112.15252490553075 837,136 C 898.2459635863964,159.84747509446925 940.8354517347991,224.42047406389557 1007,216 C 1073.164548265201,207.57952593610443 1162.9041566472004,126.165578838887 1239,103 C 1315.0958433527996,79.834421161113 1377.5479216763997,114.9172105805565 1440,150 L 1440,400 L 0,400 Z");
    }
    50% {
      d: path("M 0,400 L 0,150 C 54.32909653040193,188.42528340776366 108.65819306080385,226.85056681552732 183,219 C 257.34180693919615,211.14943318447268 351.69632428718654,157.02301614565442 419,126 C 486.30367571281346,94.97698385434558 526.55650979045,87.05736860185502 600,111 C 673.44349020955,134.94263139814498 780.0776365510135,190.74750944692545 857,200 C 933.9223634489865,209.25249055307455 981.1329440054965,171.95259361044316 1046,139 C 1110.8670559945035,106.04740638955685 1193.3905874270008,77.44211611130196 1262,80 C 1330.6094125729992,82.55788388869804 1385.3047062864996,116.27894194434901 1440,150 L 1440,400 L 0,400 Z");
    }
    75% {
      d: path("M 0,400 L 0,150 C 53.38852627962898,143.17141875644108 106.77705255925795,136.34283751288217 178,126 C 249.22294744074205,115.65716248711783 338.2803160425971,101.80006870491242 425,110 C 511.7196839574029,118.19993129508758 596.1016832703538,148.4568876674682 653,171 C 709.8983167296462,193.5431123325318 739.3129508759878,208.3723806252147 808,191 C 876.6870491240122,173.6276193747853 984.6465132256956,124.05358983167297 1064,100 C 1143.3534867743044,75.94641016832703 1194.10099622123,77.41326004809345 1252,90 C 1309.89900377877,102.58673995190655 1374.949501889385,126.29336997595328 1440,150 L 1440,400 L 0,400 Z");
    }
    100% {
      d: path("M 0,400 L 0,150 C 58.22603916180006,147.57609069048436 116.45207832360012,145.15218138096876 188,157 C 259.5479216763999,168.84781861903124 344.41772586739955,194.96736516660943 424,201 C 503.58227413260045,207.03263483339057 577.8770182068018,192.97835795259363 648,202 C 718.1229817931982,211.02164204740637 784.0742013053931,243.11920302301615 853,221 C 921.9257986946069,198.88079697698385 993.8261765716252,122.5448299553418 1065,104 C 1136.1738234283748,85.4551700446582 1206.621092408107,124.70147715561663 1269,142 C 1331.378907591893,159.29852284438337 1385.6894537959465,154.64926142219167 1440,150 L 1440,400 L 0,400 Z");
    }
  }
}

.scrollDist {
  position: absolute;
  top: 80vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  @media screen and (max-width: 992px) {
    top: 90vh;
  }

  .main-content-wrapper {
    width: 100%;
    height: fit-content;
    background-color: var(--color-surface-mixed-100);
    margin-top: 30vh;

    @media screen and (max-width: 992px) {
      margin-top: 10vh;
    }

    .hero-right {
      padding: 2.5vw;
      position: relative;

      .content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
          width: 100%;
          position: relative;

          .lg-img {
            width: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
            }
          }

          .subscribe-element, .candidate-element {
            position: absolute;
            top: 0;
            right: -30px;
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 20px;
            background-color: var(--color-primary-100);
            border-radius: 8px;
            -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
            -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
            box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
            gap: 10px;
            cursor: pointer;

            p {
              margin-bottom: 0;
              margin-left: 5px;
              color: #FFFFFF;
              font-size: 18px;
              font-weight: 500;
            }

            .mat-icon {
              font-size: 22px;
              color: var(--color-highlight-100);
            }
          }

          .candidate-element {
            flex-direction: column;
            bottom: 0;
            left: unset;
            right: 50%;
            top: unset;
            transform: translate(50%, 50%);

            .candidates-wrapper {
              width: 100%;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              margin-top: 10px;

              .candidate {
                width: 40px;
                height: 40px;
                overflow: hidden;
                background-color: var(--color-surface-mixed-300);
                border-radius: 50%;
                border: 4px solid var(--color-surface-mixed-100);
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
                -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
                box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
                transition: all .3s ease-in-out;

                &:nth-child(1) {
                  left: 0;
                  z-index: 1;
                }

                &:nth-child(2) {
                  left: 30px;
                  z-index: 2;
                }

                &:nth-child(3) {
                  left: 60px;
                  z-index: 3;
                }

                &:nth-child(4) {
                  left: 90px;
                  z-index: 4;
                }

                &:nth-child(5) {
                  left: 120px;
                  z-index: 5;
                }

                &:nth-child(6) {
                  left: 150px;
                  z-index: 6;
                  border: none;
                  background-color: var(--color-secondary-200);
                  color: #fff;

                  .mat-icon {
                    color: #fff;
                  }
                }

                img {
                  width: 100%;
                  height: auto;
                }

                &:hover {
                  transform: scale(1.1);
                  z-index: 10;
                }
              }
            }

            @media screen and (max-width: 1199px) {
              width: 60%;
            }

            @media screen and (max-width: 992px) {
              width: 80%;

              p {
                font-size: 14px;
              }
            }

            @media screen and (max-width: 768px) {
              width: 60%;
              p {
                font-size: 16px;
              }
            }

            @media screen and (max-width: 432px) {
              width: 80%;
              p {
                font-size: 14px;
              }
            }
          }
        }
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 50px;
      }
    }

    .hero-left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 50px 0;

      h1 {
        font-weight: 500;
        margin: 6px 0;
        letter-spacing: 5px;

        span {
          color: var(--color-primary-200);
        }
      }

      .search-box {
        width: 100%;
        min-height: 60px;
        background-color: var(--color-surface-mixed-100);
        border-radius: 5px;
        border: 2px solid var(--color-surface-mixed-300);
        padding: 10px;

        .vr-line {
          width: 2px;
          height: 40px;
          background-color: var(--color-code-100);
        }

        .search-items {
          width: 100%;
          height: 60px;
          background-color: var(--color-surface-mixed-300);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;

          i {
            font-size: 20px;
            color: var(--color-primary-200);
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: var(--color-surface-mixed-300);
            color: var(--color-text-100);
            padding: 0 10px;

            &::placeholder {
              color: var(--color-text-500);
            }

          }

          @media screen and (max-width: 768px) {
            margin-bottom: 12px;
          }
        }

        .search-button {
          height: 60px;
          padding: 0 20px;
          background-color: var(--color-primary-100);
          color: #fff;
          font-weight: 500;
          outline: none;
          border: none;
          transition: all .3s ease-in-out;

          @media screen and (max-width: 768px) {
            border-radius: 5px;
            width: 100%;
          }
        }
      }

      .bold-p {
        font-weight: 450;
      }
    }

    .popular-categories {
      .popular-item-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        border-radius: 100px;
        border: 2px solid var(--color-surface-mixed-300);
        transition: all .3s ease-in-out;

        .icon-wrapper {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--color-surface-mixed-100);
          margin-bottom: 10px;
          -webkit-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          -moz-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);

          i {
            font-size: 24px;
            color: var(--color-primary-100);
          }
        }

        .job-title {
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 10px;
          color: var(--color-text-100);
          transition: all .3s ease-in-out;

          &:hover {
            color: var(--color-primary-200);
            cursor: pointer;
          }
        }

        .job-count {
          font-weight: 400;
          color: var(--color-secondary-400);
        }

        &:hover {
          background-color: var(--color-primary-600-opacity-3);

          .icon-wrapper {
            background-color: var(--color-primary-200);

            i {
              color: #fff;
            }
          }
        }
      }
    }

    .popular-2-right, .popular-2-left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 50px 0;
      position: relative;
    }

    .popular-2-left {
      .lg-img {
        width: 50%;
        left: 0;
        top: 0;
        border-radius: 12px;
        position: relative;

        img {
          width: 100%;
          height: auto;
          border-radius: 12px;
        }

        .play-btn {
          width: max(60px, 5vw);
          height: max(60px, 5vw);
          border-radius: 50%;
          border: 2px solid var(--color-primary-100);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-surface-mixed-100);
          position: absolute;
          right: max(-30px, -40px);
          bottom: 35%;
          -webkit-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          -moz-box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          box-shadow: 0 4px 8px 0 var(--color-box-shadow-100);
          transition: all .3s ease-in-out;
          cursor: pointer;
          z-index: 3;

          i {
            font-size: 20px;
            color: var(--color-primary-100);
          }
        }

        .sm-img {
          width: 120%;
          position: absolute;
          right: -80%;
          bottom: -48px;
          overflow: hidden;
          z-index: 2;

          img {
            width: 100%;
            height: auto;
            border-radius: 0;
          }
        }
      }
    }

    .popular-2-right {
      ul {
        margin: 0 0 10px 0;
        padding: 0;
        list-style: none;

        li {
          margin: 8px 0;
          position: relative;
          text-align: left;
          display: flex;
          align-items: center;
        }

        li:before {
          content: 'check_circle_outline';
          font-family: 'Material Icons';
          font-size: 18px;
          color: var(--color-primary-200);
          margin-right: 6px;
        }
      }
    }

    .popular-jobs {
      .card-1 {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background-color: var(--color-surface-200);
        border: 1px solid var(--color-surface-mixed-300);
        -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
        -moz-box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
        box-shadow: 0 0 2px 0 var(--color-box-shadow-100);
        transition: all .3s ease-in-out;

        hr {
          background-color: var(--color-surface-mixed-300);
          height: 1px;
          margin: 0;
          opacity: 1;
          border: none;
        }

        .card-top, .card-content, .card-bottom {
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .card-content {
          @media screen and (max-width: 992px) {
            display: block;
          }
        }

        .card-bottom {
          padding: 8px 30px;
          background-color: var(--color-primary-600-opacity-3);
        }

        .card-top {
          .card-top-left, .card-top-right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
          }

          .card-top-left {
            .logo-icon-wrapper {
              width: 60px;
              height: 60px;
              border-radius: 8px;
              border: 1px solid var(--color-surface-mixed-300);
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all .3s ease-in-out;
              padding: 8px;
              -webkit-box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);
              -moz-box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);
              box-shadow: 0 1px 2px 0 var(--color-box-shadow-100);

              .logo-icon {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 100%;
                }
              }
            }

            .company-name {
              font-size: 17px;
              font-weight: 500;
              color: var(--color-text-100);
            }

            .opens-ago {
              font-size: 14px;
              color: var(--color-text-400);
            }
          }

          .card-top-right {
            .visit-link-circle {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--color-primary-200);
              background-color: var(--color-primary-600-opacity-9);
              transition: all .3s ease-in-out;
              cursor: pointer;

              i {
                font-size: 20px;
              }

              .liked {
                color: red;
              }
            }
          }
        }

        .card-content {
          .card-content-left {
            .job-title {
              font-size: 18px;
              font-weight: 500;
              color: var(--color-text-100);
              cursor: pointer;
              transition: all .3s ease-in-out;

              &:hover {
                color: var(--color-primary-200);
              }
            }

            .open-positions {
              font-size: 14px;
              color: var(--color-secondary-100);
            }
          }

          .card-content-right {
            .salary-range {
              display: flex;
              align-items: center;
              font-size: 16px;
              color: var(--color-text-400);

              i {
                font-size: 16px;
                margin-right: 5px;
                color: forestgreen;
              }
            }
          }
        }

        .card-bottom {
          .card-bottom-left, .card-bottom-right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 16px;
            color: var(--color-text-300);

            i {
              font-size: 18px;
              margin-right: 5px;
            }
          }

          .card-bottom-left {
            i {
              color: #3b82f6;
            }
          }
        }

        &:hover {
          -webkit-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
          -moz-box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
          box-shadow: 0 4px 14px 2px var(--color-box-shadow-100);
          border-radius: 0;

          .card-top {
            .card-top-right {
              .visit-link-circle {
                background-color: var(--color-primary-200);
                color: #fff;
              }
            }
          }
        }
      }
    }

    .overlay-banner-lg {
      width: 100%;
      margin-top: max(20px, 5vw);
      margin-bottom: max(20px, 5vw);
      max-height: 40vh;
      min-height: 350px;
      background-image: url("https://jobstack-shreethemes.vercel.app/static/media/bg2.bfccecc679de287507db.jpg");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      position: relative;

      .overlay {
        width: 100%;
        height: 100%;
        background-color: #0f172ab3;
        backdrop-filter: opacity(.35);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        width: 100%;
        height: 100%;

        .overlay-banner-title {
          font-size: 26px;
          font-weight: 500;
          color: #fff;
          text-align: center;
          font-family: 'Merriweather', serif;
        }

        .overlay-banner-text {
          font-size: 14px;
          color: #e6e6e6;
          text-align: center;
          margin: 18px 0;
        }

        .overlay-banner-button {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #fff;
          margin-bottom: 10px;
          cursor: pointer;
          transition: all .3s ease-in-out;

          i {
            font-size: 16px;
            color: var(--color-primary-100);
          }

          &:hover {
            -webkit-box-shadow: 0 4px 14px 2px rgba(255, 255, 255, 0.3);
            -moz-box-shadow: 0 4px 14px 2px rgba(255, 255, 255, 0.3);
            box-shadow: 0 4px 14px 2px rgba(255, 255, 255, 0.3);
          }
        }
      }
    }

    .achievements {
      padding: 12px;

      .achievement {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5px;

        .achievement-score {
          font-size: 36px;
          font-weight: 500;
          color: var(--color-text-100);
        }

        .achievement-title {
          font-size: 16px;
          color: var(--color-text-400);
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 12px;
        }
      }
    }

    .spec-card-1 {
      .sub-title {
        span {
          color: var(--color-highlight-100);
          font-weight: 550;
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  position: fixed;
  width: calc(100% - 12px);
  max-width: 100vw;
  top: 0px;
  left: 0;
  z-index: 1;

  .main-cont {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-image: url(../../../assets/imgs/home/main-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, var(--color-surface-mixed-100) 20%, var(--color-primary-500) 60%, var(--color-primary-200) 100%);
      opacity: .5;
    }

    .main-l, .main-r {
      width: 100%;
      height: 100%;
      min-height: 50vh;
      max-width: 600px;
      max-height: 500px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .l-banner, .r-banner {
        transform-origin: 0 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 2;
        top: 70px;
      }

      .content {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        position: absolute;
        z-index: 3;

        .h1 {
          font-size: max(24px, 1.8vw);
          width: 100%;
          max-width: max(350px, 34vw);
          color: #000;
          text-align: left;
          font-family: 'Source Code Pro', monospace;
          font-weight: 450;
          background-color: rgba(255, 255, 255, 0.7);
          padding: 10px 15px;
          text-space: 20px;
          line-height: max(32px, 2.2vw);
          box-shadow: 0 0 -1px 4px rgba(0, 0, 0, 0.1);
          transition: all .3s ease-in-out;

          &:hover {
            box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.3);
          }
        }

        .get-started {
          padding: 8px 24px;
          border: 2px solid #fff;
          border-radius: 25px;
          background-color: #fff;
          color: #000;
          cursor: pointer;
          transition: all .3s ease-in-out;
          font-size: max(16px, 1.2vw);

          &:hover {
            background-color: transparent;
            color: var(--color-text-100);
            border: 2px solid var(--color-text-100);
          }
        }
      }
    }

    .main-l {
      .l-banner {
        left: 20px;
        transform: translate(-300px, -5.633px) translate(354.388px, 236.259px) rotate(-180deg) translate(-354.388px, -236.259px);
        background-image: url(../../../assets/imgs/home/1-ud.webp);
        clip-path: path("M78.1998,31.956461559425467L7.4476,173.99638060431658C-5.41217825224567,198.29135611164003 -2.004510463794692,228.93730032004805 14.6354,249.6031508553232L172.2474,448.60017015597265C182.63940000000002,461.8061526931485 197.3614,469.26602069124783 212.6896,469.26602069124783L377.83580000000006,469.26602069124783C408.23240000000004,469.26602069124783 432.9134000000001,440.5354479958653 432.9134000000001,405.1514795183942L432.9134000000001,150.10464120499847C432.9134000000001,136.89865866782264 429.4494,123.99510321165083 422.8678,113.20853732250724L370.90780000000007,27.21843729036237C360.60240000000005,10.181711727135546 343.802,0 325.8758,0L125.8298,0C106.1716,0 87.9856,12.197892267162402 78.1998,31.956461559425467Z");

        @media screen and (max-width: 768px) {
          left: -100px;
        }
      }

      .content {
        top: 20px;
        right: -200px;

        .h1 {
          border-radius: 12px 12px 0 12px;
        }

        @media screen and (max-width: 913px) {
          top: 100px;
        }
        @media screen and (max-width: 680px) {
          top: 20vh;
          right: 0;
        }
      }
    }

    .main-r {
      .r-banner {
        right: 20px;
        transform: translate(190px, -100.082px) translate(218.125px, 327.187px) rotate(0deg) translate(-218.125px, -327.187px);
        background-image: url(../../../assets/imgs/home/2.webp);
        clip-path: path("M 78.7416 30.9312 L 7.4992 168.414 C -5.44968 191.929 -2.0184 221.592 14.7368 241.595 L 173.441 434.207 C 183.905 446.989 198.729 454.21 214.163 454.21 L 380.454 454.21 C 411.061 454.21 435.913 426.401 435.913 392.152 L 435.913 145.289 C 435.913 132.506 432.425 120.017 425.798 109.576 L 373.478 26.3451 C 363.101 9.85504 346.184 0 328.134 0 L 126.702 0 C 106.907 0 88.5952 11.8065 78.7416 30.9312 Z");

        @media screen and (max-width: 912px) {
          right: -200px;
        }
        @media screen and (max-width: 768px) {
          right: 0;
        }
      }

      .content {
        bottom: 30px;
        left: -200px;

        .h1 {
          border-radius: 12px 12px 12px 0;
        }

        @media screen and (max-width: 912px) {
          bottom: 150px;
          left: 20px;
        }
        @media screen and (max-width: 680px) {
          bottom: 20vh;
          left: 0;
        }
      }
    }

    @media screen and (max-width: 912px) {
      display: block;

      .main-l, .main-r {
        width: 100%;
        height: 50vh;
      }
    }

    .scroll-here {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 16px;
        color: white;
        font-family: 'Merriweather', serif;
      }

      svg #wheel {
        animation: scroll ease 1.5s infinite;
      }
    }
  }

  .main-sub {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image: linear-gradient(#0f172a, #000);

    .content {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        height: 50%;
      }

      .l-image-wrapper, .r-image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid #fff;
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .l-image-wrapper {
        transform: translate(150%, 40%);
        background-image: url("../../../assets/imgs/home/1.jpg");
      }

      .r-image-wrapper {
        transform: translate(-50%, 40%) scale(-1, 1);
        background-image: url("../../../assets/imgs/home/2.jpg");
      }

      .l-text-wrapper, .r-text-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .h1 {
          color: #fff;
          font-size: 2.5rem;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 1rem;
          text-shadow: 0 0 .2rem #fff,
          0 0 .2rem #fff,
          0 0 2rem #bc13fe,
          0 0 0.8rem #bc13fe,
          0 0 2.8rem #bc13fe;

          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
          @media screen and (max-width: 480px) {
            font-size: 1.5rem;
          }
        }

        .btn-wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .get-started {
            padding: 8px 24px;
            border: 2px solid #fff;
            border-radius: 25px;
            background-color: #fff;
            color: #000;
            cursor: pointer;
            transition: all .3s ease-in-out;
            font-size: max(16px, 1.2vw);

            &:hover {
              color: #fff;
              background-color: transparent;
              box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
              text-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe
            }
          }
        }
      }

      .l-text-wrapper {
        align-items: flex-start;
        padding-left: 10%;
      }

      .r-text-wrapper {
        align-items: flex-end;
        padding-right: 10%;
      }
    }

    .scroll-here {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 16px;
        color: white;
        font-family: 'Merriweather', serif;
      }

      svg #wheel {
        animation: scroll ease 1.5s infinite;
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
