<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="hero-left">
        <div class="d-flex" style="margin-bottom: -20px">
          <h1>Find the </h1>
          <div class="best-job-element">
            <h1>Best Job</h1>
          </div>
        </div>
        <h1>offer for you</h1>

        <div>
          <p>Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent
            applicants over the years.</p>
        </div>

        <div class="search-box">
          <div class="d-md-flex align-items-center justify-content-center">
            <div class="d-sm-flex align-items-center justify-content-center w-100">
              <div class="search-items">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <input type="text" placeholder="Search Jobs">
              </div>
              <div class="d-none d-sm-flex vr-line"></div>
              <div class="search-items">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" placeholder="Location">
              </div>
            </div>
            <button class="search-button">Search</button>
          </div>
        </div>

        <div class="my-2">
          <p><span class="bold-p">Popular Searches : </span>Designer, Developer, Web, IOS, PHP Senior Engineer</p>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="hero-right">
        <div class="circle-lg"></div>
        <div class="content-wrapper">
          <div class="content">
            <div class="lg-img">
              <img src="https://jobstack-shreethemes.vercel.app/static/media/ab01.016884c7bf778010e79c.jpg"
                   alt="lg-img">
            </div>
            <div class="sm-img">
              <img src="https://jobstack-shreethemes.vercel.app/static/media/ab04.c122948ac7bf15368325.jpg"
                   alt="sm-img">
            </div>
            <div class="subscribe-element">
              <mat-icon>notifications_active</mat-icon>
              <p>Job Alert Subscribe</p>
            </div>
            <div class="candidate-element">
              <p>5k+ candidates get job</p>
              <div class="candidates-wrapper">
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/01.6ac85de7298319b1f8d5.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/02.7df14e12e444ad660802.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/03.ba5f8794c055cc1488b5.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/04.35463172278c4051b5f4.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/05.a7ab2c82813cb95da9d6.jpg" alt="pro">
                </div>
                <div class="candidate">
                  <mat-icon>add</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
