<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-6">
      <div class="hero-left">
        <h1>Unlock <span>Your</span> </h1>
        <h1><span>Future</span> with the </h1>
        <h1>Perfect Job</h1>

        <div>
          <p>Explore Thousands of Job Openings & Career Options. Partnered with Top Companies to help you find the perfect fit.</p>
        </div>

        <div class="search-box">
          <div class="d-md-flex align-items-center justify-content-center">
            <div class="d-sm-flex align-items-center justify-content-center w-100">
              <div class="search-items">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <input type="text" placeholder="Search Jobs" [(ngModel)]="jobSearch">
              </div>
              <div class="d-none d-sm-flex vr-line"></div>
              <div class="search-items">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" placeholder="Location" [(ngModel)]="locationSearch">
              </div>
            </div>
            <button class="search-button" (click)="makeSearchQuery()">Search</button>
          </div>
        </div>

        <div class="my-2">
          <p><span class="bold-p">Popular Searches : </span>Designer, Developer, Web, IOS, PHP Senior Engineer</p>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-6">
      <div class="hero-right">
        <div class="content-wrapper">
          <div class="content">
            <div class="lg-img">
              <img ngSrc="./assets/imgs/home/home-hero.webp"
                   alt="lg-img" width="650" height="500" loading="lazy">
            </div>
            <div class="subscribe-element" (click)="openSubscribeModal()">
              <mat-icon>notifications_active</mat-icon>
              <p>Job Alert Subscribe</p>
            </div>
            <div class="candidate-element">
              <p>5k+ candidates get job</p>
              <div class="candidates-wrapper">
                <div class="candidate">
                  <img ngSrc="https://jobstack-shreethemes.vercel.app/static/media/01.6ac85de7298319b1f8d5.jpg" alt="pro" loading="lazy" width="30" height="30">
                </div>
                <div class="candidate">
                  <img ngSrc="https://jobstack-shreethemes.vercel.app/static/media/02.7df14e12e444ad660802.jpg" alt="pro" loading="lazy" width="30" height="30">
                </div>
                <div class="candidate">
                  <img ngSrc="https://jobstack-shreethemes.vercel.app/static/media/03.ba5f8794c055cc1488b5.jpg" alt="pro" loading="lazy" width="30" height="30">
                </div>
                <div class="candidate">
                  <img ngSrc="https://jobstack-shreethemes.vercel.app/static/media/04.35463172278c4051b5f4.jpg" alt="pro" loading="lazy" width="30" height="30">
                </div>
                <div class="candidate">
                  <img ngSrc="https://jobstack-shreethemes.vercel.app/static/media/05.a7ab2c82813cb95da9d6.jpg" alt="pro" loading="lazy" width="30" height="30">
                </div>
                <div class="candidate">
                  <mat-icon>add</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2></h2>

  <div class="sub-topic-section">
    <h3>Popular Categories</h3>
    <p>Explore top job categories tailored for you. Discover the roles that match your skills and interests, with trusted companies ready to hire.</p>
  </div>

  <div class="container popular-categories">
    <div class="row" *ngFor="let j of filterJobs()">
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </div>
          <div class="job-title">Business Development</div>
          <div class="job-count">{{j.businessDevelopmentJobs?j.businessDevelopmentJobs:0}} Jobs</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <div class="job-title">Data Entry Operator</div>
          <div class="job-count">{{j.dataEntryOperatorJobs?j.dataEntryOperatorJobs:0}} Jobs</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </div>
          <div class="job-title">Graphic Designer</div>
          <div class="job-count">{{j.graphicDesignerJobs?j.graphicDesignerJobs:0}} Jobs</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-2">
        <div class="popular-item-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="job-title">Web Developer</div>
          <div class="job-count">{{j.webDeveloperJobs?j.webDeveloperJobs:0}} Jobs</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Popular Jobs</h3>
    <p>Discover opportunities around the world. Get salary insights and company reviews from trusted sources.</p>
  </div>

  <div class="container popular-jobs">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mb-4" *ngFor="let p of filterJobsAds() | truncateComments: 4; let i = index">
          <app-job-post-card1 [p]="p" [userSavedIds]="userSavedIds" [employeeId]="employeeId" (savedJobChanged)="onJobSavedOrRemoved()"></app-job-post-card1>
        </div>
      </div>

      <div class="see-more">
        <div class="see-more-btn" routerLink="/job">See More Jobs <i class="material-icons">arrow_right_alt</i></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="popular-2-left">
          <div class="lg-img">
            <img ngSrc="./assets/imgs/home/home-b-h-1.webp" alt="banner" loading="lazy" height="508" width="342">

            <div class="play-btn">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>

            <div class="sm-img">
              <img ngSrc="./assets/imgs/home/home-b-v-1.webp" alt="banner" loading="lazy" height="275" width="408">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7">
        <div class="popular-2-right">
          <h3>Millions of jobs.</h3>
          <h3>Find the one that's right for you.</h3>
          <div class="my-3">
            <p>Explore a world of job opportunities. Personalize your search, compare salaries, and access in-depth company reviews. With thousands of openings from top employers. Get closer to the career of your dreams.</p>
          </div>
          <ul>
            <li>Partnering with Leading Global Companies</li>
            <li>Elevate Your Skills with Targeted Job Matches</li>
            <li>Expert Guidance for Your Next Career Move</li>
          </ul>
          <button class="btn-1" routerLink="/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact us</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay-banner-lg">
  <div class="overlay"></div>
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center banner-content">
      <div class="overlay-banner-title">Get the job that's right for you</div>
      <div class="overlay-banner-text">Search all the open positions on the web. Get your own personalized salary
        estimate. Read reviews on over 30000+ companies worldwide.
      </div>
      <div class="overlay-banner-button"><i class="fa fa-play" aria-hidden="true"></i></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row achievements" #achievementsSection>
    <div class="col-12 col-sm-6 col-md-4 achievement">
      <div class="achievement-score" translate="no">{{jobsAchValue}}+</div>
      <div class="achievement-title">AVAILABLE JOBS NOW</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 achievement">
      <div class="achievement-score" translate="no">{{branchesAchValue}}+</div>
      <div class="achievement-title">COMPANIES</div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 achievement">
      <div class="achievement-score" translate="no">{{countriesAchValue}}+</div>
      <div class="achievement-title">COUNTRIES</div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Find Best Companies</h3>
    <p>Discover the best workplaces and unlock your potential.</p>
  </div>

  <div class="popular-companies">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 pt-4" *ngFor="let c of filteredCompanies | truncateComments: 4; let i = index">
        <app-company-card1 [c]="c" [jobCount]="getJobCount(c.id)"></app-company-card1>
      </div>
    </div>

    <div class="see-more">
      <div class="see-more-btn" routerLink="/companies">See More Companies <i class="material-icons">arrow_right_alt</i></div>
    </div>
  </div>

  <app-hire-card1></app-hire-card1>
</div>

<button type="button" id="news_model_open" class="d-none" data-bs-toggle="modal" data-bs-target="#newsLatter"></button>
<div class="modal fade" id="newsLatter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newsLatterLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newsLatterLabel">Subscribe to our news letter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column gap-2">
          <p class="mb-0">We will send you our latest news and updates. We hates spams more than you do.</p>
          <form [formGroup]="newsLetterForm" class="w-100">
            <div class="form-group">
              <label for="email">Enter your valid email address *</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
          </form>
          <p class="mb-0">By clicking on Subscribe, you agree to our <a href="/terms-and-conditions">Terms of Service</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="news_model_close" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn-1" [disabled]="loading" (click)="subscribeNewsLatter()">{{loading ? 'Subscribing...' : 'Subscribe'}}</button>
      </div>
    </div>
  </div>
</div>
