.org-top-card{
  width: 100%;
  min-height: 60px;
  background-color: var(--color-surface-mixed-100);
  border-radius: 5px;
  border: 2px solid var(--color-surface-mixed-300);
  padding: 16px;
  position: absolute;
  top: 40px;
  z-index: 9;

  .right-cont{
    .company-logo{
      width: 100px;
      height: 100px;
      border: 1px solid var(--color-surface-mixed-300);
      background-color: var(--color-surface-mixed-200);
      padding: 16px;
      border-radius: 8px;
      overflow: hidden;
      margin-right: 16px;

      img{
        width: 100%;
      }
    }

    .company-name{
      font-size: 22px;
      font-weight: 600;
      color: var(--color-text-100);
    }

    .company-location{
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-text-300);

      i{
        font-size: 16px;
      }
    }
  }

  .left-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
  }
}

.form-card-1{
  max-width: 100%;
  margin: 20px auto;

  .form-wrapper{
    gap: unset;
    row-gap: 20px;

    span{
      color: var(--color-text-200);
      font-weight: 450;
    }
  }
}
