<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <div class="container">
      <h1>Fuel Your Business Growth with the Right Talent.</h1>
      <h1>Partner with Us.</h1>
    </div>
  </div>

</div>

<div class="container">

  <div class="d-lg-flex flex-lg-row-reverse">
    <div class="col-12 col-lg-6">
      <div class="svg-wrapper">
        <svg width="100%" height="100%" viewBox="0 0 80 60" version="1.1">
          <defs>
            <clipPath id="mainBanner">
              <path d="
    M2 2H10V10H2z
    M12 2H20V10H12z
    M22 2H30V10H22z
    M32 2H40V10H32z
    M42 2H60V10H42z
    M52 2H60V10H52z
    M62 2H70V10H62z
    M72 2H80V10H72z
    M2 12H10V20H2z
    M12 12H30V20H12z
    M22 12H30V20H22z
    M32 12H40V20H32z
    M42 12H50V20H42z
    M52 12H60V20H52z
    M62 12H70V20H62z
    M72 2H80V20H72z
    M2 22H10V30H2z
    M12 12H30V30H12z
    M22 22H30V30H22z
    M32 22H50V30H32z
    M42 22H60V30H42z
    M52 22H70V30H52z
    M62 22H70V30H62z
    M72 22H80V30H72z
    M2 32H10V40H2z
    M12 32H20V40H12z
    M22 32H30V40H22z
    M32 22H50V40H32z
    M42 22H60V40H42z
    M52 22H70V40H52z
    M62 32H70V40H62z
    M72 32H80V40H72z
    M2 42H10V50H2z
    M12 42H20V50H12z
    M22 42H30V50H22z
    M32 32H50V50H32z
    M42 32H60V50H42z
    M52 32H70V50H52z
    M62 42H70V50H62z
    M72 42H80V50H72z
    M2 42H20V60H2z
    M12 52H20V60H12z
    M22 52H30V60H22z
    M32 52H40V60H32z
    M42 52H50V60H42z
    M52 52H60V60H52z
    M62 52H80V70H62z
    M72 52H80V60H72z" fill="none"></path>
            </clipPath>
          </defs>
          <image width="100%" height="100%" clip-path="url(#mainBanner)"
                 xlink:href="./assets/imgs/for-companies/for-companies.webp"></image>
        </svg>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="sub-topic-section">
          <h3>Welcome to Talent Boozt</h3>
          <p>Talent Boozt focuses on helping companies navigate hiring challenges by offering customized solutions
            tailored to their unique needs. Their platform supports workforce expansion, providing tools for hiring
            success and a user-friendly process for connecting with top talent. They offer comprehensive recruitment
            management systems and support for the expansion of the workforce, ensuring a smooth and efficient hiring
            process.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="image-wrapper-2">
        <svg viewBox="0 0 100 100">
          <defs>
            <clipPath id="banner1">
              <path fill="none"
                    d="M20.1,-24.3C26.9,-18.4,33.6,-12.7,37.3,-4.6C41.1,3.5,41.9,14,37.2,20.9C32.6,27.7,22.5,30.8,12.8,33.8C3.1,36.8,-6.2,39.6,-12.5,36.4C-18.9,33.2,-22.3,24.1,-27.3,15.6C-32.3,7.2,-38.8,-0.4,-39.7,-8.9C-40.5,-17.5,-35.5,-27,-28,-32.7C-20.4,-38.4,-10.2,-40.4,-1.7,-38.3C6.7,-36.3,13.4,-30.1,20.1,-24.3Z"
                    width="100%" height="100%" transform="translate(50 50)" stroke-width="0"
                    style="transition: 0.3s;"></path>
            </clipPath>
          </defs>
          <image width="100%" height="100%" clip-path="url(#banner1)"
                 xlink:href="./assets/imgs/for-companies/banner1.webp">
          </image>
        </svg>
      </div>
    </div>

    <div class="col-12 col-lg-7">
      <div class="sub-topic-section">
        <h3>Why Partner with Us?</h3>
        <p>Unlock your hiring potential with us—experience tailored solutions, expert support, and access to top talent
          that drives your business forward</p>
      </div>

      <ul class="tick-list d-none d-md-block">
        <li><strong>Extensive Candidate Network</strong>: Access a diverse pool of talent across various industries and
          regions.
        </li>
        <li><strong>Recruiting Process Management</strong>: Track and manage your talent sourcing process with our
          intuitive tools.
        </li>
        <li><strong>End-to-End HR Solutions</strong>: Our comprehensive HR solutions for talent management and HR
          management.
        </li>
        <li><strong>Personalized Support</strong>: Dedicated support for your company's growth and success.</li>
      </ul>

      <div class="accordion d-block d-md-none" id="accordionWhy">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseOne" aria-expanded="false" aria-controls="WcollapseOne">
              Extensive Candidate Network
            </button>
          </h2>
          <div id="WcollapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Access a diverse pool of talent across various industries and regions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseTwo" aria-expanded="false" aria-controls="WcollapseTwo">
              Extensive Candidate Network
            </button>
          </h2>
          <div id="WcollapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Access a diverse pool of talent across various industries and regions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseThree" aria-expanded="false" aria-controls="WcollapseThree">
              Recruiting Process Management
            </button>
          </h2>
          <div id="WcollapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Track and manage your talent sourcing process with our intuitive tools.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseFour" aria-expanded="false" aria-controls="WcollapseFour">
              End-to-End HR Solutions
            </button>
          </h2>
          <div id="WcollapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Our comprehensive HR solutions for talent management and HR management.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseFive" aria-expanded="false" aria-controls="WcollapseFive">
              Personalized Support
            </button>
          </h2>
          <div id="WcollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Dedicated support for your company's growth and success.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseSix" aria-expanded="false" aria-controls="WcollapseSix">
              HR Solutions Tailored to Your Needs
            </button>
          </h2>
          <div id="WcollapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Whether you need to streamline hiring or manage employee performance, our platform has a solution for you.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseSeven" aria-expanded="false" aria-controls="WcollapseSeven">
              Track Performance
            </button>
          </h2>
          <div id="WcollapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Track your talent performance with our comprehensive HR solutions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseEight" aria-expanded="false" aria-controls="WcollapseEight">
              Global Reach
            </button>
          </h2>
          <div id="WcollapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Expand your talent pool across multiple industries with our global talent network.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseNine" aria-expanded="false" aria-controls="WcollapseNine">
              Customized Solutions
            </button>
          </h2>
          <div id="WcollapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Get tailored HR solutions tailored to your company's specific needs.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseTen" aria-expanded="false" aria-controls="WcollapseTen">
              Seamless Experience
            </button>
          </h2>
          <div id="WcollapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              User-friendly tools that integrate with your HR processes, saving you time and effort.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#WcollapseEleven" aria-expanded="false" aria-controls="WcollapseEleven">
              Flexible Packages
            </button>
          </h2>
          <div id="WcollapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionWhy">
            <div class="accordion-body">
              Choose from our three packages, each designed to fit different business needs.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section" *ngIf="paginatedCompanies">
    <h3>Companies who trust the Talent Boozt</h3>
    <p>Leading companies trust Talent Boozt to connect them with top-tier talent and innovative HR solutions, fueling
      their growth and success</p>
  </div>

  <div class="popular-companies" *ngIf="paginatedCompanies">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 pt-4" *ngFor="let c of paginatedCompanies; let i = index;">
        <div class="card-2">
          <div class="card-top">
            <div class="logo-icon-wrapper">
              <div class="logo-icon">
                <img
                  [src]="c.logo ? c.logo : './assets/imgs/shared/default_org_logo.svg'"
                  alt="{{c.name}}">
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="d-flex flex-column align-items-start">
              <div class="company-name" routerLink="/business-profile/{{c.id}}">{{c.name}}</div>
              <div
                class="company-description">{{c.shortDescription ? c.shortDescription : c.companyStory | truncate : 50}}</div>
            </div>
          </div>
          <hr>
          <div class="card-bottom">
            <div class="card-bottom-right">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>{{c.location ? c.location : 'N/A'}}</span>
            </div>
            <div class="card-bottom-left">
              <div class="open-jobs">{{ getJobCount(c.id) }} Jobs</div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-results-found" *ngIf="companyDataStore?.length === 0">
        <h3>Sorry! No results found :(</h3>
        <img src="./assets/imgs/shared/not-found.svg" alt="404">
      </div>

      <div class="search-result-not-found" *ngIf="isSearchResultNotFound">
        <h3>No search results found</h3>
        <img src="./assets/imgs/shared/result_not_found.svg" alt="404">
        <p>Try different keywords or location</p>
      </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
          <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="sub-topic-section">
    <h3>Get the complete hiring solution</h3>
    <p>Simplify your hiring with an all-in-one solution tailored for you</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let p of pricingUtilities.packages">
      <div class="pricing-wrapper" [ngClass]="p.recommended?'recommended':''">
        <div class="h-100" [ngClass]="p.recommended?'ribbon':''">
          <span *ngIf="p.recommended">Recommended</span>
          <div class="pricing-card">
            <div class="title">{{p.name}}</div>
            <div class="desc">{{p.shortDescription}}</div>
            <div class="d-flex align-items center justify-content-center w-100">
            <span class="d-flex align-items-center">
            <sup class="sup">$</sup>
            <span class="price">{{p.price}}</span>
            <sub class="currency">{{p.currency}}</sub>
            <span class="duration">&nbsp;/{{p.payPeriod}}</span>
            </span>
            </div>

            <div class="row">
              <div *ngFor="let b of p.buttons" class="{{p.buttons.length > 1 ? 'col-6' : 'col-12'}}">
                <button class="{{b.class}}">{{b.text}}</button>
              </div>
            </div>

            <div class="accordion" id="{{p.name}}">
              <div class="separate-accordion" *ngIf="p.staticFeature">
                <i class="material-icons">keyboard_backspace</i>
                <span>{{p.staticFeature}}</span>
              </div>
              <div class="accordion-item" *ngFor="let f of p.features">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#'+f.id+p.name" aria-expanded="false" [attr.aria-controls]="f.id+p.name">
                    {{f.name}}
                  </button>
                </h2>
                <div id="{{f.id+p.name}}" class="accordion-collapse collapse" [attr.data-bs-parent]="'#'+p.name">
                  <div class="accordion-body">
                    {{f.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>HR Products for Your Business</h3>
    <p>Beyond job postings, showcase the additional HR products companies can purchase.</p>
  </div>

  <div *ngFor="let p of productsUtilities.products | truncateComments: maxProductsDisplayed">
    <div class="row mb-2 {{p.imageAlign == 'left' ? 'flex-row-reverse' : ''}}">
      <div class="col-12 col-md-6">
        <div class="product-image-wrapper">
          <img src="{{p.image}}" alt="image">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="product-wrapper">
          <div class="product-title">{{p.name}}</div>
          <div class="product-sub-title">{{p.subtitle}}</div>
          <div class="product-desc" *ngFor="let pd of p.description.split('\n')">
            {{pd}}
          </div>
          <div class="product-button">learn more</div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center" *ngIf="productsUtilities.products.length > maxProductsDisplayed">
    <div class="top-hr">
      <div class="hr"></div>
    </div>
    <div class="view-section-btn" (click)="toggleAllProducts()">
      <p class="m-0">{{isAllProductsVisible?'Collapse':'View all'}} products</p>
    </div>
    <div class="top-hr">
      <div class="hr"></div>
    </div>
  </div>

  <!--  add testimonials here  -->

  <div class="sub-topic-section pb-0">
    <h3>Call to Action</h3>
    <p>Ready to accelerate your hiring? Let’s connect</p>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-4 contact-card">
      <div class="icon">
        <i class="material-icons">phone</i>
      </div>
      <div class="title">
        Phone
      </div>
      <p>Reach out to us for immediate support and inquiries</p>
      <div class="content">{{utilities.contactNumber}}</div>
    </div>
    <div class="col-12 col-md-4 contact-card">
      <div class="icon">
        <i class="material-icons">email</i>
      </div>
      <div class="title">
        Email
      </div>
      <p>Send us an email, and we’ll respond to your needs promptly</p>
      <div class="content">{{utilities.contactEmail}}</div>
    </div>
    <div class="col-12 col-md-4 contact-card">
      <div class="icon">
        <i class="material-icons">location_on</i>
      </div>
      <div class="title">
        Location
      </div>
      <p>Visit us or get in touch with our team in {{utilities.contactLocation}}</p>
      <div class="content">{{utilities.contactLocation}}</div>
    </div>
  </div>

</div>
