.top-hr{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .hr{
    width: 100%;
    height: 6px;
    border-top: 2px solid var(--color-secondary-600);
    border-bottom: 2px solid var(--color-secondary-600);
  }
}

.tick-list{
  margin: 0 20px 10px 0;
  padding: 0;
  list-style: none;
  text-align: justify;

  li{
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    color: var(--color-text-200);
    text-align: justify;

    strong{
      white-space: nowrap;
      color: var(--color-text-100);
      font-weight: 450;
    }
  }
  li:before{
    content: 'check_circle_outline';
    font-family: 'Material Icons';
    font-size: 18px;
    color: var(--color-primary-200);
    margin-right: 6px;
  }
}

.image-wrapper-2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: unset;
  object-position: center;

  img{
    width: 100%;
    object-fit: unset;
  }
}

.pricing-wrapper {
  padding: 30px 0;
  height: 100%;
  .pricing-card {
    background-color: var(--color-surface-mixed-100);
    padding: 16px;
    border-radius: 20px;
    border: 1px solid var(--color-surface-mixed-300);
    min-height: 100px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
    transition: all .3s ease-in-out;

    .title{
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      color: var(--color-text-100);
    }

    .desc{
      font-size: 16px;
      text-align: center;
      width: 100%;
      color: var(--color-text-300);
      margin: 8px 0;
      padding: 0 20%;
    }

    .sup{
      font-size: 20px;
      color: var(--color-text-300);
    }

    .price{
      font-size: 48px;
      font-weight: 400;
      color: var(--color-text-100);
    }

    .currency{
      font-size: 24px;
      color: var(--color-text-100);
    }

    .duration{
      font-size: 16px;
      color: var(--color-text-300);
    }

    .btn-1, .btn-2{
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-100);
      background-color: transparent;
      border-radius: 8px;
      border: 2px solid var(--color-surface-mixed-400);
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: var(--color-surface-mixed-200);
      }
    }

    .btn-2{
      background-color: var(--color-primary-100);
      color: #fff;
      border: none;

      &:hover{
        background-color: var(--color-primary-200);
      }
    }

    .separate-accordion{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 12px;

      span{
        color: var(--color-text-300);
        font-size: 16px;
        font-weight: 500;
      }

      i{
        color: var(--color-text-300);
        font-size: 16px;
        margin-left: 0;
        margin-right: 0.5em;
        cursor: default;
      }
    }
  }
}

.pricing-wrapper.recommended{
  padding: 0 0 25px 0;

  .ribbon{
    height: 100%;
    padding: 5px;
    background-color: var(--color-primary-200);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
  }
  .pricing-card{
    height: calc(100% - 27px);
    box-shadow: unset;
  }
}

.product-wrapper, .product-image-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image-wrapper{
  img{
    width: 100%;
  }
}

.product-wrapper{
  .product-title{
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    color: var(--color-text-100);
    margin-bottom: 10px;
  }

  .product-sub-title{
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    color: var(--color-secondary-400);
  }

  .product-desc{
    font-size: 16px;
    width: 100%;
    color: var(--color-text-300);
    margin-bottom: 20px;
    text-align: justify;
  }

  .product-button{
    padding: 5px 30px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary-200);
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--color-secondary-400);
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover{
      background-color: var(--color-primary-200);
      color: #fff;
      border-color: var(--color-primary-200);
    }
  }
}

.view-section-btn{
  margin: 16px auto;
  padding: 0 16px;
  border-left: 2px solid var(--color-secondary-600);
  border-right: 2px solid var(--color-secondary-600);

  p{
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary-400);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover{
      color: var(--color-text-100);
    }
  }
}

.contact-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 300px;

  .icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--color-primary-600-opacity-9);
    margin-bottom: 20px;
    color: var(--color-primary-200);
    font-size: 24px;
  }

  .title{
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-text-100);
  }

  p{
    text-align: center;
  }

  .content{
    color: var(--color-primary-200);
  }
}
