<div class="container">
  <div class="saved-jobs-wrapper" *ngIf="filterJobs().length > 0">
    <div class="saved-jobs" *ngFor="let j of filterJobs()">
      <div class="saved-job">
        <div class="d-flex align-items-center justify-content-start gap-3">
          <div class="cmp-logo-icon-wrapper">
            <img [src]="j.companyLogo?j.companyLogo:'./assets/imgs/shared/default_org_logo.svg'"
                 alt="logo">
          </div>
          <div class="d-flex flex-column align-items-start justify-content-between">
            <h4>{{j.companyName}}</h4>
            <p>{{j.title}}</p>
          </div>
        </div>
        <div class="d-flex flex-sm-column align-items-start align-items-sm-end justify-content-between mt-2 mt-sm-0">
          <div class="status-tag" [ngClass]="{'expired': isExpired(employee?.employee?.savedJobs, j.id, j.expiryDate)}">
            {{isExpired(employee?.employee?.savedJobs, j.id, j.expiryDate) ? 'Expired' : 'Saved'}}
          </div>
          <p class="exp-date" [ngClass]="{'expired': isExpired(employee?.employee?.savedJobs, j.id, j.expiryDate)}">{{j.expiryDate | date}}</p>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center justify-content-end w-100 gap-2 py-2 px-3">
        <button id="PJB_ESJS_ViDetails" type="button" class="btn-1" *ngIf="!isExpired(employee?.employee?.savedJobs, j.id, j.expiryDate)" routerLink="/job-details/{{j.id}}">View Details</button>
        <button id="PJB_ESJS_RemFv" type="button" class="btn-3" (click)="removeFav(j.id)">Remove</button>
      </div>
    </div>
  </div>

  <div class="not-found-wrapper" *ngIf="filterJobs().length === 0">
    <div class="py-3 px-2 px-md-4 px-lg-6">
      <div class="img-wrapper">
        <img src="./assets/imgs/my-jobs/not-found.svg" alt="not found">
      </div>
    </div>
    <h4>No Recent Job Activity</h4>
    <p>Find new opportunities and manage your job search progress here.</p>
    <button class="btn-2 mb-2">Search for Jobs</button>
  </div>
</div>
