<div class="container">
  <div class="saved-jobs-wrapper">
    <div class="saved-jobs" *ngFor="let j of filterJobs()">
      <div class="saved-job">
        <div class="d-flex align-items-center justify-content-start gap-3">
          <div class="cmp-logo-icon-wrapper">
            <img [src]="j.companyLogo?j.companyLogo:'.assets/imgs/shared/default_org_logo.svg'"
                 alt="logo">
          </div>
          <div class="d-flex flex-column align-items-start justify-content-between">
            <h4>{{j.companyName}}</h4>
            <p>{{j.title}}</p>
          </div>
        </div>
        <div class="d-flex flex-sm-column align-items-start align-items-sm-end justify-content-between mt-2 mt-sm-0">
          <div class="status-tag">
            saved
          </div>
          <p class="exp-date">{{j.expiryDate | date}}</p>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center justify-content-end w-100 gap-2 py-2 px-3">
        <button class="btn-1" routerLink="/job-details/{{j.id}}">View Details</button>
        <button class="btn-3" (click)="removeFav(j.id)">Remove</button>
      </div>
    </div>
  </div>
</div>
