<!--<div class="container">-->
<!--  <div class="not-found-wrapper">-->
<!--    <div class="py-3 px-2 px-md-4 px-lg-6">-->
<!--      <div class="img-wrapper">-->
<!--        <img src="./assets/imgs/my-jobs/not-found.svg" alt="not found">-->
<!--      </div>-->
<!--    </div>-->
<!--    <h4>No Recent Job Activity</h4>-->
<!--    <p>Find new opportunities and manage your job search progress here.</p>-->
<!--    <button class="btn-2 mb-2">Search for Jobs</button>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="saved-jobs-wrapper">
    <div class="saved-jobs">
      <div class="saved-job">
        <div class="d-flex align-items-center justify-content-start gap-3">
          <div class="cmp-logo-icon-wrapper">
            <img src="https://jobstack-shreethemes.vercel.app/static/media/google-logo.28878765ba39f327cf3e.png"
                 alt="logo">
          </div>
          <div class="d-flex flex-column align-items-start justify-content-between">
            <h4>Google</h4>
            <p>Software Engineer</p>
          </div>
        </div>
        <div class="d-flex flex-sm-column align-items-start align-items-sm-end justify-content-between mt-2 mt-sm-0">
          <div class="status-tag">
            saved
          </div>
          <p class="exp-date">15th Feb, 2025</p>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center justify-content-end w-100 gap-2 py-2 px-3">
        <button class="btn-1">View Details</button>
        <button class="btn-3">Remove</button>
      </div>
    </div>

    <div class="saved-jobs">
      <div class="saved-job">
        <div class="d-flex align-items-center justify-content-start gap-3">
          <div class="cmp-logo-icon-wrapper">
            <img src="https://jobstack-shreethemes.vercel.app/static/media/google-logo.28878765ba39f327cf3e.png"
                 alt="logo">
          </div>
          <div class="d-flex flex-column align-items-start justify-content-between">
            <h4>Google</h4>
            <p>Backend Developer</p>
          </div>
        </div>
        <div class="d-flex flex-sm-column align-items-start align-items-sm-end justify-content-between mt-2 mt-sm-0">
          <div class="status-tag expired">
            expired
          </div>
          <p class="exp-date expired">15th Feb, 2023</p>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center justify-content-end w-100 gap-2 py-2 px-3">
        <button class="btn-3">Remove</button>
      </div>
    </div>
  </div>
</div>
