<div class="container my-3">
  <div class="container">
    <div *ngIf="loading"><app-page-loading></app-page-loading></div>
    <div *ngIf="!loading && employee?.employee">
      <div class="top-content">
        <div class="cover-image">
          <img [src]="employee.employee.coverImage?employee.employee.coverImage:'./assets/imgs/shared/default_cover.webp'" alt="cover">
        </div>

        <div class="profile-img">
          <img [src]="employee.employee.image?employee.employee.image:'./assets/imgs/shared/default_emp_dp.svg'" alt="profile">
        </div>

        <div class="profile-info">
          <p class="emp-name">{{employee.employee.firstname}} {{employee.employee.lastname}} <span class="pro-tag" *ngIf="employee?.auth?.userLevel == 3">pro</span></p>
          <p class="position">{{employee.employee.occupation?employee.employee.occupation:'Not Provided'}}</p>
        </div>

        <div class="profile-btn" (click)="gotoSettings()">
          <button><i class="material-icons">edit</i><span class="d-none d-sm-block">_edit_</span></button>
        </div>
      </div>

      <div class="row my-3 second-content">
        <div class="col-12 col-lg-8 left-side">
          <div *ngIf="employee.employee.intro">
            <h5>{{employee.employee.firstname}} {{employee.employee.lastname}}</h5>
            <p *ngFor="let intro of employee.employee.intro.split('\n')">{{intro}}</p>
          </div>

          <div *ngIf="employee.empSkills.length > 0">
            <h5>Skills :</h5>
            <div class="row">
              <div class="col-12 col-md-6" *ngFor="let skill of employee.empSkills[0].skills">
                <div class="d-flex align-items-center justify-content-between w-100">
                  <div class="caption">{{skill.skill}}</div>
                  <div class="value">{{skill.percentage}}%</div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%" [attr.aria-valuenow]="skill.percentage" [style.width]="skill.percentage+'%'" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="employee.empExperiences.length > 0">
            <h5>Experience :</h5>
            <div class="row experience" *ngFor="let ex of employee.empExperiences[0].experiences">
              <div class="col-3 col-lg-2">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div class="org-wrapper">
                    <img [src]="employee.empExperiences[0].companyLogo?employee.empExperiences[0].companyLogo:'./assets/imgs/shared/default_org_logo.svg'" alt="org">
                  </div>
                  <div class="year">
                    {{ex.startDate}} - {{ex.endDate}}
                  </div>
                </div>
              </div>
              <div class="col-9 col-lg-10">
                <div class="d-flex flex-column align-items-start justify-content-center w-100 gap-2">
                  <div class="title">{{ex.position}}</div>
                  <div class="location">{{ex.company}} - {{ex.country}}</div>
                  <div class="description">{{ex.description}}</div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="employee.empEducation.length > 0">
            <h5>Education :</h5>
            <div class="row experience" *ngFor="let ed of employee.empEducation[0].education">
              <div class="col-3 col-lg-2">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div class="org-wrapper">
                    <img [src]="employee.empEducation[0].schoolLogo?employee.empEducation[0].schoolLogo:'./assets/imgs/shared/default_school_logo.svg'" alt="school">
                  </div>
                  <div class="year">
                    {{ed.startDate}} - {{ed.endDate}}
                  </div>
                </div>
              </div>
              <div class="col-9 col-lg-10">
                <div class="d-flex flex-column align-items-start justify-content-center w-100 gap-2">
                  <div class="title">{{ed.degree}}</div>
                  <div class="location">{{ed.school}} - {{ed.country}}</div>
                  <div class="description">{{ed.description}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <app-year-view></app-year-view>
          </div>

          <div class="contact-form-wrapper">
            <div class="form-card-1">
              <h5>Contact Me:</h5>
              <form [formGroup]="contactUsForm">
                <div class="row form-wrapper w-100">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="name">Your Name</label>
                      <input type="text" class="form-control" id="name" placeholder="John Doe" formControlName="name">
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control" id="email" placeholder="XwVpP@example.com" formControlName="email">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="subject">Subject</label>
                      <input type="text" class="form-control" id="subject" placeholder="Your Question" formControlName="subject">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="comment">Comment</label>
                      <textarea class="form-control" id="comment" rows="5" placeholder="Your Message" formControlName="message"></textarea>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <button type="submit" class="btn-1" [disabled]="mailLoading" (click)="contact()">{{mailLoading?'Sending...':'Send Message'}}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-4 right-side">
          <div class="card-1">
            <div class="d-flex align-items-center justify-content-around">
              <mat-progress-spinner
                class="progress-spinner"
                [mode]="progressMode"
                [value]="progressValue">
              </mat-progress-spinner>
              <div>
                <div class="title-1">Profile Completion</div>
                <p class="m-0">{{progressValue}}%</p>
              </div>
            </div>
          </div>

          <div class="details-card-1">
            <h5>Contact Detail:</h5>
            <div *ngIf="employee?.empContact?.length <= 0" class="w-100">
              <p>Not Provided</p>
            </div>
            <div *ngFor="let pd of employee?.empContact" class="w-100">
              <div class="w-100" *ngIf="pd.contact.length > 0">
                <div *ngFor="let c of pd.contact" class="d-flex flex-column w-100" style="gap: 12px;">
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">mail_outline</i><span>Email:</span></div>
                    <div class="value">{{c.email?c.email:'N/A'}}</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">child_friendly</i><span>DOB:</span></div>
                    <div class="value">{{employee?.employee.dob?employee?.employee.dob:'N/A'}}</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">home</i><span>Address:</span></div>
                    <div class="value">{{c.address?c.address:'N/A'}}</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">location_on</i><span>City:</span></div>
                    <div class="value">{{c.city?c.city:'N/A'}}</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">south_america</i><span>Country:</span></div>
                    <div class="value">{{c.country?c.country:'N/A'}}</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">dns</i><span>Postal Code:</span></div>
                    <div class="value">{{c.zipCode?c.zipCode:'N/A'}}</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="caption"><i class="material-icons">local_phone</i><span>Mobile:</span></div>
                    <div class="value">{{c.phone?c.phone:'N/A'}}</div>
                  </div>
                </div>
              </div>

              <div class="w-100" *ngIf="pd?.socialLinks?.length > 0">
                <div *ngIf="pd.socialLinks.length > 0" class="my-4">
                  <div *ngFor="let s of pd.socialLinks">
                    <div class="d-flex align-items-center justify-content-between w-100">
                      <div class="caption">Social:</div>
                      <div class="item-set">
                        <div class="social-item" *ngIf="s.linkedin">
                          <a href="{{s.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-item" *ngIf="s.facebook">
                          <a href="{{s.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-item" *ngIf="s.instagram">
                          <a href="{{s.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-item" *ngIf="s.twitter">
                          <a href="{{s.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-item" *ngIf="s.github">
                          <a href="{{s.github}}"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </div>
                        <div class="social-item" *ngIf="pd.contact[0].email">
                          <a href="mailto:{{pd.contact[0].email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sub-card" *ngIf="employee?.employee?.resume">
                <div class="d-flex align-items-center justify-content-start w-100">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <p>{{employee?.employee.firstname}}-resume.pdf</p>
                </div>
                <a href="{{employee?.employee.resume}}" download="{{employee?.employee.resume}}" class="w-100">
                  <button class="btn-1">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Download CV
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && serverError">
      <app-failed-to-load-data></app-failed-to-load-data>
    </div>
    <div *ngIf="notFound && !employee?.employee">
      <app-result-not-found></app-result-not-found>
    </div>
    <div *ngIf="corsError">
      <app-network-error></app-network-error>
    </div>
    <div *ngIf="forbidden && !employee?.employee || unexpectedError">
      <app-forbidden></app-forbidden>
    </div>
  </div>
</div>
