<div *ngIf="isOfferActive">
  <div class="container">
    <div class="form-card-1">
      <div class="row w-100">
        <div class="col-sm-3 col-md-2">
          <div class="d-none d-sm-flex align-items-center justify-content-center h-100 w-100">
            <div class="img-wrapper">
              <img src="./assets/imgs/offers/trophy.svg" alt="trophy">
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-10 content-wrapper">
          <div class="content">
            <h3>Hooray! Great News!</h3>
            <p>You are able to claim our <b>first 30 seats for life</b> offer! Hurry up and claim now!</p>
            <p>Seats remaining: <span>{{seatsLeft}}</span></p>
            <button class="btn-1" routerLink="/limited-offer">Claim Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
