.network-error {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .img-wrapper {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .caption {
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }

  .value {
    font-size: 48px;
    font-weight: 600;
    color: #333;
  }
}
