<div class="heading w-100 sticky-top">
  <div class="d-flex align-items-center justify-content-center">
    <button class="btn-1" (click)="drawer.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>
    <!--    <img src="./assets/images/logo.png" alt="logo" routerLink="/home">-->
    <span id="orgName" class="d-none d-md-flex"
          routerLink="/dashboard">TALENT BOOZT DASHBOARD</span>
  </div>
  <div class="d-flex align-items-center justify-content-around">
    <div class="main-bar-profile-tag"> 
      <div class="d-flex align-items-center">
        <div class="ms-2 dropdown">
          <div class="profile-pic me-md-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="employeeProfile ? employeeProfile : './assets/imgs/shared/default_emp_dp.svg'"
                 alt="profile">
          </div>

          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/"><i class="material-icons">autorenew</i> Switch to Seeker</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/dashboard/personal-profile"><i class="material-icons">perm_identity</i> Personal Profile</a></li>
            <li><a class="dropdown-item" routerLink="/my-jobs"><i class="material-icons">assignment</i> My Jobs</a></li>
            <li><a class="dropdown-item" routerLink="/dashboard/personal-profile-settings"><i class="material-icons">settings</i> Personal Setting</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/dashboard/business-profile-my"><i class="material-icons">business</i> Business Profile</a></li>
            <li><a class="dropdown-item" routerLink="/dashboard/business-profile-settings"><i class="material-icons">settings</i> Business Setting</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/locked"><i class="material-icons">lock</i> Lock Screen</a></li>
            <li><a class="dropdown-item" id="PJB_DB_FDB_LgOut" type="button" (click)="logout()"><i class="material-icons">logout</i> Logout</a></li>
          </ul>
        </div>
        <div class="d-none d-md-flex flex-column justify-content-between profile-tag">
          <h6>{{employeeName ? employeeName : ''}}</h6>
          <span>{{employeeEmail ? employeeEmail : ' '}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="over" class="drawer">
      <span>MENU</span>
      <div class="accordian">
        <mat-accordion>
          <ul>
            <li routerLink="/dashboard/overview">Dashboard</li>
            <li routerLink="/dashboard/personal-profile">Personal Profile</li>
            <li routerLink="/dashboard/business-profile-my">Business Profile</li>
            <li routerLink="/dashboard/post-job">Post a Job</li>
            <li routerLink="/dashboard/company-jobs">Previous Job Posts</li>
            <li routerLink="/dashboard/applicants">Recruitment Analysis</li>
            <li routerLink="/dashboard/company-analysis">Company Analysis</li>
            <li routerLink="/dashboard/billing">Billing and Usage</li>
            <div class="pro-title">
              <li routerLink="/soon">Teams</li>
              <div class="pro-tag" style="top: 5px; right: 10px">pro</div>
            </div>
          </ul>
        </mat-accordion>
      </div>
      <div class="footer-tag">
        Powered By: TALENT BOOZT
      </div>

    </mat-drawer>
    <mat-drawer-content style="overflow-y: auto; max-height: calc(100vh - 70px);">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
