<div class="container" style="position: relative;">
  <div class="back-btn" (click)="goBack()">
    <i class="material-icons">arrow_back</i>Back to Dashboard
  </div>

  <div *ngIf="loading">
    <app-page-loading></app-page-loading>
  </div>
  <div *ngIf="formLocked" style="padding-top: max(30px, 5vw);">
    <h5>At least You have to provide the following details in your business profile to unlock this form.</h5>
    <div class="d-flex align-items-center justify-content-center w-100 my-5 px-5">
      <div class="check-ball" [ngClass]="cname?'active':''" title="Company Name">
        <i class="material-icons">check</i>
        <div class="tag">Company Name</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball" [ngClass]="cemail?'active':''" title="Company Email">
        <i class="material-icons">check</i>
        <div class="tag">Company Email</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball" [ngClass]="cphone?'active':''" title="Company Phone">
        <i class="material-icons">check</i>
        <div class="tag">Company Phone</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball" [ngClass]="chq?'active':''" title="Head Quarter">
        <i class="material-icons">check</i>
        <div class="tag">Head Quarter</div>
      </div>
      <div class="check-line"></div>
      <div class="check-ball ready" [ngClass]="formLocked?'':'active'" title="Ready to go">
        <i class="material-icons">{{formLocked ? 'lock_outline' : 'lock_open'}}</i>
        <div class="tag">Ready to go</div>
      </div>
    </div>
  </div>

  <div class="d-lg-flex align-items-start justify-content-center w-100 gap-2 flex-row-reverse">

    <div class="form-card-2">
      <h5>Copy from existing Ad:</h5>
      <div class="d-flex align-items-center justify-content-end w-100 h-100 s-bar">
        <input type="text" placeholder="Search..." (keyup)="handleSearch($event.target)"/>
        <i class="material-icons">search</i>
      </div>

      <div class="search-results-wrapper" *ngIf="isResultFound">
        <div class="not-found" *ngIf="!searchResults?.length">Not Found :(</div>
        <div class="search-results" *ngFor="let ad of searchResults">
          <div class="search-result" (click)="patchValues(ad.id)">
            <div class="post">{{ad.title}}</div>
            <div class="posted-date">{{ad.datePosted | timeAgo}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-card-1">
      <form [formGroup]="jobPostForm">
        <h5>Job details:</h5>
        <div class="row form-wrapper">
          <div class="col-12">
            <div class="form-group">
              <label for="title">Job Title *</label>
              <input type="text" class="form-control" id="title" placeholder="web developer" formControlName="title">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="description">Job Description *</label>
              <textarea class="form-control" id="description" rows="5" placeholder="Job Description"
                        formControlName="description"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="category">Categories *</label>
                <select id="category" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
                        (change)="onCategoryChange()">
                  <option *ngFor="let c of filterCategories()" [value]="c.name">{{c.name}}</option>
                </select>
                <div class="collapse" [ngClass]="{'show': isOtherCategorySelected}" id="otherCollapseCat">
                  <div class="d-flex justify-content-end my-2">
                    <input type="text" class="form-control" placeholder="Enter new category" formControlName="category">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="jobType">Job Type *</label>
                <select id="jobType" [(ngModel)]="selectedJobType" [ngModelOptions]="{standalone: true}"
                        (change)="onJobTypeChange()">
                  <option *ngFor="let j of filterJobTypes(selectedCategory)" [value]="j.name">{{j.name}}</option>
                </select>
                <div class="collapse" [ngClass]="{'show': isOtherJobTypeSelected}" id="otherCollapseJob">
                  <div class="d-flex justify-content-end my-2">
                    <input type="text" class="form-control" placeholder="Enter new job type" formControlName="jobType">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="salary">Salary</label>
                <select class="form-control" id="salary" formControlName="salary">
                  <option>Hourly</option>
                  <option>Monthly</option>
                </select>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="form-group">
                <label></label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Min" formControlName="minSalary">
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="form-group">
                <label></label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" placeholder="Max" formControlName="maxSalary">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="totalOpenings">Total Openings *</label>
                <input type="number" id="totalOpenings" class="form-control" placeholder="5"
                       formControlName="totalOpenings">
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="ageRange">Age Range</label>
                <select class="form-control" id="ageRange" formControlName="ageRange">
                  <option>18-</option>
                  <option>18-30</option>
                  <option>20-40</option>
                  <option>25-50</option>
                  <option>50+</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="employeeType">Employement Type *</label>
                <select class="form-control" id="employeeType" formControlName="employeeType">
                  <option>Full Time</option>
                  <option>Part Time</option>
                  <option>Fixed Term Contract</option>
                  <option>Internship</option>
                  <option>Volunteer</option>
                  <option>Other</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="locationType">Location Type *</label>
                <select class="form-control" id="locationType" formControlName="locationType">
                  <option>On Site</option>
                  <option>Remote</option>
                  <option>Hybrid</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
          </div>

          <h5>Skill and Experience:</h5>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="skills">Skills</label>
                <textarea class="form-control" id="skills" rows="5" placeholder="Press enter to add a new skill"
                          formControlName="skills"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="qualifications">Qualifications</label>
                <textarea class="form-control" id="qualifications" rows="5" placeholder="Press enter to add a new qualification"
                          formControlName="qualifications"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="education">Education</label>
                <textarea class="form-control" id="education" rows="5" placeholder="Press enter to add a new Educational Qualification"
                          formControlName="education"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="experience">Experience</label>
                <textarea class="form-control" id="experience" rows="5" placeholder="Press enter to add a new Experience"
                          formControlName="experience"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="es">Education (short) *</label>
                <select class="form-control" id="es" formControlName="es">
                  <option value="BSc">Bachelor's Degree</option>
                  <option value="MSc">Master's Degree</option>
                  <option value="O/L">Ordinary Level</option>
                  <option value="A/L">Advances level</option>
                  <option value="not specified">Other</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="es">Experience (short) *</label>
                <select class="form-control" id="exs" formControlName="exs">
                  <option value="0-2 years">0-2 years</option>
                  <option value="3-5 years">3-5 years</option>
                  <option value="5-10 years">5-10 years</option>
                  <option value="10-15 years">10-15 years</option>
                  <option value="above 15 years">above 15 years</option>
                </select>
              </div>
            </div>
          </div>

          <h5>Requirements and Responsibilities:</h5>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="requirements">Requirements</label>
                <textarea class="form-control" id="requirements" rows="5" placeholder="Press enter to add a new requirement"
                          formControlName="requirements"></textarea>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="responsibilities">Responsibilities</label>
                <textarea class="form-control" id="responsibilities" rows="5" placeholder="Press enter to add a new responsibility"
                          formControlName="responsibilities"></textarea>
              </div>
            </div>
          </div>

          <h5>what we offer</h5>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="offer">our package includes,</label>
                <textarea class="form-control" id="offer" rows="5" placeholder="Press enter to add a new offering"
                          formControlName="offer"></textarea>
              </div>
            </div>
          </div>

          <h5>Address:</h5>

          <div class="col-12">
            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" id="address" placeholder="Address" formControlName="address">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="country">Country *</label>
                <input class="form-control" id="country" placeholder="Country" formControlName="country">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="state">City/State *</label>
                <input class="form-control" id="state" placeholder="State" formControlName="state">
              </div>
            </div>
          </div>

          <h5>Other:</h5>

          <div class="row" *ngIf="companyLevel >= 3">
            <div class="col-12">
              <div class="form-group">
                <label for="banner">Upload a Custom Banner</label>
                <input type="file" class="form-control" id="banner" (change)="uploadFile($event, 'portal/jobs/banners/' + generateRandomId())">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="postdate">Date Posted *</label>
                <input type="date" class="form-control" id="postdate" formControlName="postdate">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="expdate">Closing Date <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                                                     data-bs-placement="top"
                                                     data-bs-custom-class="custom-tooltip"
                                                     data-bs-title="Only pro version can set a custom expiration date. Your job ad will expire after 10 days. "></i></label>
                <input type="date" class="form-control" id="expdate" formControlName="expdate">
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div class="form-group">
                <button type="submit" [disabled]="formLocked" class="btn-1"
                        (click)="jobId ? updateJob() : saveJobPost()">{{formLocked ? 'Locked' : jobId ? 'Update' : 'Post Now'}}</button>
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="formLocked" class="btn-1" (click)="preview()">Preview</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div *ngIf="!loading && serverError">
    <app-failed-to-load-data></app-failed-to-load-data>
  </div>
  <div *ngIf="notFound && !employee?.employee">
    <app-result-not-found></app-result-not-found>
  </div>
  <div *ngIf="corsError">
    <app-network-error></app-network-error>
  </div>
  <div *ngIf="forbidden && !employee?.employee || unexpectedError">
    <app-forbidden></app-forbidden>
  </div>
</div>

<button type="button" id="preview_model_open" class="d-none" data-bs-toggle="modal" data-bs-target="#preview"></button>
<div class="modal fade" id="preview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="previewLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="previewLabel">Job Post Preview</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="top-banner" style="overflow: hidden">
          <div class="curved-div" [ngStyle]="{'background-image': downloadURL ? 'url(' + downloadURL + ')' : ''}">
            <div class="overlay" *ngIf="!downloadURL"></div>
          </div>

          <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
            <h1>{{jobPostForm.get('title')?.value}}</h1>
            <p>Talent Boozt > Job Details > <span>{{jobPostForm.get('title')?.value}}</span></p>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-3 left-side">
              <div class="job-details-card">
                <div class="job-details-card-top">
                  <div class="title-1">Recruiter Information</div>
                </div>
                <hr>
                <div class="job-details-card-content">
                  <div class="job-info-item">
                    <i class="material-icons">business</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Company:</p>
                      <p class="tag-data">YOUR COMPANY</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">call_made</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Visit Us:</p>
                      <a class="tag-data" href="https://talentboozt.com/" target="_blank">talentboozt/YOUR COMPANY</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="job-details-card">
                <div class="job-details-card-top">
                  <div class="title-1">Job Information</div>
                </div>
                <hr>
                <div class="job-details-card-content">
                  <div class="job-info-item">
                    <i class="material-icons">how_to_reg</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Employee Type:</p>
                      <p class="tag-data">{{jobPostForm.get('employeeType')?.value}}</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">location_pin</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Location:</p>
                      <p class="tag-data">{{jobPostForm.get('location')?.value}}</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">personal_video</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Job Type:</p>
                      <p class="tag-data">{{jobPostForm.get('jobType')?.value}}</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">cases</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Experience:</p>
                      <p class="tag-data">{{jobPostForm.get('exs')?.value}}</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">book</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Qualifications:</p>
                      <p class="tag-data">{{jobPostForm.get('qualifications')?.value}}</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">attach_money</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Salary:</p>
                      <p class="tag-data">${{jobPostForm.get('minSalary')?.value}} - ${{jobPostForm.get('maxSalary')?.value}}</p>
                    </div>
                  </div>
                  <div class="job-info-item">
                    <i class="material-icons">access_time</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Date Posted:</p>
                      <p class="tag-data">{{jobPostForm.get('postdate')?.value}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="job-info-item">
                    <i class="material-icons">favorite_border</i>
                    <div class="d-flex flex-column">
                      <p class="tag">Save for later:</p>
                      <button class="btn-1">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="d-flex align-items-center justify-content-center w-100">
                <div class="job-description">
                  <div class="title-1 mb-2">Job Description:</div>
                  <p *ngFor="let d of jobPostForm.get('description')?.value?.split('\n')">{{d}}</p>

                  <div *ngIf="jobPostForm.get('requirements')?.value">
                    <div class="title-1 mb-2">Requirements:</div>
                    <ul *ngFor="let re of jobPostForm.get('requirements')?.value?.split('\n')">
                      <li>{{re}}</li>
                    </ul>
                  </div>
                  <div *ngIf="jobPostForm.get('experience')?.value">
                    <div class="title-1 mb-2">Required Experience:</div>
                    <ul *ngFor="let ex of jobPostForm.get('experience')?.value?.split('\n')">
                      <li>{{ex}}</li>
                    </ul>
                  </div>
                  <div *ngIf="jobPostForm.get('education')?.value">
                    <div class="title-1 mb-2">Required Educational Qualifications:</div>
                    <ul *ngFor="let ed of jobPostForm.get('education')?.value?.split('\n')">
                      <li>{{ed}}</li>
                    </ul>
                  </div>
                  <div *ngIf="jobPostForm.get('qualifications')?.value">
                    <div class="title-1 mb-2">Required Additional Qualifications:</div>
                    <ul *ngFor="let q of jobPostForm.get('qualifications')?.value?.split('\n')">
                      <li>{{q}}</li>
                    </ul>
                  </div>
                  <div *ngIf="jobPostForm.get('skills')?.value">
                    <div class="title-1 mb-2">Skills:</div>
                    <ul *ngFor="let sk of jobPostForm.get('skills')?.value?.split('\n')">
                      <li>{{sk}}</li>
                    </ul>
                  </div>
                  <div *ngIf="jobPostForm.get('responsibilities')?.value">
                    <div class="title-1 mb-2">Responsibilities and Duties:</div>
                    <ul *ngFor="let r of jobPostForm.get('responsibilities')?.value?.split('\n')">
                      <li>{{r}}</li>
                    </ul>
                  </div>
                  <div *ngIf="jobPostForm.get('offer')?.value">
                    <div class="title-1 mb-2">What You Will Get:</div>
                    <ul *ngFor="let o of jobPostForm.get('offer')?.value?.split('\n')">
                      <li>{{o}}</li>
                    </ul>
                  </div>

                  <button class="btn-1">Apply Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="preview_model_close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
