.form-card-1{
  max-width: 800px;

  h5{
    width: 100%;
    text-align: left;
  }
}

.check-ball{
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: var(--color-surface-mixed-100);
  margin: 0 5px;
  border: 2px solid var(--color-primary-200);
  position: relative;
  padding: 5px;
  cursor: pointer;

  i{
    display: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .tag{
    position: absolute;
    bottom: -40px;
    transform: translateX(-50%);
    white-space: nowrap;
    color: var(--color-text-200);
    font-weight: 450;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &.active{
    i{
      display: block;
    }
    background-color: var(--color-primary-200);
  }

  &.ready{
    i{
      display: block;
      color: var(--color-text-200);
    }
  }

  &.active.ready{
    background-color: var(--color-primary-200);
    border: 2px solid var(--color-primary-200);
    i{
      color: #fff;
    }
  }
}

.check-line{
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-200);
}

.btn-1{
  &:disabled{
    background-color: var(--color-surface-mixed-400);
    opacity: .8;
    cursor: not-allowed;
  }
}
