<div class="container">
  <div class="form-card-1">
    <h5 class="title">Set New Password</h5>

    <form (ngSubmit)="onSubmit()">
      <div class="row form-wrapper">
        <div class="col-12">
          <label for="password">New Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter new password" required />
        </div>

        <div class="col-12">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required />
        </div>

        <div class="col-12">
          <button type="submit" class="btn-1 w-100" [disabled]="loading">Reset Password</button>
        </div>

        <div class="col-12" *ngIf="errorMessage">
          <p class="error-message">{{ errorMessage }}</p>
        </div>

        <div class="col-12" *ngIf="successMessage">
          <p class="success-message">{{ successMessage }}</p>
        </div>
      </div>
    </form>
  </div>
</div>
