.year-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-300);
  width: 100%;
  //padding: 0 max(30px, 5vw);
  overflow-y: auto;

  @media screen and (max-width: 1200px) {
    align-items: flex-start;
  }
}

.month-labels {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 15px;
  width: 100%;
  min-width: 600px;
  max-width: 644px;
}

.grid-wrapper{
  width: 100%;
  min-width: 644px;
  //overflow-y: auto;
}

.day-labels{
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  font-size: 9px;
}

.month-label {
  text-align: center;
  font-size: 0.8rem;
}

.days-count{
  width: 100%;
  max-width: 644px;
  min-width: 640px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  p{
    color: var(--color-text-100);
    font-weight: 450;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(53, 10px); /* 53 weeks max */
  grid-template-rows: repeat(7, 10px); /* Days of the week */
  gap: 2px;
}

.day-square {
  width: 10px;
  height: 10px;
  background-color: var(--color-surface-mixed-300); /* Default */
  border-radius: 2px;
}

.day-square.logged-in {
  background-color: #4caf50; /* Highlighted */
}
