<div class="shared-background">
  <div class="overlay"></div>

  <div class="container">
    <div class="content-holder">
      <div class="form-card-1">
        <div class="logo" [ngStyle]="{'background-image': themeService.isDarkMode() ? 'url(./assets/imgs/logo/top-w.svg)' : 'url(./assets/imgs/logo/top-b.svg)'}">
        </div>
        <h5 class="title">Reset Your Password</h5>

        <p>Please enter your email address. You will receive a link to create a new password via email.</p>

        <form action="">
          <div class="row form-wrapper">
            <div class="col-12">
              <label for="email">Email:</label>
              <input type="email" placeholder="example@example.com" id="email">
            </div>

            <div class="col-12">
              <button class="btn-1 w-100">Send</button>
            </div>

            <div class="col-12">
              <p class="navigation-text text-center">Remember your password ? <a routerLink="/login">Sign In</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
