<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Privacy Policy</h1>
    <p>Talent Boozt > <span>Privacy Policy</span></p>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="card-1">
      <h5>Overview :</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere id ratione reiciendis ullam. Ab
        adipisci at dolorum eos ipsa labore laudantium magni minima, nihil numquam perferendis possimus, quas quisquam.
        Dolorem nihil omnis provident! Aspernatur harum iste libero natus nulla optio rem suscipit vitae! Consectetur
        maiores maxime minima, rem sit soluta suscipit velit? Amet assumenda cum, dignissimos ex exercitationem expedita
        facilis ipsum laudantium nemo nostrum, obcaecati omnis quibusdam quidem repudiandae tempore, tenetur ullam
        voluptatum? Eaque eveniet laudantium minima quidem repudiandae, similique? Accusantium ad aperiam atque autem,
        dicta doloribus ea error eum ex illum iste nemo placeat quidem quis reiciendis repellendus tempora. Cum delectus
        ducimus hic perferendis, repellat tempore vel. Ab ad animi aperiam autem dolorum ducimus impedit, ipsa modi non
        quisquam tempora vero. Accusamus at beatae eius eligendi harum, iure molestias nesciunt numquam perferendis
        porro quisquam quo repudiandae sapiente veritatis?</p>

      <h5>We use your information to :</h5>
      <ul>
        <li>Digital Marketing Solutions for Tomorrow</li>
        <li>Our Talented & Experienced Marketing Agency</li>
        <li>Create your own skin to match your brand</li>
        <li>Digital Marketing Solutions for Tomorrow</li>
        <li>Our Talented & Experienced Marketing Agency</li>
        <li>Create your own skin to match your brand</li>
      </ul>

      <h5>Information Provided Voluntarily :</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa cum doloribus, dolorum enim
        exercitationem illum iure neque nisi quas qui repellat repellendus sed sit voluptatum! Autem consequatur dicta
        dolorum earum eius eos est eveniet ex explicabo facilis id ipsa ipsum iusto libero magni molestias nam natus
        optio perspiciatis qui quidem quis reiciendis repellendus reprehenderit repudiandae rerum saepe sed sequi, sunt
        temporibus unde ut velit veniam? Accusamus accusantium ad aliquam, atque blanditiis commodi consequatur cum
        delectus dolorem ea laudantium molestias neque nesciunt quod repellendus, sit, temporibus totam ullam vero
        voluptatibus! Ab corporis debitis illo magnam natus placeat quam recusandae totam.</p>

      <div class="date-tag">
        last updated on 01/01/2024
      </div>
    </div>
  </div>
</div>
