<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Tech & Startup Jobs</h1>
    <p>Talent Boozt > <span>Tech & Startup Jobs</span></p>
  </div>
</div>

<div class="container" style="max-width: 1000px;">
  <h4 class="text-center mb-5">Tech & Startup Jobs: Your Gateway to Innovation and Growth</h4>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="image-wrapper">
        <img src="./assets/imgs/shared/content-icons/banners/tech-startups.webp" alt="banner">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <p>Explore the world of tech and startup jobs, where innovation, creativity, and rapid growth are at the
        forefront. In these roles, you’ll work alongside forward-thinking teams, embrace new technologies, and drive
        impactful projects. Startups provide a dynamic, flexible work environment with opportunities to learn and grow
        quickly. With roles in software development, data science, product management, UX/UI design, and more, tech and
        startup jobs offer competitive salaries, equity, and a collaborative culture that values your ideas and passion
        for progress.</p>
    </div>
  </div>

  <h4 class="my-5">Why Choose a Tech & Startup Job?</h4>
  <p>Take the next step toward a rewarding career in tech and startups, where every day brings a new challenge and an
    opportunity to make a difference.</p>

  <ul>
    <li><strong>Exciting Challenges: </strong>Work on projects that drive meaningful change and impact.</li>
    <li><strong>Growth Potential: </strong>Fast-paced environments that foster rapid learning and skill development.</li>
    <li><strong>Career Advancement: </strong>Opportunities for advancement based on merit, creativity, and contribution.</li>
    <li><strong>Innovative Culture: </strong>Join teams that value fresh ideas, experimentation, and cutting-edge tech.</li>
  </ul>
</div>

<div class="container" style="max-width: 1000px;">
  <h4 class="my-5 text-center">Key Benefits of Working in Tech & Startup Jobs</h4>
  <div class="card-4-section">
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/innovation-core.png" alt="icon">
          </div>
          <div class="card-4-title">Innovation at the Core</div>
          <div class="card-4-cont" [title]="card1">{{card1 | truncate : 90}}</div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/agile-work.png" alt="icon">
          </div>
          <div class="card-4-title">Agile Work Environment</div>
          <div class="card-4-cont" [title]="card2">{{card2 | truncate : 90}}</div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/career-growth.png" alt="icon">
          </div>
          <div class="card-4-title">Career Growth</div>
          <div class="card-4-cont" [title]="card3">{{card3 | truncate : 90}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2"></div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/collaborative-culture.svg" alt="icon">
          </div>
          <div class="card-4-title">Collaborative Culture</div>
          <div class="card-4-cont" [title]="card4">{{card4 | truncate : 90}}</div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card-4">
          <div class="icon-wrapper">
            <img src="./assets/imgs/shared/content-icons/competitive-perks.png" alt="icon">
          </div>
          <div class="card-4-title">Competitive Perks</div>
          <div class="card-4-cont" [title]="card5">{{card5 | truncate : 90}}</div>
        </div>
      </div>
      <div class="col-12 col-md-2"></div>
    </div>
  </div>
</div>
