@keyframes shadow-anime {
  0% {
    -webkit-box-shadow: 0px 0px 12px -1px var(--color-primary-600-opacity-6);
    -moz-box-shadow: 0px 0px 12px -1px var(--color-primary-600-opacity-6);
    box-shadow: 0px 0px 12px -1px var(--color-primary-600-opacity-6);
  }

  25% {
    -webkit-box-shadow: 0px 0px 15px 1px var(--color-primary-600-opacity-6);
    -moz-box-shadow: 0px 0px 15px 1px var(--color-primary-600-opacity-6);
    box-shadow: 0px 0px 15px 1px var(--color-primary-600-opacity-6);
  }

  50% {
    -webkit-box-shadow: 0px 0px 20px 3px var(--color-primary-600-opacity-6);
    -moz-box-shadow: 0px 0px 20px 3px var(--color-primary-600-opacity-6);
    box-shadow: 0px 0px 20px 3px var(--color-primary-600-opacity-6);
  }

  75% {
    -webkit-box-shadow: 0px 0px 15px 1px var(--color-primary-600-opacity-6);
    -moz-box-shadow: 0px 0px 15px 1px var(--color-primary-600-opacity-6);
    box-shadow: 0px 0px 15px 1px var(--color-primary-600-opacity-6);
  }

  100% {
    -webkit-box-shadow: 0px 0px 12px -1px var(--color-primary-600-opacity-6);
    -moz-box-shadow: 0px 0px 12px -1px var(--color-primary-600-opacity-6);
    box-shadow: 0px 0px 12px -1px var(--color-primary-600-opacity-6);
  }
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.theme-btn{
  position: fixed;
  transform: rotate(270deg);
  //position: absolute;
  right: 0;
  top: 100px;
  border: none;
  color: var(--color-surface-mixed-100);
  background-color: transparent;
  border-radius: 5px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  img:nth-child(1), img:nth-child(3){
    max-width: 24px;
    max-height: 24px;

    @media screen and (max-width: 768px) {
      max-width: 16px;
      max-height: 16px;
    }
  }
}

.toggle-contacts-button{
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 99;
  color: rgba(0,0,0,0);

  .contacts-btn-wrapper{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-mixed-400);
    border-radius: 50%;
    padding: 6px 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    .contact-btn{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-mixed-400);
      border-radius: 50%;
      padding: 6px 20px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      i{
        color: var(--color-text-200);
        font-size: 20px;
      }

      &:hover{
        animation: shadow-anime .8s infinite;
      }

      &.active{
        animation: shadow-anime .8s infinite;
      }
    }

    .contacts-section{
      height: 110px;
      width: 40px;
      position: absolute;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      top: -110px;
      left: 0;

      .whatsapp, .tawk{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-surface-mixed-400);
        border-radius: 50%;
        transition: all .3s ease-in-out;
        cursor: pointer;

        img{
          max-width: 28px;
          max-height: 28px;
          object-fit: contain;
        }
      }
    }
    .contacts-section.active{
      display: flex;
    }
  }
}

.ui-settings{
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 99;
  color: rgba(0,0,0,0);

  .ui-btn-wrapper{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-mixed-400);
    border-radius: 50%;
    padding: 6px 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    .ui-btn{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-mixed-400);
      border-radius: 50%;
      padding: 6px 20px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      i{
        color: var(--color-text-200);
        font-size: 20px;
      }

      &:hover{
        animation: rotate-anime 3s linear infinite;
      }

      &.active{
        animation: rotate-anime 3s linear infinite;
      }
    }

    .ui-settings-body{
      width: 200px;
      position: absolute;
      bottom: 0;
      left: -210px;
      background-color: var(--color-surface-mixed-100);
      border-radius: 8px;
      padding: 10px 0;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: 1px solid var(--color-surface-mixed-300);
      -webkit-box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
      -moz-box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
      box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);

      .theme-wrapper{
        width: 80%;

        .theme-label{
          color: var(--color-text-200);
          font-size: 16px;
          font-weight: 450;
          margin: 5px 0;
        }

        .theme-shade{
          margin: 0;
          padding: 0;

          li{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            cursor: pointer;

            .color-btn.blue { background-color: #3498db; }
            .color-btn.green { background-color: #2ecc71; }
            .color-btn.orange { background-color: #e67e22; }
            .color-btn.red { background-color: #e74c3c; }
            .color-btn.purple { background-color: #9b59b6; }
            .color-btn.mixed { background-image: linear-gradient(to right, #3498db, #9b59b6) }

            .color-btn {
              width: 16px;
              height: 16px;
            }
          }
        }

        .theme-btn{
          position: absolute;
          right: 0;
          top: 100px;
          border: none;
          color: var(--color-surface-mixed-100);
          background-color: transparent;
          border-radius: 5px;
          z-index: 999;
          display: flex;
          align-items: center;
          justify-content: center;

          img:nth-child(1), img:nth-child(3){
            max-width: 24px;
            max-height: 24px;

            @media screen and (max-width: 768px) {
              max-width: 16px;
              max-height: 16px;
            }
          }
        }
      }
    }

    .ui-settings-body.active{
      display: flex;
    }
  }
}

.translate{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  color: rgba(0,0,0,0);

  .lang-btn-wrapper{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .lang-btn{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-mixed-400);
      border-radius: 50%;
      padding: 6px 20px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      i{
        color: var(--color-text-200);
        font-size: 20px;
      }

      &:hover{
        animation: shadow-anime .8s infinite;
      }

      &.active{
        animation: shadow-anime .8s infinite;
      }
    }

    #google_translate_element {
      position: absolute;
      transform: translate(-70%, 10px);
      display: none;

      .goog-te-gadget{
        //position: absolute;
        //bottom: 20px;
        //right: 10px;
        z-index: 99;
        color: rgba(0,0,0,0);

        span{
          display: none;
        }
      }

      .goog-te-combo{
        background-color: var(--color-surface-mixed-100);
        color: var(--color-text-100);
      }
    }

    #google_translate_element.active {
      display: block;
    }
  }
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: var(--color-surface-mixed-100);
  background-color: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  min-height: 70px;
  -webkit-box-shadow: 0 2px 8px -4px var(--color-box-shadow-100);
  -moz-box-shadow: 0 2px 8px -4px var(--color-box-shadow-100);
  box-shadow: 0 2px 8px -4px var(--color-box-shadow-100);
  position: relative;

  .menu{
    width: 100%;
    .navbar{
      //background-color: var(--color-surface-mixed-100) !important;
      background-color: transparent !important;
      backdrop-filter: blur(30px) !important;
      -webkit-backdrop-filter: blur(30px) !important;
      .navbar-nav{
        text-align: right;
        .nav-item{
          .nav-link{
            color: var(--color-text-200) !important;

            &:hover{
              color: var(--color-surface-mixed-600) !important;
            }
          }
          .nav-link.active{
            color: var(--color-primary-300) !important;
          }
          .dropdown-menu{
            background-color: var(--color-surface-mixed-100) !important;
            border: 1px solid var(--color-primary-600);
          }
        }
      }

      .dropdown-menu{
        .dropdown-item{
          color: var(--color-text-200) !important;
          font-size: 14px;

          &:hover{
            color: var(--color-text-400) !important;
          }
        }

        .dropdown-item.active{
          color: #fff;
          background-color: var(--color-primary-300) !important;
        }

        .dropdown-divider{
          border-top: 1px solid var(--color-primary-300) !important;
        }
      }
    }

    .navbar-toggler{
      align-self: flex-end;
      right: 0;
      border-color: var(--color-primary-300) !important;

      .navbar-toggler-icon{
        border-color: var(--color-primary-300) !important;
      }
    }

    .s-bar{
      width: 250px;
      min-height: 40px;
      border-radius: 50px;
      border: 1px solid var(--color-surface-mixed-300);
      background-color: var(--color-surface-mixed-300);
      padding: 0 16px;
      position: relative;

      input{
        width: 100%;
        outline: none;
        border: none;
        color: var(--color-text-100);
        background-color: transparent;
        &:focus{
          outline: none;
        }
      }

      i{
        color: var(--color-text-200);
      }
    }

    .profile-wrapper{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--color-surface-mixed-300);
      background-color: var(--color-surface-mixed-300);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .logo{
    width: 200px;
    height: 40px;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 0;
    background-size: cover;

    @media screen and (max-width: 992px){
      background-position-y: -40px;
    }

    @media screen and (max-width: 540px){
      background-position-y: -30px;
    }
  }

  .search-results-wrapper{
    position: absolute;
    bottom: -105px;
    right: max(50px, 7vw);
    min-width: 250px;
    height: 100px;
    overflow-y: auto;
    background-color: var(--color-surface-mixed-100);
    border-radius: 0 0 8px 8px;
    border: 1px solid var(--color-surface-mixed-300);
    -webkit-box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
    -moz-box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
    box-shadow: 0 1px 20px 0 var(--color-box-shadow-100);
    z-index: 999;

    .search-result{
      padding: 5px 15px;

      a{
        text-decoration: none;
        color: var(--color-text-200);
        font-size: 14px;
        transition: all 0.3s ease;
      }

      &:hover{
        background-color: var(--color-surface-mixed-300);

        a{
          color: var(--color-primary-300);
        }
      }
    }

    .not-found{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-text-200);
      font-size: 14px;
      text-align: center;
    }
  }
}

.footer{
  background-color: #222b38;

  .footer-top{
    padding: 40px 0;
    background-color: #222b38;

    h6{
      color: #fff;
      margin-bottom: 20px;
    }

    p{
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover{
        color: #fff;
        transform: translateX(5px);
      }

      &.not-animate{
        transition: none;
        transform: none;
        color: var(--color-text-400);
      }
    }

    .input-group{
      input{
        background-color: transparent;
        border: 1px solid var(--color-text-400);
        color: #fff;
        padding: 12px 16px;

        &:focus{
          outline: none;
          box-shadow: none;
        }

        &::placeholder{
          color: var(--color-text-400);
        }
      }
    }

    .btn-outline-secondary{
      background-color: #1e8449;
      border: 1px solid #1e8449;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
    }

    .logo-lg{
      width: 90%;
      max-width: 250px;
      aspect-ratio: 16/9;
      margin-bottom: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../assets/imgs/logo/top-b.svg");
    }

    .report-issue{
      width: 100%;
      margin: 14px 0;
      background-color: #1f1f2e;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 12px 20px;

      .report-btn{
        background-color: #FFB100;
        color: #fff;
        margin: 0 0 8px 0;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        cursor: pointer;
        gap: 4px;
        font-size: 12px;

        i{
          font-size: 14px;
        }

        &:hover{
          background-color: #FFD700;
        }
      }
    }
  }

  .footer-bottom{
    background-color: #12171e;
    min-height: 40px;
    padding: 16px;

    p{
      margin: 0;
    }
  }
}

.modal-body{
  p, ol, ul, li{
    font-size: 14px;
  }
}

.form-wrapper{
  gap: unset;
  row-gap: 20px;
  font-size: 14px;

  input, textarea{
    font-size: 14px;

    &::placeholder{
      font-size: 14px;
    }
  }

  span{
    color: var(--color-text-200);
    font-weight: 450;
  }
}
