<div [ngClass]="{'theme-light': !themeService.isDarkMode(), 'theme-dark': themeService.isDarkMode()}"
     style="max-height: 100vh;">

  <div class="w-100 main-body">

    <div class="toggle-contacts-button">
      <div class="contacts-btn-wrapper">
        <div class="contact-btn" [ngClass]="showContacts ? 'active' : ''" (click)="toggleContacts()">
          <i class="material-icons">wechat</i>
        </div>
        <div class="contacts-section" [ngClass]="showContacts ? 'active' : ''">
          <!-- WhatsApp Direct Chat -->
          <div class="contact whatsapp">
            <a href="https://wa.me/<YOUR_PHONE_NUMBER>" target="_blank">
              <img src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="WhatsApp Chat" loading="lazy" width="48"
                   height="48">
            </a>
          </div>

          <!-- Tawk.to Chat -->
          <div class="contact tawk">
            <a href="https://tawk.to/chat/6404d90d4247f20fefe41dac/1gqpevnk4" target="_blank">
              <img
                src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-live-chat-e-commerce-flaticons-flat-flat-icons.png"
                alt="Tawk.to Chat" loading="lazy" width="48" height="48">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-settings">
      <div class="ui-btn-wrapper">
        <div class="ui-btn" [ngClass]="isUiSettings ? 'active' : ''" (click)="openUiSettings()">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-settings-body" [ngClass]="isUiSettings ? 'active' : ''">
          <div class="theme-wrapper">
            <div class="theme-label">Theme Settings</div>
            <div class="theme-options">
              <ul class="theme-shade">
                <li (click)="changeColorShading('blue')">
                  <div class="color-btn blue"></div>
                  <div class="color-name">Blue</div>
                </li>
                <li (click)="changeColorShading('green')">
                  <div class="color-btn green"></div>
                  <div class="color-name">Green</div>
                </li>
                <li (click)="changeColorShading('orange')">
                  <div class="color-btn orange"></div>
                  <div class="color-name">Orange</div>
                </li>
                <li (click)="changeColorShading('red')">
                  <div class="color-btn red"></div>
                  <div class="color-name">Red</div>
                </li>
                <li (click)="changeColorShading('purple')">
                  <div class="color-btn purple"></div>
                  <div class="color-name">Purple</div>
                </li>
                <li (click)="changeColorShading('mixed')">
                  <div class="color-btn mixed"></div>
                  <div class="color-name">Mixed</div>
                </li>
              </ul>

              <button class="theme-btn" (click)="toggleTheme()" title="Theme">
                <img ngSrc="./assets/imgs/shared/moon.svg" alt="dark" height="24" width="24">
                <img
                  [src]="themeService.isDarkMode()?'./assets/imgs/shared/toggle-off.svg':'./assets/imgs/shared/toggle-on.svg'"
                  alt="theme" height="40" width="40">
                <img ngSrc="./assets/imgs/shared/sun.svg" alt="light" height="24" width="24">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="translate">
      <div class="lang-btn-wrapper">
        <div class="lang-btn" [ngClass]="isTranslator ? 'active' : ''" (click)="clickTranslate()">
          <i class="material-icons">translate</i>
        </div>
        <div id="google_translate_element" [ngClass]="isTranslator ? 'active' : ''"></div>
      </div>
    </div>

    <div *ngIf="showNavbar" class="nav-bar sticky-top">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo"
             [ngStyle]="{'background-image': themeService.isDarkMode() ? 'url(./assets/imgs/logo/top-w.svg)' : 'url(./assets/imgs/logo/top-b.svg)'}"
             routerLink="/"></div>
        <div class="menu">
          <li *ngIf="employeeType" class="nav-item d-block d-lg-none ms-2 dropdown">
            <div class="profile-wrapper" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="employee?.image?employee.image:'./assets/imgs/shared/default_emp_dp.svg'"
                   alt="profile" width="40" height="40">
            </div>

            <ul class="dropdown-menu dropdown-menu-end">
              <div *ngIf="employeeType === 'employer'">
                <li *ngIf="employeeLevel === '2'"><a class="dropdown-item" routerLink="/dashboard"><i
                  class="material-icons">autorenew</i> Switch to Dashboard</a></li>
                <li *ngIf="employeeLevel === '3'"><a class="dropdown-item" routerLink="/pro"><i
                  class="material-icons">autorenew</i> Switch to Dashboard</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              </div>
              <li><a class="dropdown-item" routerLink="/candidate-profile"><i class="material-icons">perm_identity</i>
                Profile</a></li>
              <li><a class="dropdown-item" routerLink="/my-jobs"><i class="material-icons">assignment</i> My
                Jobs</a></li>
              <li><a class="dropdown-item" routerLink="/candidate-profile-setting"><i class="material-icons">settings</i>
                Setting</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/locked"><i class="material-icons">lock</i> Lock
                Screen</a></li>
              <li><span class="dropdown-item" (click)="logout()"><i
                class="material-icons">logout</i> Logout</span>
              </li>
            </ul>
          </li>
          <li *ngIf="!employeeType" class="d-block d-lg-none nav-item" (click)="collapseNavbar()">
            <a class="nav-link btn-border" routerLink="/login" [class.active]="isActive('/login')">Sign in</a>
          </li>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style="justify-content: flex-end!important;">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav" #navbarNav
                   style="justify-content: flex-end!important;">
                <ul class="navbar-nav">
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/home" [class.active]="isActive('/home')">Home</a>
                  </li>
                  <li class="nav-item dropdown d-none d-lg-block" (click)="collapseNavbar()">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explore
                      Jobs</a>

                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" routerLink="/job" [class.active]="isActive('/job')"
                           (click)="collapseNavbar()">Jobs</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="/companies" [class.active]="isActive('/companies')"
                           (click)="collapseNavbar()">Companies</a>
                      </li>
                    </ul>
                  </li>
                  <div class="d-lg-none accordion nav" id="jobs">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#exjobs" aria-expanded="false" aria-controls="exjobs">
                          Explore Jobs
                        </button>
                      </h2>
                      <div id="exjobs" class="accordion-collapse collapse" data-bs-parent="#jobs">
                        <div class="accordion-body">
                          <li>
                            <a class="dropdown-item" routerLink="/job" [class.active]="isActive('/job')"
                               (click)="collapseNavbar()">Jobs</a>
                          </li>
                          <li>
                            <a class="dropdown-item" routerLink="/companies" [class.active]="isActive('/companies')"
                               (click)="collapseNavbar()">Companies</a>
                          </li>
                        </div>
                      </div>
                    </div>
                  </div>
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/about" [class.active]="isActive('/about')">About Us</a>
                  </li>
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/pricing" [class.active]="isActive('/pricing')">Pricing</a>
                  </li>
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/for-companies" [class.active]="isActive('/for-companies')">Companies</a>
                  </li>
                  <li class="nav-item">
                    <div class="d-flex align-items-center justify-content-end w-100 h-100 s-bar">
                      <input type="text" placeholder="Search..." (keyup)="handleSearch($event.target)"/>
                      <i class="material-icons">search</i>
                    </div>
                  </li>
                  <li *ngIf="!employeeType" class="d-none d-lg-block nav-item" (click)="collapseNavbar()">
                    <a class="nav-link btn-border" routerLink="/login" [class.active]="isActive('/login')">SignIn</a>
                  </li>
                  <li *ngIf="employeeType" class="nav-item d-none d-lg-block ms-2 dropdown">
                    <div class="profile-wrapper" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img [src]="employee?.image?employee.image:'./assets/imgs/shared/default_emp_dp.svg'"
                           alt="profile" width="40" height="40">
                    </div>

                    <ul class="dropdown-menu dropdown-menu-end">
                      <div *ngIf="employeeType === 'employer'">
                        <li *ngIf="employeeLevel === '2'"><a class="dropdown-item" routerLink="/dashboard"><i
                          class="material-icons">autorenew</i> Switch to Dashboard</a></li>
                        <li *ngIf="employeeLevel === '3'"><a class="dropdown-item" routerLink="/pro"><i
                          class="material-icons">autorenew</i> Switch to Dashboard</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                      </div>
                      <li><a class="dropdown-item" routerLink="/candidate-profile"><i class="material-icons">perm_identity</i>
                        Profile</a></li>
                      <li><a class="dropdown-item" routerLink="/my-jobs"><i class="material-icons">assignment</i> My
                        Jobs</a></li>
                      <li><a class="dropdown-item" routerLink="/candidate-profile-setting"><i class="material-icons">settings</i>
                        Setting</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" routerLink="/locked"><i class="material-icons">lock</i> Lock
                        Screen</a></li>
                      <li><span class="dropdown-item" (click)="logout()"><i
                        class="material-icons">logout</i> Logout</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="search-results-wrapper" *ngIf="openSearchResults">
        <div class="search-result" *ngFor="let r of filterSearchResults()">
          <a [routerLink]="r.routerLink">{{r.name}}</a>
        </div>
        <div class="not-found" *ngIf="filterSearchResults().length <= 0">No results found. :(</div>
      </div>
    </div>

    <app-system-notification-view></app-system-notification-view>

    <router-outlet (activate)="toggleCommonComponent($event)"></router-outlet>

    <app-footer *ngIf="showFooter"></app-footer>
  </div>

  <button type="button" id="news_model_open_main" class="d-none" data-bs-toggle="modal"
          data-bs-target="#newsLatterMain"></button>

  <!-- Modal -->
  <div class="modal fade" id="newsLatterMain" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="newsLatterMainLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newsLatterMainLabel">Subscribe to our news letter</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column gap-2">
            <p class="mb-0">We will send you our latest news and updates. We hates spams more than you do.</p>
            <form [formGroup]="newsLetterForm" class="w-100">
              <div class="form-group">
                <label for="emailMain">Enter your valid email address *</label>
                <input type="email" class="form-control" id="emailMain" formControlName="email">
              </div>
            </form>
            <p class="mb-0">By clicking on Subscribe, you agree to our <a href="/terms-and-conditions">Terms of
              Service</a>
              and <a href="/privacy-policy">Privacy Policy</a>.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="news_model_close_main" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
          </button>
          <button type="button" class="btn-1" [disabled]="loading"
                  (click)="subscribeNewsLatter()">{{loading ? 'Subscribing...' : 'Subscribe'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
