<div [ngClass]="{'theme-light': !themeService.isDarkMode(), 'theme-dark': themeService.isDarkMode()}"
     style="max-height: 100vh;">

  <div class="w-100 main-body">
    <!--    <button class="theme-btn" (click)="toggleTheme()" title="Theme">-->
    <!--      <img src="./assets/imgs/shared/moon.svg" alt="dark">-->
    <!--      <img-->
    <!--        [src]="themeService.isDarkMode()?'./assets/imgs/shared/toggle-off.svg':'./assets/imgs/shared/toggle-on.svg'"-->
    <!--        alt="theme" height="40" width="40">-->
    <!--      <img src="./assets/imgs/shared/sun.svg" alt="light">-->
    <!--    </button>-->


    <div class="toggle-contacts-button">
      <div class="contacts-btn-wrapper">
        <div class="contact-btn" [ngClass]="showContacts ? 'active' : ''" (click)="toggleContacts()">
          <i class="material-icons">wechat</i>
        </div>
        <div class="contacts-section" [ngClass]="showContacts ? 'active' : ''">
          <!-- WhatsApp Direct Chat -->
          <div class="contact whatsapp">
            <a href="https://wa.me/<YOUR_PHONE_NUMBER>" target="_blank">
              <img src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="WhatsApp Chat" loading="lazy" width="48"
                   height="48">
            </a>
          </div>

          <!-- Tawk.to Chat -->
          <div class="contact tawk">
            <a href="https://tawk.to/chat/6404d90d4247f20fefe41dac/1gqpevnk4" target="_blank">
              <img
                src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-live-chat-e-commerce-flaticons-flat-flat-icons.png"
                alt="Tawk.to Chat" loading="lazy" width="48" height="48">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-settings">
      <div class="ui-btn-wrapper">
        <div class="ui-btn" [ngClass]="isUiSettings ? 'active' : ''" (click)="openUiSettings()">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-settings-body" [ngClass]="isUiSettings ? 'active' : ''">
          <div class="theme-wrapper">
            <div class="theme-label">Theme Settings</div>
            <div class="theme-options">
              <ul class="theme-shade">
                <li (click)="changeColorShading('blue')">
                  <div class="color-btn blue"></div>
                  <div class="color-name">Blue</div>
                </li>
                <li (click)="changeColorShading('green')">
                  <div class="color-btn green"></div>
                  <div class="color-name">Green</div>
                </li>
                <li (click)="changeColorShading('orange')">
                  <div class="color-btn orange"></div>
                  <div class="color-name">Orange</div>
                </li>
                <li (click)="changeColorShading('red')">
                  <div class="color-btn red"></div>
                  <div class="color-name">Red</div>
                </li>
                <li (click)="changeColorShading('purple')">
                  <div class="color-btn purple"></div>
                  <div class="color-name">Purple</div>
                </li>
                <li (click)="changeColorShading('mixed')">
                  <div class="color-btn mixed"></div>
                  <div class="color-name">Mixed</div>
                </li>
              </ul>

              <button class="theme-btn" (click)="toggleTheme()" title="Theme">
                <img ngSrc="./assets/imgs/shared/moon.svg" alt="dark" height="24" width="24">
                <img
                  [ngSrc]="themeService.isDarkMode()?'./assets/imgs/shared/toggle-off.svg':'./assets/imgs/shared/toggle-on.svg'"
                  alt="theme" height="40" width="40">
                <img ngSrc="./assets/imgs/shared/sun.svg" alt="light" height="24" width="24">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="translate">
      <div class="lang-btn-wrapper">
        <div class="lang-btn" [ngClass]="isTranslator ? 'active' : ''" (click)="clickTranslate()">
          <i class="material-icons">translate</i>
        </div>
        <div id="google_translate_element" [ngClass]="isTranslator ? 'active' : ''"></div>
      </div>
    </div>

    <div *ngIf="showNavbar" class="nav-bar sticky-top">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo"
             [ngStyle]="{'background-image': themeService.isDarkMode() ? 'url(./assets/imgs/logo/top-w.svg)' : 'url(./assets/imgs/logo/top-b.svg)'}"
             routerLink="/"></div>
        <div class="menu">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style="justify-content: flex-end!important;">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav" #navbarNav
                   style="justify-content: flex-end!important;">
                <ul class="navbar-nav">
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/home" [class.active]="isActive('/home')">Home</a>
                  </li>
                  <li class="nav-item dropdown" (click)="collapseNavbar()">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explore
                      Jobs</a>

                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" routerLink="/job" [class.active]="isActive('/job')"
                           (click)="collapseNavbar()">Jobs</a>
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="/companies" [class.active]="isActive('/companies')"
                           (click)="collapseNavbar()">Companies</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/about" [class.active]="isActive('/about')">About Us</a>
                  </li>
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/pricing" [class.active]="isActive('/pricing')">Pricing</a>
                  </li>
                  <li class="nav-item" (click)="collapseNavbar()">
                    <a class="nav-link" routerLink="/for-companies" [class.active]="isActive('/for-companies')">Companies</a>
                  </li>
                  <li class="nav-item">
                    <div class="d-flex align-items-center justify-content-end w-100 h-100 s-bar">
                      <input type="text" placeholder="Search..." (keyup)="handleSearch($event.target)"/>
                      <i class="material-icons">search</i>
                    </div>
                  </li>
                  <li class="nav-item d-none d-lg-block ms-2 dropdown">
                    <div class="profile-wrapper" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img [src]="employee?.image?employee.image:'./assets/imgs/shared/default_emp_dp.svg'"
                           alt="profile" width="40" height="40">
                    </div>

                    <ul class="dropdown-menu dropdown-menu-end">
                      <div *ngIf="employeeType === 'employer'">
                        <li *ngIf="employeeLevel === '2'"><a class="dropdown-item" routerLink="/dashboard"><i
                          class="material-icons">autorenew</i> Switch to Dashboard</a></li>
                        <li *ngIf="employeeLevel === '3'"><a class="dropdown-item" routerLink="/pro"><i
                          class="material-icons">autorenew</i> Switch to Dashboard</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                      </div>
                      <li><a class="dropdown-item" routerLink="/candidate-profile"><i class="material-icons">perm_identity</i>
                        Profile</a></li>
                      <li><a class="dropdown-item" routerLink="/my-jobs"><i class="material-icons">assignment</i> My
                        Jobs</a></li>
                      <li><a class="dropdown-item" routerLink="/candidate-profile-setting"><i class="material-icons">settings</i>
                        Setting</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" routerLink="/locked"><i class="material-icons">lock</i> Lock
                        Screen</a></li>
                      <li><span class="dropdown-item" (click)="logout()"><i
                        class="material-icons">logout</i> Logout</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="search-results-wrapper" *ngIf="openSearchResults">
        <div class="search-result" *ngFor="let r of filterSearchResults()">
          <a [routerLink]="r.routerLink">{{r.name}}</a>
        </div>
        <div class="not-found" *ngIf="filterSearchResults().length <= 0">No results found. :(</div>
      </div>
    </div>

    <router-outlet (activate)="toggleCommonComponent($event)"></router-outlet>

    <div *ngIf="showFooter" class="footer">
      <div class="container">
        <div class="row footer-top">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="logo-lg"></div>
            <p class="not-animate">Lorem ipsum dolor sit. 123 Street <br>+94 123 456 789 <br>info@talentboozt.com</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <h2>Navigation</h2>
            <p routerLink="/about">> About Us</p>
            <p routerLink="/job">> Jobs</p>
            <p routerLink="/companies">> Companies</p>
            <p routerLink="/terms-and-conditions">> Terms &amp; Conditions</p>
            <p routerLink="/faq">> FAQs</p>
            <p routerLink="/pricing">> Packages</p>
            <p routerLink="/contact">> Contact Us</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <h2>Follow Us</h2>
            <p>> Facebook</p>
            <p>> Twitter</p>
            <p>> LinkedIn</p>
            <p>> Youtube</p>
            <p>> Instagram</p>
          </div>
          <div class="col-12 col-lg-5">
            <h2>Still need help?</h2>
            <p class="not-animate">Let us now about your issue and professional will reach you out.</p>
            <form [formGroup]="requestInfoForm">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your valid email" formControlName="email">
                <button class="btn btn-outline-secondary" type="button" (click)="contactMe()"><i class="material-icons">near_me</i>
                </button>
              </div>
            </form>

            <div class="report-issue">
              <p class="not-animate">If you are facing any issue, please let us know</p>
              <button class="report-btn" data-bs-toggle="modal" data-bs-target="#issueModel"><i class="material-icons"
                                                                                                translate="no">bug_report</i>Report
                An Issue
              </button>
              <button id="openForm" class="d-none" data-bs-toggle="modal" data-bs-target="#issueReportModel" #openForm>
                btn
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-md-flex align-items-center justify-content-between footer-bottom">
        <div class="footer-bottom-left">
          <p>© 2024. All rights reserved</p>
        </div>
        <div class="footer-bottom-right">
          <p class="not-animate d-flex align-items-center m-0 pe-5">Designed by Talent Boozt Systems with <i
            class="material-icons ms-1" style="color: #c0392b; cursor: pointer;"
            routerLink="/we-built-with">favorite</i></p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="issueModel" tabindex="-1" aria-labelledby="issueModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="issueModelLabel">Want to report an issue?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Here is some Troubleshooting Advice for various scenarios:</p>
          <ol>
            <li>Account details are incorrect</li>
            <ul>
              <li>Try to login with correct credentials.</li>
              <li>Reload the page. If problem persists, contact us.</li>
              <li>This error can be happen when you using multiple accounts with same device.</li>
            </ul>
            <li>Saved job details not visible</li>
            <ul>
              <li>This error can happen when you are not logged in correctly.</li>
              <li>The company/job post might inactive or deleted/closed.</li>
            </ul>
            <li>Failed to apply a job</li>
            <ul>
              <li>Check you're logged as a candidate.</li>
              <li>If the problem is still persists, contact us.</li>
            </ul>
            <li>Failed to post a job</li>
            <ul>
              <li>Check you're logged as an employer.</li>
              <li>Ensure required information provided in organization profile.</li>
              <li>Check your job posting limit exceeded. (you can post new jobs after removing expired jobs)</li>
              <li>If the problem is still persists, contact us.</li>
            </ul>
            <li>Failed to upload multimedia files (images, videos, documents, CVs)</li>
            <ul>
              <li>Make sure files are not reached the limit.</li>
              <li>We allow *.jpeg, *.jpg, *.png, *.pdf file formats only.(some cases allows *.gif, *.doc, *.docx)</li>
            </ul>
            <li>File uploaded. But not updated the content</li>
            <ul>
              <li>Reload page. Sometimes cache persists and failed to update without reloading.</li>
              <li>Re-upload the file. When you are tring to upload a new file, sometimes first attempt create a specific
                path for only you. So try again once:)
              </li>
              <li>If the problem is still persists, contact us.</li>
            </ul>
          </ol>
          <p><strong style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#issueReportModel">Click
            here</strong> if you still have something to report/suggest.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="issueReportModel" tabindex="-1" aria-labelledby="issueReportModelLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="issueReportModelLabel">Want to report an issue?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Examples of Software related issues : </strong>related to CVs, Images, UI related etc.</p>
          <p><strong>Examples of Content related issues : </strong>related to Content not match, Incorrect content,
            Content not visible etc..</p>
          <form [formGroup]="reportIssueForm" class="w-100">
            <div class="row form-wrapper">
              <div class="col-12 col-md-8">
                <div class="form-group">
                  <label for="issue_type">Issue Type *</label>
                  <select class="form-control" id="issue_type" formControlName="issueType">
                    <option selected>Software Related Issue</option>
                    <option>Content Related Issue</option>
                    <option>Other Issue</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="description">Describe the issue *</label>
                  <textarea class="form-control" id="description" rows="5" placeholder="Describe your issue here"
                            formControlName="description"></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="attachment">Attach Screenshot *</label>
                  <input type="file" class="form-control" id="attachment"
                         (change)="uploadFile($event, 'portal/report_issues/' + generateRandomId(), 'issues')"/>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-1 me-2" (click)="reportIssue()">Send</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #modelClose>Close</button>
        </div>
      </div>
    </div>
  </div>


  <button type="button" id="news_model_open_main" class="d-none" data-bs-toggle="modal"
          data-bs-target="#newsLatterMain"></button>

  <!-- Modal -->
  <div class="modal fade" id="newsLatterMain" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="newsLatterMainLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newsLatterMainLabel">Subscribe to our news letter</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column gap-2">
            <p class="mb-0">We will send you our latest news and updates. We hates spams more than you do.</p>
            <form [formGroup]="newsLetterForm" class="w-100">
              <div class="form-group">
                <label for="emailMain">Enter your valid email address *</label>
                <input type="email" class="form-control" id="emailMain" formControlName="email">
              </div>
            </form>
            <p class="mb-0">By clicking on Subscribe, you agree to our <a href="/terms-and-conditions">Terms of
              Service</a>
              and <a href="/privacy-policy">Privacy Policy</a>.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="news_model_close_main" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
          </button>
          <button type="button" class="btn-1" [disabled]="loading"
                  (click)="subscribeNewsLatter()">{{loading ? 'Subscribing...' : 'Subscribe'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
