.hero-banner-wrapper{
  width: 100%;
  height: auto;
  position: relative;

  .hero-banner{
    width: 100%;
    min-height: calc(100vh - 70px);
    height: 100%;
    background-image: url("../../../../assets/imgs/offers/pro-offer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .banner-content-top, .banner-content-bottom{
    width: 100%;
    padding: 20px 30px;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1,h2,p{
      color: #fff;
    }
  }

  .banner-content-top{
    top: 0;
  }

  .banner-content-bottom{
    bottom: 0;
  }
}

.card-4{
  .icon-wrapper{
    i{
      font-size: 24px;
    }
  }
}

.eligible{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  height: 100%;

  ul {
    margin: 0 0 10px 10px;
    padding: 0;
    list-style: none;

    li {
      margin: 8px 0;
      position: relative;
      text-align: left;
      display: flex;
      align-items: center;
    }

    li:before {
      content: 'check_circle_outline';
      font-family: 'Material Icons';
      font-size: 18px;
      color: var(--color-primary-200);
      margin-right: 6px;
    }
  }
}

.form-check-input{
  width: auto!important;
}
