<div class="shared-background">
  <div class="overlay"></div>

  <div class="container">
    <div class="content-holder">
      <div class="form-card-1">
        <div class="logo">
          <img src="https://jobstack-shreethemes.vercel.app/static/media/05.a7ab2c82813cb95da9d6.jpg" alt="profile">
        </div>
        <h5 class="title">Login</h5>

        <form action="">
          <div class="row form-wrapper">
            <div class="col-12">
              <label for="email">Email:</label>
              <input type="email" placeholder="example@example.com" id="email">
            </div>

            <div class="col-12">
              <label for="password">Password:</label>
              <input type="password" placeholder="Password:" id="password">
            </div>

            <div class="col-12">
              <div class="d-sm-flex align-items-center justify-content-between">
                <div class="form-check">
                  <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" style="width: auto">
                  <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div>

                <a href="#">Forgot Password?</a>
              </div>
            </div>

            <div class="col-12">
              <button class="btn-1 w-100">login/sign in</button>
            </div>

            <div class="col-12">
              <p class="notification-text">Don't have an account? <a href="#">Sign Up</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
