<div class="shared-background">
  <div class="overlay"></div>

  <div class="content-holder">
    <div class="main-content-wrapper">
      <div class="img-card-1">
        <img src="./assets/imgs/login/login.webp" alt="login image">
      </div>
      <div class="form-card-1">
        <div class="logo" [ngStyle]="{'background-image': themeService.isDarkMode() ? 'url(./assets/imgs/logo/top-w.webp)' : 'url(./assets/imgs/logo/top-b.webp)'}">
        </div>
        <h5 class="title">Sign in to your account</h5>

        <form [formGroup]="loginForm">
          <div class="row form-wrapper">
            <div class="col-12">
              <label for="email">Email:</label>
              <input type="email" placeholder="example@example.com" id="email" formControlName="email" autocomplete="section-blue login email">
            </div>

            <div class="col-12">
              <label for="password">Password:</label>
              <div class="input-group w-100 d-flex">
                <input type="password" placeholder="Password:" id="password" formControlName="password" aria-label="Password:" aria-describedby="button-addon" style="flex:1" autocomplete="section-blue login password">
                <button class="btn btn-outline-secondary" type="button" id="button-addon" (click)="togglePasswordVisibility()"><i [ngClass]="isp1open? 'fa fa-eye-slash':'fa fa-eye'" aria-hidden="true"></i></button>
              </div>
            </div>

            <div class="col-12">
              <div class="d-sm-flex align-items-center justify-content-between">
                <div class="form-check">
                  <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" formControlName="remember" style="width: auto">
                  <label class="form-check-label" for="flexCheckDefault">
                    Trust this device
                  </label>
                </div>

                <a routerLink="/reset" class="link">Forgot Password?</a>
              </div>
            </div>

            <div class="col-12">
              <button class="btn-1 w-100" (click)="loginUser()" [disabled]="disabled">Sign In</button>
            </div>

            <div class="d-flex align-items-center justify-content-center">
              <hr>
              <p class="mx-1 my-0" style="white-space: nowrap">or sign in/up with</p>
              <hr>
            </div>

            <div class="col-12">
              <div class="d-flex align-items-center justify-content-around w-100">
                <div class="s-login-btn" (click)="loginWithGoogle()">
                  <img src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo">
                </div>
                <div class="s-login-btn" (click)="loginWithGithub()">
                  <img src="https://img.icons8.com/ios-glyphs/60/github.png" alt="github">
                </div>
                <div class="s-login-btn" (click)="loginWithLinkedin()">
                  <img src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin">
                </div>
                <div class="s-login-btn" (click)="loginWithFacebook()">
                  <img src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new">
                </div>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-6">-->
<!--                  <div class="btn-2" (click)="loginWithGoogle()">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <img src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>-->
<!--                    </div>-->
<!--                    <span>Google</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <div class="btn-2" (click)="loginWithGithub()">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <img src="https://img.icons8.com/ios-glyphs/60/github.png" alt="github"/>-->
<!--                    </div>-->
<!--                    <span>Github</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <div class="btn-2" (click)="loginWithLinkedin()">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <img src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>-->
<!--                    </div>-->
<!--                    <span>Linkedin</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <div class="btn-2" (click)="loginWithFacebook()">-->
<!--                    <div class="icon-wrapper">-->
<!--                      <img src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/>-->
<!--                    </div>-->
<!--                    <span>Facebook</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>

            <div class="col-12">
              <p class="navigation-text text-center">Don't have an account? <a routerLink="/register">Sign Up</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
