.pricing-wrapper {
  padding: 30px 0;
  height: 100%;
  .pricing-card {
    background-color: var(--color-surface-mixed-100);
    padding: 16px;
    border-radius: 20px;
    border: 1px solid var(--color-surface-mixed-300);
    min-height: 100px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
    transition: all .3s ease-in-out;

    .title{
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      color: var(--color-text-100);
    }

    .gold-title{
      color: var(--color-highlight-100);
    }

    .desc{
      font-size: 16px;
      text-align: center;
      width: 100%;
      color: var(--color-text-300);
      margin: 8px 0;
      padding: 0 20%;
    }

    .sup{
      font-size: 20px;
      color: var(--color-text-300);
    }

    .price{
      font-size: 48px;
      font-weight: 400;
      color: var(--color-text-100);
    }

    .currency{
      font-size: 24px;
      color: var(--color-text-100);
    }

    .duration{
      font-size: 16px;
      color: var(--color-text-300);
    }

    .btn-1, .btn-2{
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-100);
      background-color: transparent;
      border-radius: 8px;
      border: 2px solid var(--color-highlight-100);
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: var(--color-surface-mixed-200);
      }
    }

    .btn-2{
      background-color: var(--color-primary-100);
      color: #fff;
      border: none;

      &:hover{
        background-color: var(--color-primary-200);
      }
    }

    .separate-accordion{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 12px;

      span{
        color: var(--color-text-300);
        font-size: 16px;
        font-weight: 500;
      }

      i{
        color: var(--color-text-300);
        font-size: 16px;
        margin-left: 0;
        margin-right: 0.5em;
        cursor: default;
      }
    }
  }

  .pricing-card.gold-shade{
    --new-color: color-mix(in srgb,var(--color-highlight-100),#0000 60%);
    background-image: linear-gradient(220deg, var(--new-color), var(--color-surface-mixed-100) 40%);
  }
  .pricing-card.blue-shade{
    --new-color: color-mix(in srgb,var(--color-secondary-200),#0000 60%);
    background-image: linear-gradient(145deg, var(--new-color), var(--color-surface-mixed-100) 30%);
  }
}

.pricing-wrapper.recommended{
  padding: 0 0 25px 0;

  .ribbon{
    height: 100%;
    padding: 5px;
    background-color: var(--color-primary-200);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
  }
  .pricing-card{
    height: calc(100% - 27px);
    box-shadow: unset;
  }
}

.fq-wrapper{
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-radius: 20px;
  background-color: #0d1117;
  margin: max(20px, 3vw) 0;
  padding: max(60px, 10vw);

  .fq-title{
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    background-image: linear-gradient(to right, #64acff, #8adce1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;

    @media screen and (max-width: 600px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .fq-sub-title{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }

  .separator{
    width: 100%;
    height: 1px;
    background-color: #8d949c;
    margin: 8px 0;
  }
}
