<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Navigations</h1>
    <p>Where wish to be? You'll be there!</p>
  </div>
</div>

<div class="navigation-content">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li><span routerLink="/home">Home</span></li>
              <ul>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Popular Categories</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Popular Jobs</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Top Employers</span></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li class="not-link"><span>Explore Jobs</span></li>
              <ul>
                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/job">Jobs</span></li>

                <ul>
                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Search by Job</span></li>

                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Search by Location</span></li>

                  <ul>
                    <li class="not-link"><span>Categories</span></li>

                    <ul>
                      <li class="not-link">
                        <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                          <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                                vector-effect="non-scaling-stroke"></line>
                          <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                                vector-effect="non-scaling-stroke"></line>
                        </svg>
                        <span>Filter By</span></li>

                      <li class="not-link">
                        <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                          <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                                vector-effect="non-scaling-stroke"></line>
                          <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                                vector-effect="non-scaling-stroke"></line>
                        </svg>
                        <span>Sort By</span></li>

                      <li class="not-link">
                        <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                          <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                                vector-effect="non-scaling-stroke"></line>
                          <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                                vector-effect="non-scaling-stroke"></line>
                        </svg>
                        <span>Filter By Category</span></li>
                    </ul>
                  </ul>
                </ul>

                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/companies">Companies</span></li>

                <ul>
                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Search by Company</span></li>

                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Search by Location</span></li>
                </ul>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li><span routerLink="/about">About</span></li>
              <ul>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Who We Are</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Our Roots</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Our Mission</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>How It Works</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Q & A</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Get In Touch</span></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li><span routerLink="/pricing">Pricing</span></li>
              <ul>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Continue with Free</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Continue with Pro</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Continue with Premium</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Pricing FAQ</span></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li><span routerLink="/for-companies">For Companies</span></li>
              <ul>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Why Partner With Us</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Partners Who Trust Us</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Get The Complete Hiring Solution</span></li>

                <ul>
                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Continue with Free</span></li>

                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Continue with Pro</span></li>

                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Continue with Premium</span></li>
                </ul>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>HR Tools for Your Business</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Call to an Action</span></li>

              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li class="not-link active-link"><span>Nav Bar</span></li>
              <ul>
                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/home">Home</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Explore Jobs</span></li>

                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/about">About</span></li>

                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span class="/pricing">Pricing</span></li>

                <li>
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span routerLink="/for-companies">Companies</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Quick Search</span></li>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Profile</span></li>

                <ul>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/candidate-profile">Profile</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/my-jobs">My Jobs</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/candidate-profile-setting">Settings</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/lock">Lock Screen</span></li>

                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Logout</span></li>
                </ul>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="section">
        <div class="d-md-flex align-items-center justify-content-between">
          <div style="min-width: 50%">
            <ul>
              <li class="not-link active-link"><span>Footer</span></li>
              <ul>
                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Navigation</span></li>

                <ul>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/about">About Us</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/job">Jobs</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/companies">Companies</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/employees">Employees</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/terms-and-conditions">Terms & Conditions</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/faq">FAQ</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/contact">Contact Us</span></li>
                </ul>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Follow Us</span></li>

                <ul>
                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/">Facebook</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/">Twitter</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/">Linkedin</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/">Youtube</span></li>

                  <li>
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/">Instagram</span></li>
                </ul>

                <li class="not-link">
                  <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                    <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                    <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                          vector-effect="non-scaling-stroke"></line>
                  </svg>
                  <span>Still Need Help?</span></li>

                <ul>
                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Contact Us</span></li>

                  <li class="not-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span>Report an issue</span></li>

                  <li class="here">&nbsp;&nbsp;&nbsp;You are here
                    <svg class="_1ovgwpu0" viewBox="0 0 24 24" width="18px" height="18px"><title>Arrow pointing
                      down</title>
                      <path
                        d="M12,23.36L2.94,15h5.56V1h7V15h5.56l-9.06,8.36Zm-3.94-6.36l3.94,3.64,3.94-3.64h-2.44V3h-3v14h-2.44Z"
                        vector-effect="non-scaling-stroke"></path>
                    </svg>
                  </li>

                  <li class="active-link">
                    <svg preserveAspectRatio="none" viewBox="0 0 24 26" style="width: 24px; height: 100%; flex-shrink: 0;">
                      <line x1="0" y1="13" x2="24" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                      <line x1="1" y1="0" x2="1" y2="13" stroke="currentColor" stroke-width="2"
                            vector-effect="non-scaling-stroke"></line>
                    </svg>
                    <span routerLink="/sitemap">Sitemap</span></li>
                </ul>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
