<div class="container my-3">
  <div class="container">
    <div class="top-content">
      <div class="cover-image">
        <img src="https://jobstack-shreethemes.vercel.app/static/media/bg5.634b5f6c21dce4640652.jpg" alt="cover">
      </div>

      <div class="profile-img">
        <img src="https://jobstack-shreethemes.vercel.app/static/media/01.6ac85de7298319b1f8d5.jpg" alt="profile">
      </div>

      <div class="profile-info">
        <p class="emp-name">John Doe</p>
        <p class="position">Web Developer</p>
      </div>

      <div class="profile-btn">
        <button><i class="material-icons">settings</i></button>
      </div>
    </div>

    <div class="row my-3 second-content">
      <div class="col-12 col-md-6 col-lg-8 left-side"></div>
      <div class="col-12 col-md-6 col-lg-4 right-side">
        <div class="details-card-1">
          <h5>Personal Detail:</h5>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">mail_outline</i><span>Email:</span></div>
            <div class="value">thomas@mail.com</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">child_friendly</i><span>DOB:</span></div>
            <div class="value">31st Dec, 1996</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">home</i><span>Address:</span></div>
            <div class="value">15 Razy street</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">location_on</i><span>City:</span></div>
            <div class="value">New York</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">south_america</i><span>Country:</span></div>
            <div class="value">USA</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">dns</i><span>Postal Code:</span></div>
            <div class="value">12345</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">local_phone</i><span>Mobile:</span></div>
            <div class="value">+1 123 456 789</div>
          </div>

          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption">Social:</div>
            <div class="item-set">
              <div class="social-item">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
              <div class="social-item">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </div>
              <div class="social-item">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="social-item">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
              <div class="social-item">
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
              <div class="social-item">
                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <div class="sub-card">
            <div class="d-flex align-items-center justify-content-start w-full">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <p>calvin-carlo-resume.pdf</p>
            </div>
            <button class="btn-1">
              <i class="fa fa-download" aria-hidden="true"></i>
              Download CV
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
