<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Frequently Asked Questions</h1>
    <p>Talent Boozt > <span>FAQs</span></p>
  </div>
</div>

<div class="container">
  <div class="row my-3 faq-component-wrapper">
    <div class="col-12 col-md-4 col-lg-3 left-side">
      <div class="card-1">
        <p><span (click)="navigateSection('buying')" #buying class="active">Buying Questions</span></p>
        <p><span (click)="navigateSection('general')" #general>General Questions</span></p>
        <p><span (click)="navigateSection('payments')" #payments>Payments Questions</span></p>
        <p><span (click)="navigateSection('support')" #support>Support Questions</span></p>
        <p><span (click)="navigateSection('account')" #account>Account Questions</span></p>
        <p><span (click)="navigateSection('company')" #company>Company Questions</span></p>
        <p><span (click)="navigateSection('legal')" #legal>Legal Questions</span></p>
        <p><span (click)="navigateSection('other')" #other>Other Questions</span></p>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9 right-side">
      <div id="buying" #buyingSec>
        <h5>Buying Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Buying'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="general" #generalSec>
        <h5>General Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'General'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="payments" #paymentsSec>
        <h5>Payments Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Payments'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="support" #supportSec>
        <h5>Support Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Support'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="account" #accountSec>
        <h5>Account Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Account'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="company" #companySec>
        <h5>Company Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Company'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="legal" #legalSec>
        <h5>Legal Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Legal'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="other" #otherSec>
        <h5>Other Questions</h5>

        <div class="accordion faq" *ngFor="let bq of utilities.faqs" [id]="bq.id">
          <div *ngIf="bq.category == 'Other'">
            <div class="accordion-item" *ngFor="let q of bq.questions">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + q.id" aria-expanded="false" [attr.aria-controls]="q.id">
                  {{q.question}}
                </button>
              </h2>
              <div [id]="q.id" class="accordion-collapse collapse" [attr.data-bs-parent]="'#' + bq.id">
                <div class="accordion-body">
                  {{q.answer}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-job-ad-card1></app-job-ad-card1>
</div>
