<!--<div class="deprecated-wrapper">-->
<!--  <div class="deprecated">-->
<!--    <p>⚠️ This website is deprecated and no longer maintained. We are working on a new version.</p>-->
<!--    <p>Refer 👉 <a href="https://talentboozt.com">talentboozt.com</a> for unstoppable user experience!</p>-->
<!--  </div>-->
<!--</div>-->
<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Frequently Asked Questions</h1>
    <p>Talent Boozt > <span>FAQs</span></p>
  </div>
</div>

<div class="container">
  <div class="row my-3 faq-component-wrapper">
    <div class="col-12 col-md-4 col-lg-3 left-side">
      <div class="card-1">
        <p><span (click)="navigateSection('buying')" class="active">Buying Questions</span></p>
        <p><span (click)="navigateSection('general')">General Questions</span></p>
        <p><span (click)="navigateSection('payments')">Payments Questions</span></p>
        <p><span (click)="navigateSection('support')">Support Questions</span></p>
        <p><span (click)="navigateSection('account')">Account Questions</span></p>
        <p><span (click)="navigateSection('company')">Company Questions</span></p>
        <p><span (click)="navigateSection('legal')">Legal Questions</span></p>
        <p><span (click)="navigateSection('other')">Other Questions</span></p>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9 right-side">
      <div id="buying" #buyingSec>
        <h5>Buying Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="cb1">
            <div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cbq1" aria-expanded="false" aria-controls="cbq1">
                    How can I apply for a job listed on the site?
                  </button>
                </h2>
                <div id="cbq1" class="accordion-collapse collapse" data-bs-parent="cb1">
                  <div class="accordion-body">
                    <p>Applying for a job on our platform is easy! Follow these steps:</p>
                    <ul>
                      <li><strong>Create an Account: </strong>Sign up for a free account if you don’t already have one.
                      </li>
                      <li><strong>Search for Jobs: </strong>Use the search bar or filters to find jobs that match your
                        skills and preferences.
                      </li>
                      <li><strong>Review the Job Details: </strong>Click on a job posting to view the full details,
                        including requirements and application instructions.
                      </li>
                      <li><strong>Apply: </strong>If the job accepts applications directly on our platform, click the
                        "Apply Now" button and upload your resume or fill out the application form.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cbq2" aria-expanded="false" aria-controls="cbq2">
                    Are all job postings free to apply for?
                  </button>
                </h2>
                <div id="cbq2" class="accordion-collapse collapse" data-bs-parent="cb1">
                  <div class="accordion-body">
                    <p>Yes! You can apply for all the jobs in our job listings without a fee. Talent Boozt does not
                      charge candidates for any of our services.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cbq3" aria-expanded="false" aria-controls="cbq3">
                    How can I search for jobs on the site?
                  </button>
                </h2>
                <div id="cbq3" class="accordion-collapse collapse" data-bs-parent="cb1">
                  <div class="accordion-body">
                    <p>Searching for jobs is easy and quick. You can type in key words of the job you want to search in
                      the search bar and all the job listing related to the key word will appear. You can also enter the
                      location you wish to work in to filter out relevant jobs. We have also categorized jobs from
                      popular categories, popular jobs and popular employers to make it easy for candidates to find
                      them. </p>
                    <p>No. All job listings are free for candidates.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="eb1">
            <div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#ebq1" aria-expanded="false" aria-controls="ebq1">
                    How do I post a job vacancy on the platform?
                  </button>
                </h2>
                <div id="ebq1" class="accordion-collapse collapse" data-bs-parent="eb1">
                  <div class="accordion-body">
                    <p>Posting a job vacancy is easy and quick. Follow the below steps.</p>
                    <ul>
                      <li>Create an account by signing up</li>
                      <li>Enter the basic details of your company - There will be prompts and tips for you to make this
                        easy.
                      </li>
                      <li>Post the Job Vacancies - once you enter the basic details, you will be able to post job
                        vacancies without a hassle anytime anywhere. Our simple job post form will guide you through
                        this step.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#ebq2" aria-expanded="false" aria-controls="ebq2">
                    Are there packages available for posting multiple job ads?
                  </button>
                </h2>
                <div id="ebq2" class="accordion-collapse collapse" data-bs-parent="eb1">
                  <div class="accordion-body">
                    Yes. There are 3 packages for companies and you may choose based on your requirement. Visit the
                    <span class="link" routerLink="/pricing">pricing page</span> for more details of the packages.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#ebq3" aria-expanded="false" aria-controls="ebq3">
                    Can I feature or boost my job postings for higher visibility?
                  </button>
                </h2>
                <div id="ebq3" class="accordion-collapse collapse" data-bs-parent="eb1">
                  <div class="accordion-body">
                    Yes. The ads of pro members and premium members will be given higher visibility automatically. The
                    system also categories jobs based on most popular jobs and most popular employers.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="general" #generalSec>
        <h5>General Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="cg1">
            <div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cgq1" aria-expanded="false" aria-controls="cgq1">
                    How do I know if a job posting is legitimate?
                  </button>
                </h2>
                <div id="cgq1" class="accordion-collapse collapse" data-bs-parent="cg1">
                  <div class="accordion-body">
                    Failed to fetch. Contact support <a
                    href="mailto:support@talentboozt.com">support&#64;talentboozt.com</a>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cgq2" aria-expanded="false" aria-controls="cgq2">
                    Can I upload multiple resumes for different job applications?
                  </button>
                </h2>
                <div id="cgq2" class="accordion-collapse collapse" data-bs-parent="cg1">
                  <div class="accordion-body">
                    Failed to fetch. Contact support <a
                    href="mailto:support@talentboozt.com">support&#64;talentboozt.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="eg1">
            <div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#egq1" aria-expanded="false" aria-controls="egq1">
                    How do I search for candidates in your database?
                  </button>
                </h2>
                <div id="egq1" class="accordion-collapse collapse" data-bs-parent="eg1">
                  <div class="accordion-body">
                    <p>You can view the candidates that apply for each job by clicking on “View Applicants” in the
                      relevant vacancy.</p>
                    <p>Note: This option is temporarily disabled</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#egq2" aria-expanded="false" aria-controls="egq2">
                    What industries and job types are most commonly listed on the platform?
                  </button>
                </h2>
                <div id="egq2" class="accordion-collapse collapse" data-bs-parent="eg1">
                  <div class="accordion-body">
                    <p>Currently our site accommodates jobs from different industries and different expertise
                      backgrounds. You can view these backgrounds Job form when posting a job vacancy.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="payments" #paymentsSec>
        <h5>Payments Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="cp1">
            <div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cpq1" aria-expanded="false" aria-controls="cpq1">
                    Are there any fees for using the platform as a job seeker?
                  </button>
                </h2>
                <div id="cpq1" class="accordion-collapse collapse" data-bs-parent="cp1">
                  <div class="accordion-body">
                    <p>No. Talent Boozt is totally free for all job seekers.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#cpq2" aria-expanded="false" aria-controls="cpq2">
                    What payment methods are accepted for premium job alerts or subscriptions?
                  </button>
                </h2>
                <div id="cpq2" class="accordion-collapse collapse" data-bs-parent="cp1">
                  <div class="accordion-body">
                    <p>Talent Boozt does not charge for job alerts and subscriptions. You can subscribe to job alerts
                      and our newsletter for free.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="ep1">
            <div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#epq1" aria-expanded="false" aria-controls="epq1">
                    What are the payment options for job postings?
                  </button>
                </h2>
                <div id="epq1" class="accordion-collapse collapse" data-bs-parent="ep1">
                  <div class="accordion-body">
                    <p>Currently you can make payments through our online payment gateway which is easy and secure. We
                      are working on other payment methods which will be on offer soon.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#epq2" aria-expanded="false" aria-controls="epq2">
                    How can I get an invoice for my job listing purchase?
                  </button>
                </h2>
                <div id="epq2" class="accordion-collapse collapse" data-bs-parent="ep1">
                  <div class="accordion-body">
                    Failed to fetch. Contact support <a
                    href="mailto:support@talentboozt.com">support&#64;talentboozt.com</a>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#epq3" aria-expanded="false" aria-controls="epq3">
                    Can I get a refund if I close the vacancy early?
                  </button>
                </h2>
                <div id="epq3" class="accordion-collapse collapse" data-bs-parent="ep1">
                  <div class="accordion-body">
                    <p>Our services are based on a subscription model and once the subscription payment is made, you can
                      use our services for a month onwards. There are three packages that you can subscribe to and each
                      package has a different amount of ads you can post. Hence, you will not get a refund if you close
                      a vacancy early. However, if you unsubscribe from our service, you will not be charged after the
                      current month of subscription.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="support" #supportSec>
        <h5>Support Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="cs1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#csq1" aria-expanded="false" aria-controls="csq1">
                  I’m having trouble submitting my application. Can you help?
                </button>
              </h2>
              <div id="csq1" class="accordion-collapse collapse" data-bs-parent="cs1">
                <div class="accordion-body">
                  <p>Generally, if you are unable to submit the application, there may be several reasons.</p>
                  <ol>
                    <li>Check if you have filled all the required information and fields.</li>
                    <li>Check if your internet connection is working. If your connection dropped while you were filling
                      the application, the submission will not go through.
                    </li>
                    <li>If none of this work, you can report the issue through “Report an issue” link.</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#csq2" aria-expanded="false" aria-controls="csq2">
                  The job listing has expired. Can I still apply?
                </button>
              </h2>
              <div id="csq2" class="accordion-collapse collapse" data-bs-parent="cs1">
                <div class="accordion-body">
                  <p>If the employer has closed the job or the job vacancy has expired, you are not able to apply for a
                    particular job.</p>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="es1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#esq1" aria-expanded="false" aria-controls="esq1">
                  How do I contact support if I face issues with my job posting?
                </button>
              </h2>
              <div id="esq1" class="accordion-collapse collapse" data-bs-parent="es1">
                <div class="accordion-body">
                  <p>You can contact us by telephone through the contact numbers given in the website. You can also send
                    us an email or report the issue through the “Report an Issue” link. Also you have online agent and
                    chat with whatsapp options too. Our agents will connect you ASAP.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="account" #accountSec>
        <h5>Account Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="aq1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#aqq1" aria-expanded="false" aria-controls="aqq1">
                  How do I create an account on the platform?
                </button>
              </h2>
              <div id="aqq1" class="accordion-collapse collapse" data-bs-parent="aq1">
                <div class="accordion-body">
                  <p>Signing up to the platform is easy and quick. Click the “sign up” button in the log in page and
                    fill in the required details. Accept the terms and conditions and click on “Sign Up”.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#aqq2" aria-expanded="false" aria-controls="aqq2">
                  Can I recover my account if I forget my password?
                </button>
              </h2>
              <div id="aqq2" class="accordion-collapse collapse" data-bs-parent="aq1">
                <div class="accordion-body">
                  <p>To change to password click on the “forgot password “ link and provide the email that you used to
                    sign up. You will receive a link to update your password</p>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="eq1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#eqq1" aria-expanded="false" aria-controls="eqq1">
                  Can multiple users manage a single company account?
                </button>
              </h2>
              <div id="eqq1" class="accordion-collapse collapse" data-bs-parent="eq1">
                <div class="accordion-body">
                  <p>The Basic package and the Pro package do not allow multiple users. However, the premium package
                    allows to create teams and invite team members to create an account and join your team.</p>
                  <p>We will be adding more features in the future.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#eqq2" aria-expanded="false" aria-controls="eqq2">
                  How do I update my company profile or logo on the site?
                </button>
              </h2>
              <div id="eqq2" class="accordion-collapse collapse" data-bs-parent="eq1">
                <div class="accordion-body">
                  <p>You can visit the Company settings page by clicking the “Company Settings” link in the Profile
                    menu. You can change your company details, add cover photos through this page.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="company" #companySec>
        <h5>Company Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="ac1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#acq1" aria-expanded="false" aria-controls="acq1">
                  How can I learn more about the companies posting jobs?
                </button>
              </h2>
              <div id="acq1" class="accordion-collapse collapse" data-bs-parent="ac1">
                <div class="accordion-body">
                  <p>You can learn more about the company by visiting the company profile page in Talent Boozt. Also,
                    the company may include their official website on their profile.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#acq2" aria-expanded="false" aria-controls="acq2">
                  Are company reviews available on the platform?
                </button>
              </h2>
              <div id="acq2" class="accordion-collapse collapse" data-bs-parent="ac1">
                <div class="accordion-body">
                  <p>No, currently, talent boozt does not provide this feature. However, this feature will be
                    implemented in the future.</p>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="ae1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#aeq1" aria-expanded="false" aria-controls="aeq1">
                  Can I showcase my company culture or add a company video?
                </button>
              </h2>
              <div id="aeq1" class="accordion-collapse collapse" data-bs-parent="ae1">
                <div class="accordion-body">
                  Failed to fetch. Contact support <a
                  href="mailto:support@talentboozt.com">support&#64;talentboozt.com</a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#aeq2" aria-expanded="false" aria-controls="aeq2">
                  How can I verify my company's account to gain trust among candidates?
                </button>
              </h2>
              <div id="aeq2" class="accordion-collapse collapse" data-bs-parent="ae1">
                <div class="accordion-body">
                  <p>If you subscribe to the pro package, you company profile will have a verified batch.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="legal" #legalSec>
        <h5>Legal Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="lq1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#lq2" aria-expanded="false" aria-controls="lq2">
                  Coming Soon.
                </button>
              </h2>
              <div id="lq2" class="accordion-collapse collapse" data-bs-parent="lq1">
                <div class="accordion-body">
                  <p>This data will be available in soon.</p>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="le1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#le2" aria-expanded="false" aria-controls="le2">
                  Coming Soon.
                </button>
              </h2>
              <div id="le2" class="accordion-collapse collapse" data-bs-parent="le1">
                <div class="accordion-body">
                  <p>This data will be available in soon.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="other" #otherSec>
        <h5>Other Questions</h5>

        <div class="card-1">
          <h5 class="sub-topic">Candidates:</h5>
          <div class="accordion faq" id="oq1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#oq2" aria-expanded="false" aria-controls="oq2">
                  Are there tips or resources for preparing for interviews?
                </button>
              </h2>
              <div id="oq2" class="accordion-collapse collapse" data-bs-parent="oq1">
                <div class="accordion-body">
                  <p>Yes, our resource center has abundant tips and resources to prepare yourself for interviews and to
                    improve your skills. Our Social media platforms also have content that will be useful for you to
                    prepare for interviews, get career guidance and develop your skills. </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#oq3" aria-expanded="false" aria-controls="oq3">
                  Does the platform provide career counseling or resume-building services?
                </button>
              </h2>
              <div id="oq3" class="accordion-collapse collapse" data-bs-parent="oq1">
                <div class="accordion-body">
                  <p>The platform’s main service is provide HR IT Solutions. However, we provide information and content
                    for career guidance and skill development for candidates through our resource center and social
                    media channels. </p>
                </div>
              </div>
            </div>
          </div>

          <h5 class="sub-topic">Employers:</h5>
          <div class="accordion faq" id="oe1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#oe2" aria-expanded="false" aria-controls="oe2">
                  Can I schedule interviews directly through the platform?
                </button>
              </h2>
              <div id="oe2" class="accordion-collapse collapse" data-bs-parent="oe1">
                <div class="accordion-body">
                  <p>The Basic and pro package does not have this feature. However, the premium package which is
                    primarily an ATS, give you the benefit of setting up the recruitment process, scheduling interviews.
                    The platform will also allow you to set up skill tests, exams and video interviews.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#oe3" aria-expanded="false" aria-controls="oe3">
                  How do I share feedback or suggest improvements for the platform?
                </button>
              </h2>
              <div id="oe3" class="accordion-collapse collapse" data-bs-parent="oe1">
                <div class="accordion-body">
                  <p>You can share feedback by clicking on “Report an Issue “ button at the footer section and mention
                    any feedback or issue you want to report. You can also contact us directly through email or phone if
                    there is an urgent issue </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-job-ad-card1></app-job-ad-card1>
</div>
