.card-1{
  width: 100%;
  overflow-x: auto;
  margin: 12px 0;
}

.btn-1{
  i{
    margin: 0;
    font-size: 18px;
  }
}

.applicants-list-row{
  border-bottom: 1px solid var(--color-secondary-600);
}

.see-more-btn{
  cursor: pointer;
  border: 1px solid var(--color-secondary-600);
  border-radius: 5px;
  background-color: var(--color-surface-mixed-200);
  color: var(--color-text-200);
  padding: 2px 8px;

  i{
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  &:hover{
    background-color: var(--color-surface-mixed-300);
  }
}

.danger{
  color: var(--color-danger-200);

  &:hover{
    color: var(--color-danger-100);
  }
}

.heading-tag{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;

  h1{
    font-size: max(20px, 1.2vw);
  }

  .options{
    display: flex;
    align-items: center;
    justify-content: center;

    button{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-mixed-200);
      color: var(--color-text-200);
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;

      i{
        margin: 0;
        padding: 0;
        font-size: 16px;
      }

      &:nth-child(1){
        border: 1px solid var(--color-secondary-600);
        border-right: none;
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(2){
        border: 1px solid var(--color-secondary-600);
      }

      &:nth-child(3){
        border: 1px solid var(--color-secondary-600);
        border-left: none;
        border-radius: 0 5px 5px 0;
      }

      &:hover{
        background-color: var(--color-surface-mixed-300);
      }

      &.active{
        background-color: var(--color-primary-200);
        color: #fff;
      }
    }

    .btn-1{
      margin: 0 5px;
      background-color: var(--color-primary-200);
      color: #fff;
      font-size: 14px;

      &:hover{
        background-color: var(--color-primary-300);
      }
    }
  }
}

.list-view{
  width: 100%;
  max-height: 400px;
  overflow: auto;
}
