<div class="container">
  <div class="row">
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Applicants per Job</div>
        <app-applicants-per-job-bar-chart [jobData]="jobApplicants"></app-applicants-per-job-bar-chart>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="jobApplicants && jobApplicants.length > 0">
      <div class="card-1">
        <div class="title-1">Resume Download Rates</div>
        <app-resume-download-rates-chart [jobData]="jobApplicants"></app-resume-download-rates-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let a of jobApplicants; let i = index">
      <div class="card-1">
        <div class="d-flex align-items-center justify-content-between">
          <div class="title-1">
            Job ID: <a class="d-none d-sm-inline" routerLink="/job-details/{{a.jobId}}">{{a.jobId}} </a>
            <a class="d-inline d-sm-none" routerLink="/job-details/{{a.jobId}}"><i class="material-icons">call_made</i> </a>
            <i class="fa fa-question-circle" data-bs-toggle="tooltip"
               data-bs-placement="top"
               data-bs-custom-class="custom-tooltip"
               data-bs-title="Check the job details"></i>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <button class="see-more-btn me-1" (click)="toggleApplicants(a)">
              <p class="d-none d-sm-block m-0">See {{ a.showAllApplicants ? 'less' : 'all' }}</p>
              <i class="d-block d-sm-none material-icons">{{ a.showAllApplicants ? 'expand' : 'compress' }}</i>
            </button>
            <div class="dropdown">
              <button class="see-more-btn pb-0" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/job-details/{{a.jobId}}">View ad</a></li>
                <li><a class="dropdown-item">Export</a></li>
                <li><a class="dropdown-item">Analyze</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item danger">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>

        <table class="table table-hover table-borderless w-100">
          <thead class="w-100">
          <tr>
            <th scope="col" colspan="3">Applicants ({{a.applicants ? a.applicants.length : 0}})</th>
            <th scope="col" class="hyperlink" data-bs-toggle="modal" data-bs-target="#viewsModel" [attr.data-bs-whatever]="a.jobId">
              Views ({{a.viewers ? a.viewers.length : 0}})
            </th>
          </tr>
          </thead>
          <tbody class="w-100">
          <tr *ngFor="let ad of a.applicants | truncateComments: (a.showAllApplicants ? a.applicants.length : maxApplicantsDisplayed); let i = index" class="applicants-list-row">
            <td>{{i + 1}}</td>
            <td>
              <span class="bold-text hyperlink" (click)="viewCandidateProfile(ad.employeeId)" data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Click to view profile">{{ad.name}}</span>
              from
              <span class="bold-text">{{ad.location}}</span><br>
              <span class="bold-text" data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Click to send email"><a class="hyperlink" href="mailto:{{ad.email}}">{{ad.email}}</a></span>
            </td>
            <td class="d-none d-md-table-cell">
              <a [href]="ad.resume" target="_blank">
                <button class="btn-1" data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Click to download CV">Download CV
                </button>
              </a>
            </td>
            <td class="d-table-cell d-md-none">
              <button class="btn-1"><i class="material-icons">download</i></button>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="viewCandidateProfile(ad.employeeId)">View</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item">Select</a></li>
                  <li><a class="dropdown-item">Reject</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item danger">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr *ngIf="!a.applicants">
            <td colspan="3">No Applicants</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!loading && serverError">
      <app-failed-to-load-data></app-failed-to-load-data>
    </div>
    <div *ngIf="notFound && !jobApplicants">
      <app-result-not-found></app-result-not-found>
    </div>
    <div *ngIf="corsError">
      <app-network-error></app-network-error>
    </div>
    <div *ngIf="forbidden && !jobApplicants || unexpectedError">
      <app-forbidden></app-forbidden>
    </div>
  </div>
</div>

<div class="modal fade" id="viewsModel" tabindex="-1" aria-labelledby="viewsModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="viewsModelLabel">Job Viewers</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-borderless w-100" *ngIf="viewers && viewers.length > 0">
          <tbody class="w-100">
          <tr *ngFor="let viewer of viewers[0].viewers; let i = index" class="applicants-list-row">
            <td>{{i + 1}}</td>
            <td>{{viewer.name}}</td>
            <td>
              <div class="w-100 d-flex align-items-center justify-content-between">
                <p class="m-0">{{viewer.date ? (viewer.date|timeAgo) : 'N/A'}}</p>
                <div *ngIf="viewer.name != 'Guest'">
                  <button class="btn-1" (click)="viewCandidateProfile(viewer.employeeId)"><i class="material-icons">call_made</i></button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <p *ngIf="!viewers || viewers.length === 0">No viewers found for this job.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
