<div class="dashboard">
  <div class="d-flex align-items-center justify-content-between w-100">
    <h2>User Activity Metrics</h2>
    <div class="d-flex align-items-center gap-2">
      <button class="btn-1" (click)="exportToCsv(userActivities, 'user-activities')">Backup & Export</button>
      <button class="btn-2" (click)="clearUserActivities()">Delete All</button>
    </div>
  </div>

  <p>Found Activities({{userActivities?.length ? userActivities.length:0}})</p>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>User ID</th>
        <th>IP Address</th>
        <th>Timestamp</th>
        <th>Last Active</th>
        <th>Endpoint Accessed</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let activity of userActivities">
        <td>{{ activity.userId }}</td>
        <td>{{ activity.ipAddress }}</td>
        <td>{{ activity.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ activity.lastActive | timeAgo }}</td>
        <td>{{ activity.endpointAccessed }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex align-items-center justify-content-between w-100">
    <h2>Unique Users</h2>
    <div class="d-flex align-items-center gap-2">
      <button class="btn-1" (click)="exportToCsv(userIPs, 'user-ips')">Backup & Export</button>
      <button class="btn-2" (click)="clearUserActivities()">Delete All</button>
    </div>
  </div>

  <p>Found Users({{userIPs?.length ? userIPs.length:0}})</p>
  <div style="max-height: 200px; overflow-y: auto;">
    <ol>
      <li *ngFor="let u of userIPs">{{u}}</li>
    </ol>
  </div>
</div>
