<div class="hire-card">
<div class="row">
  <div class="col-12 col-md-3">
    <div class="d-none d-md-block h-100">
      <div class="img-wrapper">
        <img src="./assets/imgs/cards/hire-card1.webp" alt="banner">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-9">
    <div class="text-wrapper ps-3 ps-md-0">
      <div class="content-wrapper">
        <h1>Ready to Hire the Best?</h1>
        <p>Connect with qualified candidates fast. Start posting your job openings now for <span>FREE</span>!</p>
        <button class="get-started" (click)="moveToRegister()">Get Started Today</button>
      </div>
    </div>
  </div>
</div>
</div>
