.card-1{
  width: 100%;
  overflow-x: auto;
  margin: 12px 0;
}

.btn-1{
  i{
    margin: 0;
    font-size: 18px;
  }
}

.applicants-list-row{
  border-bottom: 1px solid var(--color-secondary-600);
}

.see-more-btn{
  cursor: pointer;
  border: 1px solid var(--color-secondary-600);
  border-radius: 5px;
  background-color: var(--color-surface-mixed-200);
  color: var(--color-text-200);
  padding: 2px 8px;

  i{
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  &:hover{
    background-color: var(--color-surface-mixed-300);
  }
}
