<div class="container">
  <div class="popular-jobs">
    <div class="row">
      <div class="col-12 heading-tag">
        <h1>Ongoing Recruitments</h1>
        <div class="options">
          <button [ngClass]="gridView ? 'active' : ''" (click)="changeView()"><i class="material-icons">grid_view</i></button>
          <button [ngClass]="!gridView ? 'active' : ''" (click)="changeView()"><i class="material-icons">view_list</i></button>
          <div class="dropdown">
            <button data-bs-toggle="dropdown" aria-expanded="false" style="border-left: none; border-radius: 0 5px 5px 0;"><i class="material-icons">sort</i></button>
            <ul class="dropdown-menu">
              <li class="dropdown-item" (click)="sortJobs('desc')">Newest</li>
              <li class="dropdown-item" (click)="sortJobs('asc')">Oldest</li>
              <li class="dropdown-item" (click)="sortJobs('alpha')">Alphabetical</li>
            </ul>
          </div>
          <button class="btn-1" (click)="exportToCsv('posted jobs', postedJobs?.postedJobs)">Export</button>
        </div>
      </div>
      <div [ngClass]="gridView ? 'col-12 col-md-4 mb-3' : 'col-12'" *ngFor="let p of ongoingPostedJobs; let i = index">
        <div class="card-1" *ngIf="gridView">
          <div class="card-top">
            <div class="card-top-left d-flex align-items-center">
              <div class="logo-icon-wrapper">
                <div class="logo-icon">
                  <img
                    [src]="postedJobs?.companyLogo ? postedJobs?.companyLogo : './assets/imgs/shared/default_org_logo.svg'"
                    alt="logo">
                </div>
              </div>
              <div class="d-flex flex-column align-items-start justify-content-between">
                <div class="company-name">{{postedJobs?.companyName ? postedJobs?.companyName : 'N/A'}}</div>
                <div class="opens-ago">{{p.datePosted | timeAgo}}</div>
              </div>
            </div>
            <div class="card-top-right">
              <div class="dropdown">
                <div class="visit-link-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons">more_horiz</i>
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="analyzeJob(p.id, p.title)">Analyze Applicants</a></li>
                  <li *ngIf="!isExpired(p.expiryDate)"><a class="dropdown-item" routerLink="/job-details/{{p.id}}">View</a></li>
                  <li *ngIf="!isExpired(p.expiryDate)"><a class="dropdown-item" (click)="edit(p.id)">Edit and Update</a></li>
                  <li><a class="dropdown-item" (click)="isExpired(p.expiryDate) ? reopen(p.id) : close(p.id, p)">{{isExpired(p.expiryDate) ? 'Reopen' : 'Close'}} the Job</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item danger" (click)="deleteJobPost(p.id)">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-content" (click)="analyzeJob(p.id, p.title)">
            <div class="card-content-left">
              <div class="d-flex flex-column align-items-start">
                <div class="job-title">{{p.title ? p.title : 'N/A'}}</div>
                <div class="open-positions">Total Openings: {{p.totalOpenings ? p.totalOpenings : 'N/A'}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-bottom">
            <div class="card-bottom-left" *ngIf="postedJobs.companyLevel >= 3">
              <i class="material-icons">verified</i>
              <span>Verified</span>
            </div>
            <div class="card-bottom-right">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>{{p.location ? p.location : 'N/A'}}</span>
            </div>
          </div>

          <div class="expired" *ngIf="isExpired(p.expiryDate)">
            <p>Expired! This Ad is no longer available!</p>
          </div>
        </div>
      </div>

      <div class="list-view" *ngIf="!gridView && ongoingPostedJobs.length > 0">
        <div class="table table-hover table-borderless w-100">
          <thead class="w-100">
          <tr>
            <th>Index</th>
            <th>Designation</th>
            <th>Open positions</th>
            <th>Applicants</th>
            <th>Date Posted</th>
          </tr>
          </thead>
          <tbody class="w-100">
          <tr *ngFor="let p of ongoingPostedJobs; let i = index" (click)="analyzeJob(p.id, p.title)">
            <td>{{i + 1}}</td>
            <td>{{p.title ? p.title : 'N/A'}}</td>
            <td>{{p.totalOpenings ? p.totalOpenings : 'N/A'}}</td>
            <td>{{getApplicants(p.id)}}</td>
            <td>{{p.datePosted | dateFormat}}</td>
          </tr>
          </tbody>
        </div>
      </div>

      <div class="not-found-posts" *ngIf="ongoingPostedJobs?.length == 0 || !ongoingPostedJobs">
        <p>No results found</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 heading-tag">
        <h1>Completed Recruitments</h1>
      </div>
      <div [ngClass]="gridView ? 'col-12 col-md-4 mb-3' : 'col-12'" *ngFor="let p of closedPostedJobs; let i = index">
        <div class="card-1" *ngIf="gridView">
          <div class="card-top">
            <div class="card-top-left d-flex align-items-center">
              <div class="logo-icon-wrapper">
                <div class="logo-icon">
                  <img
                    [src]="postedJobs?.companyLogo ? postedJobs?.companyLogo : './assets/imgs/shared/default_org_logo.svg'"
                    alt="logo">
                </div>
              </div>
              <div class="d-flex flex-column align-items-start justify-content-between">
                <div class="company-name">{{postedJobs?.companyName ? postedJobs?.companyName : 'N/A'}}</div>
                <div class="opens-ago">{{p.datePosted | timeAgo}}</div>
              </div>
            </div>
            <div class="card-top-right">
              <div class="dropdown">
                <div class="visit-link-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons">more_horiz</i>
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="analyzeJob(p.id, p.title)">Analyze Applicants</a></li>
                  <li *ngIf="!isExpired(p.expiryDate)"><a class="dropdown-item" routerLink="/job-details/{{p.id}}">View</a></li>
                  <li *ngIf="!isExpired(p.expiryDate)"><a class="dropdown-item" (click)="edit(p.id)">Edit and Update</a></li>
                  <li><a class="dropdown-item" (click)="isExpired(p.expiryDate) ? reopen(p.id) : close(p.id, p)">{{isExpired(p.expiryDate) ? 'Reopen' : 'Close'}} the Job</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item danger" (click)="deleteJobPost(p.id)">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-content" (click)="analyzeJob(p.id, p.title)">
            <div class="card-content-left">
              <div class="d-flex flex-column align-items-start">
                <div class="job-title">{{p.title ? p.title : 'N/A'}}</div>
                <div class="open-positions">Total Openings: {{p.totalOpenings ? p.totalOpenings : 'N/A'}}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-bottom">
            <div class="card-bottom-left" *ngIf="postedJobs.companyLevel >= 3">
              <i class="material-icons">verified</i>
              <span>Verified</span>
            </div>
            <div class="card-bottom-right">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>{{p.location ? p.location : 'N/A'}}</span>
            </div>
          </div>

          <div class="expired" *ngIf="isExpired(p.expiryDate)">
            <p>Expired! This Ad is no longer available!</p>
          </div>
        </div>
      </div>

      <div class="list-view" *ngIf="!gridView && closedPostedJobs.length > 0">
        <div class="table table-hover table-borderless w-100">
          <thead class="w-100">
          <tr>
            <th>Index</th>
            <th>Designation</th>
            <th>Open positions</th>
            <th>Applicants</th>
            <th>Date Posted</th>
          </tr>
          </thead>
          <tbody class="w-100">
          <tr *ngFor="let p of closedPostedJobs; let i = index" (click)="analyzeJob(p.id, p.title)">
            <td>{{i + 1}}</td>
            <td>{{p.title ? p.title : 'N/A'}}</td>
            <td>{{p.totalOpenings ? p.totalOpenings : 'N/A'}}</td>
            <td>{{getApplicants(p.id)}}</td>
            <td>{{p.datePosted | dateFormat}}</td>
          </tr>
          </tbody>
        </div>
      </div>

      <div class="not-found-posts" *ngIf="closedPostedJobs?.length == 0 || !closedPostedJobs">
        <p>No results found</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && serverError">
  <app-failed-to-load-data></app-failed-to-load-data>
</div>
<div *ngIf="notFound && !company?.company">
  <app-result-not-found></app-result-not-found>
</div>
<div *ngIf="!postedJobs?.postedJobs">
  <app-result-not-found></app-result-not-found>
</div>
<div *ngIf="corsError">
  <app-network-error></app-network-error>
</div>
<div *ngIf="forbidden && !company?.company || unexpectedError">
  <app-forbidden></app-forbidden>
</div>
