<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Cart</h1>
    <p>Talent Boozt > <span>Cart</span></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card-1">
        <div class="card-title">My Cart</div>
        <div class="hr"></div>
        <div class="card-body">
          <div class="cart-items-wrapper">
            <div class="cart-item">
              <div class="image">
                <img src="./assets/imgs/payments/crown.webp" alt="product">
              </div>
              <div class="product">
                <div class="product-title">Pro Package</div>
                <div class="product-desc">Lorem ipsum dolor sit.</div>
              </div>
              <div class="price"><span>$9.90</span></div>
              <div class="action">
                <i class="material-icons">delete</i>
              </div>
            </div>
          </div>
        </div>
        <div class="hr"></div>
        <div class="card-bottom">
          <p>Total</p>
          <p>$9.90</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card-1 payment">
        <div class="card-title sm">Payment Information</div>

        <div class="hr"></div>

        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="card" id="card" [checked]="card" (click)="selectOption('card')">
            <label class="form-check-label" for="card">
              Credit/Debit Card
            </label>
            <div class="d-flex align-items-center justify-content-start gap-2 payment-option">
              <div class="image sm">
                <img src="./assets/imgs/payments/visa.webp" alt="visa">
              </div>
              <div class="image sm">
                <img src="./assets/imgs/payments/master.webp" alt="master">
              </div>
            </div>
          </div>
        </div>

        <div class="hr"></div>

        <div class="card-body">
          <div class="form-check">
            <div class="d-flex align-items-center justify-content-center gap-2">
              <input class="form-check-input" type="radio" name="bank" id="bank" [checked]="bank" (click)="selectOption('bank')">
              <div class="image sm">
                <img src="./assets/imgs/payments/bank.webp" alt="bank">
              </div>
              <label class="form-check-label" for="bank">
                Bank Deposit
              </label>
            </div>
          </div>
        </div>

        <div class="hr"></div>

        <div class="card-body">
          <div class="form-check">
            <div class="d-flex align-items-center justify-content-center gap-2">
              <input class="form-check-input" type="radio" name="paypal" id="paypal" [checked]="paypal" (click)="selectOption('paypal')">
              <div class="image sm">
                <img src="./assets/imgs/payments/paypal.webp" alt="paypal">
              </div>
              <label class="form-check-label" for="paypal">
                Paypal
              </label>
            </div>
          </div>
        </div>

        <div class="error-msg">{{errorMsg}}</div>

      </div>
      <div class="d-flex align-items-center w-100 px-5 mb-4">
        <div class="btn-1 w-100" (click)="checkout()">Checkout</div>
      </div>
    </div>
  </div>
</div>
