<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Terms and Conditions</h1>
    <p>Job Stack > <span>Terms and Conditions</span></p>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="card-1">
      <h5>Introduction :</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere id ratione reiciendis ullam. Ab
        adipisci at dolorum eos ipsa labore laudantium magni minima, nihil numquam perferendis possimus, quas quisquam.
        Dolorem nihil omnis provident! Aspernatur harum iste libero natus nulla optio rem suscipit vitae!</p>

      <h5>User Agreements :</h5>
      <p>The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century.
        Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains
        a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of
        most European languages in Latin script. The advantage of its Latin origin and the relative meaninglessness of
        Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the
        layout.</p>

      <p>There is now an abundance of readable dummy texts. These are usually used when a text is required purely to
        fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or
        nonsensical stories.</p>

      <p>It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate
        that over the course of time certain letters were added or deleted at various positions within the text.</p>

      <h5>Restrictions :</h5>
      <p>You are specifically restricted from all of the following :</p>
      <ul>
        <li>Digital Marketing Solutions for Tomorrow</li>
        <li>Our Talented & Experienced Marketing Agency</li>
        <li>Create your own skin to match your brand</li>
        <li>Digital Marketing Solutions for Tomorrow</li>
        <li>Our Talented & Experienced Marketing Agency</li>
        <li>Create your own skin to match your brand</li>
      </ul>

      <h5>Users Question & Answer :</h5>
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#fqOne" aria-expanded="false" aria-controls="fqOne">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit?
            </button>
          </h2>
          <div id="fqOne" class="accordion-collapse collapse" data-bs-parent="#fq">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus est incidunt iusto
              nihil quam quasi quibusdam. Reprehenderit, saepe, ullam!
            </div>
          </div>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#fqTwo" aria-expanded="false" aria-controls="fqTwo">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sed?
            </button>
          </h2>
          <div id="fqTwo" class="accordion-collapse collapse" data-bs-parent="#fq">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque distinctio incidunt iusto
              laboriosam modi nisi quis rem repellat voluptatem?
            </div>
          </div>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#fqThree" aria-expanded="false" aria-controls="fqThree">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae dignissimos saepe?
            </button>
          </h2>
          <div id="fqThree" class="accordion-collapse collapse" data-bs-parent="#fq">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur commodi debitis
              doloremque ipsum officiis quae quisquam reprehenderit repudiandae!
            </div>
          </div>
        </div>
      </div>

      <div class="date-tag">
        last updated on 01/01/2024
      </div>
    </div>
  </div>
</div>
