<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>We Are Built With...</h1>
    <p>Talent Boozt > <span>Built With</span></p>
  </div>
</div>

<div class="container">
  <p>At the core of our job portal application, we have carefully chosen technologies that ensure seamless performance,
    security, and a user-friendly experience. Here’s a look at what powers our platform:</p>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="image-wrapper">
          <img src="./assets/imgs/we-built-with/banner-1.webp" alt="banner">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div>
          <div class="title">Core Technologies</div>
          <ul>
            <li><strong>Angular: </strong>&nbsp;A dynamic front-end framework that delivers a responsive and intuitive
              user interface for both job seekers and employers.
            </li>
            <li><strong>Spring Boot: </strong>&nbsp;Our powerful backend built with Spring Boot handles business logic
              and processes all requests efficiently.
            </li>
            <li><strong>MongoDB: </strong>&nbsp;A robust NoSQL database that securely manages and stores user data, job
              postings, applications, and more.
            </li>
          </ul>

          <div class="title">Media & Storage Solutions</div>
          <ul>
            <li><strong>Amazon S3: </strong>&nbsp;We use Amazon S3 to host and store job-related files, such as resumes,
              cover letters, and other relevant documents.
            </li>
            <li><strong>Firebase & Firestore: </strong>&nbsp;Trusted cloud services that store media files, such as
              resumes, images, and videos, ensuring quick access and high availability.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-7">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div>
          <div class="title">Hosting & Deployment</div>
          <ul>
            <li><strong>Netlify: </strong>&nbsp;Our frontend is hosted on Netlify, optimized for speed and reliability,
              connected to a GoDaddy domain for seamless access.
            </li>
            <li><strong>AWS: </strong>&nbsp;The backend services run on AWS, utilizing EC2 for scalability, S3 for
              secure file storage, and Elastic APIs for smooth data flow.
            </li>
            <li><strong>MongoDB Atlas: </strong>&nbsp;Hosted on Atlas clusters, our database is fully managed and
              monitored for high performance, with advanced security powered by Crypto.js.
            </li>
          </ul>

          <div class="title">Secure Payment Solutions</div>
          <ul>
            <li><strong>2Checkout: </strong>&nbsp;We offer secure and hassle-free payment processing through 2Checkout,
              supporting international payments for our employer subscription packages (Free, Pro, Premium).
            </li>
          </ul>

          <div class="title">Third-Party Integrations</div>
          <ul>
            <li><strong>LinkedIn: </strong>&nbsp;Our platform integrates with LinkedIn, enabling job seekers to connect
              with their network of potential employers.
            </li>
            <li><strong>OAuth Logins: </strong>&nbsp;Simplified account management with third-party authentication from
              Google, GitHub, Facebook, and LinkedIn, ensuring a smooth registration process.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="image-wrapper">
          <img
            [src]="themeService.isDarkMode()?'./assets/imgs/we-built-with/banner-2-d.webp':'./assets/imgs/we-built-with/banner-2.webp'"
            alt="banner">
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="title">Design & UI</div>
      <p>Our visually engaging, user-friendly interface is made possible by a range of design tools and libraries,
        including:</p>
      <ul>
        <li><strong><a href="https://fontawesome.com/" target="_blank">Font Awesome<i
          class="material-icons">open_in_new</i></a>: </strong>&nbsp;Providing clean and stylish icons
        </li>
        <li><strong>Material Design & Bootstrap: </strong>&nbsp;Ensuring a consistent, responsive layout across devices.
        </li>
        <li><strong><a href="https://www.svgrepo.com/" target="_blank">SVG Repo<i class="material-icons">open_in_new</i></a>,
          <a href="https://icons8.com/" target="_blank">Icons8<i class="material-icons">open_in_new</i></a>,
          <a href="https://www.freepik.com/" target="_blank">Freepik<i class="material-icons">open_in_new</i></a>:
        </strong>&nbsp;Supporting our design needs with quality images, vectors, and icons.
        </li>
        <li><strong><a href="https://lottiefiles.com">Lottie Files<i
          class="material-icons">open_in_new</i></a>:</strong>&nbsp;Supporting animations in our platform.
        </li>
        <li><strong>Google Fonts: </strong>&nbsp;Ensuring consistent typography across our UI.</li>
        <li><strong>Figma: </strong>&nbsp;A powerful design tool that helped us prototype and iterate quickly for the
          best user experience.
        </li>
      </ul>

      <div class="title">Continuous Integration & Deployment</div>
      <ul>
        <li><strong>GitHub Actions & Pipelines: </strong>&nbsp;We ensure continuous deployment of new features and
          improvements, using GitHub Actions to build and release our application versions seamlessly.
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <div class="title">Previous Releases</div>
      <ul>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.11/">V1.0.11</a>: The release of our platform.
        </li>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.10/">V1.0.10</a>: The release of our platform.
        </li>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.9/">V1.0.9</a>: The release of our platform.</li>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.9-beta/">V1.0.9-beta</a>: The release of our
          platform.
        </li>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.8/">V1.0.8</a>: The release of our platform.</li>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.7/">V1.0.7</a>: The release of our platform.</li>
        <li><a href="https://talentboozt.github.io/Public_Job_Bord/1.0.7-beta/">V1.0.7-beta</a>: The release of our
          platform.
        </li>
        <li><a href="https://hrisportal.netlify.app/">V1.0.0</a>: The initial release of our platform.</li>
      </ul>
    </div>
  </div>
</div>
