<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Payout</h1>
    <p>Talent Boozt > <span>payout</span></p>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="card-checkout form-card-1">
      <div class="card-title sm">Billing Details</div>
      <div class="error-msg">This feature is <b>under development!</b> Don't make any payments and we are <b>not
        responsible</b> for your money!
      </div>
      <div class="hr"></div>
      <div class="card-body w-100">
        <div class="d-flex flex-column gap-2 align-items-start w-100">
          <p><Strong>Account: </Strong>012345678</p>
          <p><Strong>Bank: </Strong>Central Bank</p>
          <p><Strong>Branch: </Strong>Downtown</p>
        </div>
      </div>
      <div class="hr"></div>
      <div class="card-body">
        <form [formGroup]="billingForm">
          <div class="row form-wrapper">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="fname">First Name *</label>
                <input type="text" class="form-control" id="fname" placeholder="John" formControlName="fname">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="lname">Last Name *</label>
                <input type="text" class="form-control" id="lname" placeholder="Doe" formControlName="lname">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="country">Country *</label>
                <input type="text" class="form-control" id="country" placeholder="USA" formControlName="country">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="address">Address *</label>
                <textarea type="text" class="form-control" id="address"
                          placeholder="13th Street. 47 W 13th St, New York" formControlName="address"></textarea>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="phone">Mobile Number *</label>
                <input type="text" class="form-control" id="phone" placeholder="+1 123 456 7890"
                       formControlName="phone">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="slip">Upload the Bank Slip *</label>
                <input type="file" class="form-control" id="slip"
                       (change)="uploadFile($event, 'portal/payments/bank_slips/' + generateRandomId())">
                <div class="error-msg">Only .pdf, .jpg, .jpeg, .png file types allowed. Maximum file upload size is
                  2MB.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-end gap-3 w-100">
                <button class="btn-2" (click)="cancel()">Cancel</button>
                <button class="btn-1" (click)="pay()">Pay</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-bottom">
        <p class="error-msg"><i class="material-icons">info</i>&nbsp;Direct Bank Transactions are only available to the
          <b>Finland</b> users! We are <b>not responsible</b> for other countries!</p>
      </div>
    </div>
  </div>
</div>
