<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2 class="h2-1 mt-5">Hi,</h2>
      <h2 class="h2-2">{{employee?.employee?.firstname ? employee?.employee?.firstname : 'User'}}</h2>

      <div class="d-flex align-items-center justify-content-center w-100 my-5 c-j-progress" *ngIf="formLocked">
        <div class="check-ball" [ngClass]="'active'" title="Account Creation">
          <i class="material-icons">check</i>
          <div class="tag">Account Creation</div>
        </div>
        <div class="check-line"></div>
        <div class="check-ball" [ngClass]="cname&&cemail&&cphone&&chq?'active':''" title="Company Details">
          <i class="material-icons">check</i>
          <div class="tag">Company Details</div>
          <button class="btn-1" (click)="open_form()">Quick Add</button>
        </div>
        <div class="check-line"></div>
        <div class="check-ball ready" [ngClass]="formLocked?'':'active'" title="Post Your Job">
          <i class="material-icons">{{formLocked?'lock_outline':'lock_open'}}</i>
          <div class="tag">Post Your Job</div>
          <button class="btn-1" [disabled]="formLocked" routerLink="/pro/post-job">Post Job</button>
        </div>
      </div>

      <div class="notification-area">
        <div>
          <p class="not-title-1">See what's new!</p>
          <p>Currently you do not have any new notifications</p>
        </div>
        <div>
          <p class="not-title-2">Older notifications</p>
          <p>Currently you do not have any new notifications</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="w-100 d-flex align-items-center justify-content-end">
        <div class="col col-lg-8">
          <div class="card-1">
            <div class="d-flex align-items-center justify-content-around justify-content-md-between">
              <div>
                <mat-progress-spinner
                  class="progress-spinner"
                  [mode]="progressMode"
                  [value]="progressValue">
                </mat-progress-spinner>
              </div>
              <div>
                <div class="title-1">Business Profile Completion</div>
                <p class="m-0">{{progressValue}}%</p>
              </div>
            </div>
          </div>

          <div class="card-1">
            <div class="d-flex align-items-center justify-content-around justify-content-md-between">
              <div>
                <mat-progress-spinner
                  class="progress-spinner"
                  [mode]="personalProgressMode"
                  [value]="personalProgressValue">
                </mat-progress-spinner>
              </div>
              <div>
                <div class="title-1">Personal Profile Completion</div>
                <p class="m-0">{{personalProgressValue}}%</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 d-flex align-items-center justify-content-end">
        <div class="col col-lg-8">
          <div class="card-1">
            <div class="title-1">Latest Ads Posted</div>
            <div class="row" *ngFor="let p of jobPosts">
              <div class="col-12">
                <div class="card-1">
                  <div class="title-2" routerLink="/job-details/{{p.id}}">{{p.title}}</div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <p class="m-0">Posted: {{p.datePosted | timeAgo}}</p>
                      <p class="m-0">Expired: {{p.expiryDate | date}}</p>
                    </div>
                    <div>
                      <p class="m-0">{{getViews(p.id)}} Views</p>
                      <p class="m-0">{{getApplicants(p.id)}} Applicants</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p *ngIf="jobPosts?.length == 0">Currently you do not have any shared ads</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && serverError">
  <app-failed-to-load-data></app-failed-to-load-data>
</div>
<div *ngIf="notFound && company.length == 0">
  <app-result-not-found></app-result-not-found>
</div>
<div *ngIf="corsError">
  <app-network-error></app-network-error>
</div>
<div *ngIf="forbidden && company.length == 0 || unexpectedError">
  <app-forbidden></app-forbidden>
</div>

<button type="button" id="quick_details_model_open" class="d-none" data-bs-toggle="modal" data-bs-target="#quick_details"></button>
<div class="modal fade" id="quick_details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="quick_detailsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="quick_detailsLabel">Quick Profile Unlocking</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column gap-2">
          <p class="mb-0">These fields are required to unlock your profile!</p>
          <form [formGroup]="profileCompletionForm" class="w-100">
            <h6>Required Company Details:</h6>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="cname">Company Name *</label>
                  <input type="text" class="form-control" id="cname" formControlName="cname">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="cemail">Company Email *</label>
                  <input type="email" class="form-control" id="cemail" formControlName="cemail">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="cphone">Company Phone *</label>
                  <input type="text" class="form-control" id="cphone" formControlName="cphone">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="chq">Company HQ *</label>
                  <input type="text" class="form-control" id="chq" formControlName="chq">
                </div>
              </div>
            </div>

            <h6 class="mt-2">Required Employer Details:</h6>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="uname">Your Name *</label>
                  <input type="text" class="form-control" id="uname" formControlName="uname">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="udesignation">Your Designation *</label>
                  <input type="text" class="form-control" id="udesignation" formControlName="udesignation">
                </div>
              </div>
            </div>
          </form>
          <p class="mb-0">These are the minimalistic details required to unlock your profile. Please complete all information
          to better looking from business settings page :)</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="quick_details_model_close" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn-1" [disabled]="loading"
                (click)="completeActivation()">{{loading ? 'Saving...' : 'Save'}}</button>
      </div>
    </div>
  </div>
</div>
