<div *ngFor="let f of followers">
  <div class="d-flex align-items-center justify-content-between w-100 py-2">
    <div class="profile-wrapper">
      <a href="">
        <img [src]="f.followerImage || './assets/imgs/shared/default_emp_dp.svg'" alt="profile" loading="lazy">
      </a>
    </div>
    <div class="d-flex flex-column align-items-start justify-content-center w-100 gap-1">
      <div class="name-tag"><a href="">{{f.followerName || 'N/A'}}</a></div>
      <div class="career-tag">{{f.followerOccupation || ' '}}</div>
      <div class="location-tag">{{f.followerLocation || ' '}}</div>
    </div>
    <div class="button-wrapper">
      <button class="follow-btn">Follow</button>
    </div>
  </div>
  <hr>
</div>
