<div *ngFor="let f of followers">
  <div class="d-flex align-items-center justify-content-between w-100 py-2">
    <div class="profile-wrapper">
      <a href="/candidate-profile?id={{f.followerId}}">
        <img [src]="f.followerImage || './assets/imgs/shared/default_emp_dp.svg'" alt="profile" loading="lazy">
      </a>
    </div>
    <div class="d-flex flex-column align-items-start justify-content-center w-100 gap-1">
      <div class="name-tag"><a href="/candidate-profile?id={{f.followerId}}">{{f.followerName || 'N/A'}}</a></div>
      <div class="career-tag">{{(f.followerOccupation | truncate:30) || ' '}}</div>
      <div class="location-tag">{{f.followerLocation || ' '}}</div>
    </div>
    <div class="button-wrapper">
      <button *ngIf="f.followerId != myId" class="follow-btn" [disabled]="!followBtn"
              (click)="followingIds.includes(f.followerId) ? unfollow(f) : follow(f)">
        {{followingIds.includes(f.followerId) ? 'Unfollow' : 'Follow'}}</button>
    </div>
  </div>
  <hr>
</div>

<div class="py-4 px-2" *ngIf="followers?.length == 0 || !followers">
  <p>Currently this user does not have any followers</p>
</div>
