.card-checkout{
  border: none;
  border-radius: 0;
  background-color: var(--color-surface-100);
  padding: 0;
  width: 100%;
  max-width: 700px;
  margin-bottom: max(20px, 2.5vw);

  .hr{
    width: 100%;
    height: 1px;
    background-color: var(--color-surface-mixed-400);
  }

  .card-title, .card-body, .card-bottom{
    padding: 12px max(20px, 2.5vw);
  }

  .card-title{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-text-100);
  }

  .card-title.sm{
    font-size: 22px;
  }

  .card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px max(20px, 2.5vw);
  }
}

.stripe-element {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
