<div class="container">
  <div class="row flex-row-reverse">
    <div class="col-12 col-md-6">
      <div class="image-wrapper">
        <img src="./assets/imgs/shared/thank-you.svg" alt="thank you">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="content">
        <div class="title">Thank You!</div>
        <div class="paragraph">Thank you for contacting Talentboozt, buying a product or add our products to your
          wishlist. If you need a further assistance or have any concerns, don't hesitate to drop us a message! We will
          contact you as soon as possible :)
        </div>
        <button class="btn-1" routerLink="/home">Go Back Home</button>
        <div class="support-area">
          <a href="mailto:talentboozt@gmail.com">Contact Support</a>
          <a href="https://talentboozt.com/privacy-policy">Privacy Policy</a>
          <a href="https://talentboozt.com/terms-and-conditions">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</div>
