<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>Back-End Developer</h1>
    <p>Job Stack > Job Apply Form > <span>Backend Developer</span></p>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center justify-content-center w-100">

    <div class="form-card-1">
      <form action="">
        <div class="row form-wrapper">
          <div class="col-12">
            <div class="form-group">
              <label for="name">Your Name</label>
              <input type="text" class="form-control" id="name" placeholder="John Doe">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="XwVpP@example.com">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" class="form-control" id="phone" placeholder="123 456 7890">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="location">Location</label>
              <select class="form-control" id="location">
                <option>Location 1</option>
                <option>Location 2</option>
                <option>Location 3</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="cover">Covering Letter</label>
              <textarea class="form-control" id="cover" rows="5" placeholder="Covering Letter"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="resume">Upload Resume</label>
              <input type="file" class="form-control" id="resume">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <button type="submit" class="btn-1">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
