.card-4-section{
  .card-4{

    .icon-wrapper{
      width: 60px;
      height: 60px;
      padding: 10px;

      img{
        width: 100%;
      }
    }

    &:hover{
      background-color: var(--color-primary-600-opacity-3);

      .icon-wrapper{
        background-color: var(--color-primary-600-opacity-9);
      }
    }
  }
}

strong{
  font-weight: 450;
}
