<div class="top-banner" *ngFor="let p of filterJobData()">
  <div class="curved-div" [ngStyle]="{'background-image': p.jobBanner ? 'url(' + p.jobBanner + ')' : ''}">
    <div class="overlay"></div>
  </div>

  <div class="d-flex align-items-center justify-content-center flex-column w-100 h100 banner-cont">
    <h1>{{p.title}}</h1>
    <p>Talent Boozt > Job Details > <span>{{p.title}}</span></p>
  </div>
</div>

<div class="container" style="max-width: clamp(320px, 90%, 1200px);">
  <div class="row" *ngFor="let j of filterJobData()">
    <div class="col-12 col-md-4 col-lg-3 left-side">
      <div class="job-details-card">
        <div class="job-details-card-top">
          <div class="title-1">Job Information</div>
        </div>
        <hr>
        <div class="job-details-card-content">
          <div class="job-info-item">
            <i class="material-icons">how_to_reg</i>
            <div class="d-flex flex-column">
              <p class="tag">Employee Type:</p>
              <p class="tag-data">{{j.employeeType}}</p>
            </div>
          </div>
          <div class="job-info-item">
            <i class="material-icons">location_pin</i>
            <div class="d-flex flex-column">
              <p class="tag">Location:</p>
              <p class="tag-data">{{j.location}}</p>
            </div>
          </div>
          <div class="job-info-item">
            <i class="material-icons">personal_video</i>
            <div class="d-flex flex-column">
              <p class="tag">Job Type:</p>
              <p class="tag-data">{{j.jobType}}</p>
            </div>
          </div>
          <div class="job-info-item">
            <i class="material-icons">cases</i>
            <div class="d-flex flex-column">
              <p class="tag">Experience:</p>
              <p class="tag-data">{{j.exShortDesc}}</p>
            </div>
          </div>
          <div class="job-info-item">
            <i class="material-icons">book</i>
            <div class="d-flex flex-column">
              <p class="tag">Qualifications:</p>
              <p class="tag-data">{{j.eduShortDesc}}</p>
            </div>
          </div>
          <div class="job-info-item">
            <i class="material-icons">attach_money</i>
            <div class="d-flex flex-column">
              <p class="tag">Salary:</p>
              <p class="tag-data">${{j.minSalary}} - ${{j.maxSalary}}</p>
            </div>
          </div>
          <div class="job-info-item">
            <i class="material-icons">access_time</i>
            <div class="d-flex flex-column">
              <p class="tag">Date Posted:</p>
              <p class="tag-data">{{j.datePosted | dateFormat}}</p>
            </div>
          </div>
          <hr>
          <div class="job-info-item">
            <i class="material-icons">favorite_border</i>
            <div class="d-flex flex-column">
              <p class="tag">Save for later:</p>
              <button class="btn-1" (click)="userSavedIds.includes(j.id) ? removeFav(j.id) :saveFav(j.id)">{{userSavedIds.includes(j.id) ? 'Saved' : 'Save'}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="job-description">
          <div class="title-1 mb-2">Job Description:</div>
          <p *ngFor="let d of j.description.split('\n')">{{d}}</p>

          <div *ngIf="j.requirements">
            <div class="title-1 mb-2">Requirements:</div>
            <ul *ngFor="let re of j.requirements.split('\n')">
              <li>{{re}}</li>
            </ul>
          </div>
          <div *ngIf="j.experience">
            <div class="title-1 mb-2">Required Experience:</div>
            <ul *ngFor="let ex of j.experience.split('\n')">
              <li>{{ex}}</li>
            </ul>
          </div>
          <div *ngIf="j.education">
            <div class="title-1 mb-2">Required Educational Qualifications:</div>
            <ul *ngFor="let ed of j.education.split('\n')">
              <li>{{ed}}</li>
            </ul>
          </div>
          <div *ngIf="j.qualifications">
            <div class="title-1 mb-2">Required Additional Qualifications:</div>
            <ul *ngFor="let q of j.qualifications.split('\n')">
              <li>{{q}}</li>
            </ul>
          </div>
          <div *ngIf="j.skills">
            <div class="title-1 mb-2">Skills:</div>
            <ul *ngFor="let sk of j.skills.split('\n')">
              <li>{{sk}}</li>
            </ul>
          </div>
          <div *ngIf="j.responsibilities">
            <div class="title-1 mb-2">Responsibilities and Duties:</div>
            <ul *ngFor="let r of j.responsibilities.split('\n')">
              <li>{{r}}</li>
            </ul>
          </div>
          <div *ngIf="j.offer">
            <div class="title-1 mb-2">What You Will Get:</div>
            <ul *ngFor="let o of j.offer.split('\n')">
              <li>{{o}}</li>
            </ul>
          </div>

          <button class="btn-1" (click)="navigateToApplyJob()">Apply Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-topic-section">
    <h3>Related Vacancies</h3>
    <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+
      companies worldwide.</p>
  </div>

  <div class="container popular-jobs">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mb-4" *ngFor="let p of filterJobsAds() | truncateComments: 2; let i = index">
          <div class="card-1">
            <div class="card-top">
              <div class="card-top-left d-flex align-items-center">
                <div class="logo-icon-wrapper">
                  <div class="logo-icon">
                    <img
                      src="{{p.companyLogo}}"
                      alt="{{p.companyName}}">
                  </div>
                </div>
                <div class="d-flex flex-column align-items-start justify-content-between">
                  <div class="company-name">{{p.companyName}}</div>
                  <div class="opens-ago">{{p.datePosted | timeAgo}}</div>
                </div>
              </div>
              <div class="card-top-right">
                <div class="visit-link-circle" (click)="userSavedIds.includes(p.id) ? removeFav(p.id) :saveFav(p.id)">
                  <i class="material-icons" [ngClass]="userSavedIds.includes(p.id) ? 'liked' : ''">favorite_border</i>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-content">
              <div class="card-content-left">
                <div class="d-flex flex-column align-items-start">
                  <div class="job-title" (click)="navigateToJobDetails(p.id)">{{p.title}}</div>
                  <div class="open-positions">Total Openings: {{p.totalOpenings}}</div>
                </div>
              </div>
              <div class="card-content-right">
                <div class="salary-range"><i class="fa fa-usd" aria-hidden="true"></i> ${{p.minSalary}} - ${{p.maxSalary}}</div>
              </div>
            </div>
            <hr>
            <div class="card-bottom">
              <div *ngIf="p.companyLevel != '1'"></div>
              <div class="card-bottom-left" *ngIf="p.companyLevel == '1'">
                <i class="material-icons">verified</i>
                <span>Verified</span>
              </div>
              <div class="card-bottom-right">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{p.location}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-3">
    <div class="d-md-flex align-items-center justify-content-between card-content">
      <div style="max-width: 600px">
        <div class="title-2 mb-3">Explore a job now!</div>
        <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over
          30000+ companies worldwide.</p>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn-1" routerLink="/job">Apply Now</button>
        <button class="btn-2" routerLink="/learn-more-jobs">Learn More</button>
      </div>
    </div>

    <div class="mail-icon">
      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="lg:text-[150px] text-7xl text-black/5 dark:text-white/5 ltr:-rotate-45 rtl:rotate-45" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg>
    </div>
    <div class="pencil-icon">
      <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 16 16" class="lg:text-[150px] text-7xl text-black/5 dark:text-white/5 rtl:-rotate-90" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path></svg>
    </div>
  </div>
</div>
