<div *ngIf="loading"><app-page-loading></app-page-loading></div>
<div>
  <div class="top-banner" style="overflow-x: hidden">
    <div class="curved-div" [ngStyle]="{'background-image': company?.company?.profileBanner ? 'url(' + company?.company?.profileBanner + ')' : ''}">
      <div class="overlay"></div>
    </div>

    <div class="container">
      <div class="d-flex align-items-center justify-content-center w-100 position-relative">
        <div class="org-top-card">
          <div class="d-md-flex align-items-center justify-content-center">
            <div class="d-sm-flex align-items-center justify-content-between w-100">
              <div class="right-cont">
                <div class="d-flex align-items-center mb-3 mb-sm-0">
                  <div class="company-logo">
                    <img [src]="company?.company?.logo ? company?.company?.logo : './assets/imgs/shared/default_org_logo.svg'"
                         alt="logo">
                  </div>
                  <div class="d-flex flex-column">
                    <div class="company-name">{{company?.company?.name ? company?.company?.name : 'Not Provided'}}</div>
                    <div class="company-location"><i class="material-icons">location_on</i> {{company?.company?.location ? company?.company?.location : 'Not Provided'}}</div>
                  </div>
                </div>
              </div>
              <div class="left-cont">
                <button class="btn-1" (click)="goProfileSettings()">Edit</button>
                <button class="btn-2" (click)="goSeeJobs()">See Jobs</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row my-3 second-content">
      <div class="col-12 col-md-6 col-lg-8 left-side">
        <div *ngIf="company?.company?.story">
          <h5>Company Story</h5>
          <p *ngFor="let s of company?.company?.story.split('\n')">{{s}}</p>
        </div>

        <div class="row row-gap-3">
          <div class="col-12" *ngIf="company?.company?.image1">
            <img [src]="company?.company?.image1" alt="main image"
                 class="org-img">
          </div>
          <div class="col-12 col-sm-6" *ngIf="company?.company?.image2">
            <img [src]="company?.company?.image2" alt="second image"
                 class="org-img">
          </div>
          <div class="col-12 col-sm-6" *ngIf="company?.company?.image3">
            <img [src]="company?.company?.image3" alt="third image"
                 class="org-img">
          </div>
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center mb-4 mb-md-0" *ngIf="progressValue < 10">
          <p>Please setup your company profile</p>
          <button class="btn-1" (click)="goProfileSettings()">Setup Profile</button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 right-side">
        <div class="details-card-1">
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">emoji_events</i><span>Founded:</span></div>
            <div class="value">{{company?.company?.foundedDate ? company?.company?.foundedDate : 'N/A'}}</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">admin_panel_settings</i><span>Founder:</span></div>
            <div class="value">{{company?.company?.founderName ? company?.company?.founderName : 'N/A'}}</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">business</i><span>Head Quarters:</span></div>
            <div class="value">{{company?.company?.location ? company?.company?.location : 'N/A'}}</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">manage_accounts</i><span>Number of Employees:</span></div>
            <div class="value">{{company?.company?.numberOfEmployees ? company?.company?.numberOfEmployees : 'N/A'}}</div>
          </div>
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="caption"><i class="material-icons">language</i><span>Website:</span></div>
            <div class="value">{{company?.company?.website ? company?.company?.website : 'N/A'}}</div>
          </div>

          <div class="d-flex align-items-center justify-content-between w-100" *ngIf="company?.socials.length > 0">
            <div class="caption">Social:</div>
            <div class="item-set" *ngFor="let s of company?.socials">
              <div class="social-item" *ngIf="s?.linkedin">
                <a [href]="s?.linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
              <div class="social-item" *ngIf="s?.facebook">
                <a [href]="s?.facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </div>
              <div class="social-item" *ngIf="s?.instagram">
                <a [href]="s?.instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="social-item " *ngIf="s?.twitter">
                <a [href]="s?.twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
              <div class="social-item" *ngIf="s?.github">
                <a [href]="s?.github"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
              <div class="social-item" *ngIf="company?.company?.email">
                <a href="mailto:{{company?.company?.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && serverError">
  <app-failed-to-load-data></app-failed-to-load-data>
</div>
<div *ngIf="notFound && !company?.company">
  <app-result-not-found></app-result-not-found>
</div>
<div *ngIf="corsError">
  <app-network-error></app-network-error>
</div>
<div *ngIf="forbidden && !company?.company || unexpectedError">
  <app-forbidden></app-forbidden>
</div>
