.org-top-card{
  width: 100%;
  min-height: 60px;
  background-color: var(--color-surface-mixed-100);
  border-radius: 5px;
  border: 2px solid var(--color-surface-mixed-300);
  padding: 16px;
  position: absolute;
  top: 40px;
  z-index: 9;

  .right-cont{
    .company-logo{
      width: 100px;
      height: 100px;
      border: 1px solid var(--color-surface-mixed-300);
      background-color: var(--color-surface-mixed-200);
      padding: 16px;
      border-radius: 8px;
      overflow: hidden;
      margin-right: 16px;

      img{
        width: 100%;
      }
    }

    .company-name{
      font-size: 22px;
      font-weight: 600;
      color: var(--color-text-100);
    }

    .company-location{
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-text-300);

      i{
        font-size: 16px;
      }
    }
  }

  .left-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
  }
}

.second-content{
  .left-side{
    padding: 25px 25px 0;

    h5{
      margin: 24px 0;
    }

    p{
      br{
        display: block;
        content: "";
        margin-bottom: 10px;
      }
    }

    .caption, .value{
      font-size: 14px;
      color: var(--color-text-300);
      margin-bottom: 5px;
    }

    .org-img{
      width: 100%;
      max-height: 50vh;
      border-radius: 8px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .right-side{
    height: fit-content;
    position: sticky;
    top: 0;

    i{
      font-size: 16px;
    }

    .sub-card{
      p{
        margin: 0;
        padding: 0;
      }
      i{
        font-size: 32px;
        color: var(--color-text-300);
        margin-right: 10px;
      }

      .btn-1{
        width: 100%;
        color: #e6e6e6;

        i{
          color: #e6e6e6;
          font-size: 18px;
        }
      }
    }
  }
}
