<div class="top-banner">
  <div class="curved-div">
    <div class="overlay"></div>
  </div>

  <div class="container">
    <div class="d-flex align-items-center justify-content-center w-100 position-relative">
      <div class="org-top-card">
        <div class="d-md-flex align-items-center justify-content-center">
          <div class="d-sm-flex align-items-center justify-content-between w-100">
            <div class="right-cont">
              <div class="d-flex align-items-center mb-3 mb-sm-0">
                <div class="company-logo">
                  <img src="https://jobstack-shreethemes.vercel.app/static/media/google-logo.28878765ba39f327cf3e.png" alt="logo">
                </div>
                <div class="d-flex flex-column">
                  <div class="company-name">Google</div>
                  <div class="company-location"><i class="material-icons">location_on</i> France, Paris</div>
                </div>
              </div>
            </div>
            <div class="left-cont">
              <button class="btn-1">Follow</button>
              <button class="btn-2">See Jobs</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
