<div class="container">
  <div class="spec-card-1">
    <div class="d-md-flex align-items-center justify-content-between w-100">
      <div>
        <div class="title">
          Are you looking for employees?
        </div>
        <div class="sub-title">
          Start to post your jobs now!
        </div>
      </div>

      <button class="btn-1" routerLink="/job-post">Post a Job</button>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <p>Job Ads <span>({{postedJobs?.postedJobs.length ? postedJobs?.postedJobs.length : 0}})</span></p>
    <p>Remaining Ads for this month
      <span>({{postedJobs?.companyLevel == 2 ? 3 - postedJobs?.postedJobs.length : postedJobs?.companyLevel == 3 ? 10 - postedJobs?.postedJobs.length : postedJobs?.companyLevel == 4 ? 'Unlimited' : 'Not Initialized'}})</span></p>
  </div>

  <div>
    <div *ngIf="loading">
      <app-page-loading></app-page-loading>
    </div>

    <div class="popular-jobs">
      <div class="row">
        <div class="col-12 col-md-4 mb-3" *ngFor="let p of postedJobs?.postedJobs">
          <div class="card-1">
            <div class="card-top">
              <div class="card-top-left d-flex align-items-center">
                <div class="logo-icon-wrapper">
                  <div class="logo-icon">
                    <img
                      [src]="postedJobs?.companyLogo ? postedJobs?.companyLogo : './assets/imgs/shared/default_org_logo.svg'"
                      alt="logo">
                  </div>
                </div>
                <div class="d-flex flex-column align-items-start justify-content-between">
                  <div class="company-name">{{postedJobs?.companyName ? postedJobs?.companyName : 'N/A'}}</div>
                  <div class="opens-ago">{{p.datePosted | timeAgo}}</div>
                </div>
              </div>
              <div class="card-top-right">
                <div class="dropdown">
                  <div class="visit-link-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons">more_horiz</i>
                  </div>
                  <ul class="dropdown-menu">
                    <li *ngIf="!isExpired(p.expiryDate)"><a class="dropdown-item" href="#">View</a></li>
                    <li *ngIf="!isExpired(p.expiryDate)"><a class="dropdown-item" href="#">Edit and Update</a></li>
                    <li><a class="dropdown-item" href="#">{{isExpired(p.expiryDate) ? 'Reopen' : 'Close'}} the Job</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item danger" href="#">Delete</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-content">
              <div class="card-content-left">
                <div class="d-flex flex-column align-items-start">
                  <div class="job-title">{{p.title ? p.title : 'N/A'}}</div>
                  <div class="open-positions">Total Openings: {{p.totalOpenings ? p.totalOpenings : 'N/A'}}</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-bottom">
              <div class="card-bottom-left" *ngIf="postedJobs.companyLevel >= 3">
                <i class="material-icons">verified</i>
                <span>Verified</span>
              </div>
              <div class="card-bottom-right">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{p.location ? p.location : 'N/A'}}</span>
              </div>
            </div>

            <div class="expired" *ngIf="isExpired(p.expiryDate)">
              <p>Expired! This Ad is no longer available!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!loading && serverError">
      <app-failed-to-load-data></app-failed-to-load-data>
    </div>
    <div *ngIf="notFound && !company?.company">
      <app-result-not-found></app-result-not-found>
    </div>
    <div *ngIf="!postedJobs?.postedJobs">
      <app-result-not-found></app-result-not-found>
    </div>
    <div *ngIf="corsError">
      <app-network-error></app-network-error>
    </div>
    <div *ngIf="forbidden && !company?.company || unexpectedError">
      <app-forbidden></app-forbidden>
    </div>
  </div>

</div>
