.card-1{
  position: relative;

  .expired, .scheduled{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 16px;
    background-color: var(--color-danger-100);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px;

    p{
      color: white;
      margin: 0;
    }
  }
  
  .scheduled{
    background-color: var(--color-highlight-100);
  }
}

.dropdown{
  .dropdown-menu{
    .dropdown-item.danger{
      color: var(--color-danger-100);
    }
  }
}
